<section class="example-wrap">
  <header>
    <h2 id="forms-simple">Simple</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/forms/simple.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/forms/simple.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="forms-input-group">Input/Button Group</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/forms/input-group.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/forms/input-group.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="forms-cols">Columns</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/forms/columns.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/forms/columns.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="forms-horizontal">Horizontal</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/forms/horizontal.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/forms/horizontal.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="forms-inline">Inline</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/forms/inline.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/forms/inline.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="forms-options">Options</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/forms/options.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/forms/options.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="forms-message">With Message</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/forms/with-msg.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/forms/with-msg.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="forms-cta">With Call-to-Action</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/forms/with-cta.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/forms/with-cta.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="forms-gift-card">Gift Card</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/forms/gift-card.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/forms/gift-card.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="forms-address">Address</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/forms/address.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/forms/address.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="forms-add-cc">Add Credit Card</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/forms/add-cc.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/forms/add-cc.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="forms-add-address">Add Address</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/forms/add-address.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/forms/add-address.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="forms-locator">Store Locator</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/forms/store-locator.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/forms/store-locator.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="forms-locator-sidebar">Store Locator in Sidebar</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/forms/store-locator-sidebar.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/forms/store-locator-sidebar.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="forms-login">Login</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/forms/login.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/forms/login.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="forms-login-checkout">Login (Checkout Version)</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/forms/login-checkout.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/forms/login-checkout.html %}
      {% endhighlight %}
    </div>
  </div>
</section>