<div class="login-wrap login-wrap-cta">
  <div class="row">
    <div class="col-md-6">
      <div class="login-form">
        <h2>Heading</h2>
        {% include _molecules/forms/horizontal.html %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="login-cta">
        <h2>CTA Heading</h2>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis totam.</li>
          <li>Ratione deleniti ipsum minus vel facilis excepturi dolore officia ex provident impedit ipsa, asperiores quaerat magnam numquam.<br>
            <a href="">Dolor Amet</a></li>
        </ul>
        {% include _atoms/buttons/button.html btnClass='btn-default' btnLabel='Submit' %}
      </div>
    </div>
  </div>
</div>