{% if page.brand == 'whbm' %}
  <p>“We are dedicated to becoming your go-to style destination and your authority on wardrobe building.”</p>
  <p>
    <svg class="sig-noce">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sig-noce"></use>
    </svg>
  </p>
  <p>- Donna Noce<br>
    President, White House Black Market
  </p>
  <p>We began as two small Baltimore, Maryland neighborhood boutiques—The White House, opened in 1985 and Black Market, opened in 1995. The vision for each was to be a special, personal style destination for its customers.</p>
  <p>In 1997, the two stores became one and White House Black Market was born. Our vision remained the same as before, as did our commitment to offer unique, individual collections.</p>
  <p>White House Black Market has grown since then, but women continue to inspire us. In boutiques and online, we are dedicated to providing a modern collection for the way you live now.</p>
  <p>Although named for the simplicity of black and white, our curated collections always reflect the latest colors, prints and styles. Our expert stylists can always help transform a closet, style the current trends or create a unique look—and their personalized services are always complimentary.</p>
{% elsif page.brand == 'soma' %}
  <p>At Soma Intimates, we believe Beautiful Begins Underneath<sup>®</sup>.</p>
  <p>Before we opened our first boutique in 2004, we imagined shopping in a place that knows what women really want. A place where lingerie is not just beautiful and sensual, but luxuriously soft and comfortable. A place that caters to women with a fit for every body. A place where warm, personal service is the mantra.</p>
  <p>And so we created Soma.</p>
  <p>More than 250 boutiques later, we continue our quest to know you better. We create products women long for and once discovered, cannot live without. We are revolutionizing women's intimates each and every day with exclusive innovations you can't find elsewhere.</p>
  <p>We haven't stopped there.</p>
  <p>We help you embrace your body by making you look and feel gorgeous. Our Expert Fit Stylists can determine your exact bra size in minutes and wardrobe you with an always perfect fit.</p>
  <p>Not only do we care about what women need, we care for women in need with our semi-annual Soma Bra Donation. To date, we have collected more than 1,121,622 bras.</p>
  <p>What's in store?</p>
  <p>Your unwavering satisfaction with our lingerie inspired us to create Soma loungewear and dresses, modern clothing made of the softest fabrics for day or evening; as well as our Oh My Gorgeous® fine fragrances. And, we will continue to bring you even more beautiful products.</p>
  <p>We are proud to serve women and honored to be Your New Bra Destination<sup>™</sup>.</p>
{% else %}
  <p>For 30 years, we've helped millions of women look as great as they feel. Our chic prints, artisan jackets, and wrinkle-free Travelers collection have built quite a following at our boutiques—but we hear it's our combination of great style, one-of-a-kind details, and warm, personal service that has captured the hearts of women nationwide.</p>
  <p>How do we do it? It's all about you. Honestly. Every time we pick up a pencil to sketch a new design, we think about you: where you're going, what you're doing, what will flatter your body and make you feel fabulous.</p>
  <p>Our associates really are style experts—just walk into any Chico's boutique, and they'll help you coordinate, accessorize, and build a wardrobe that's right for you. Stop by to say hello, make friends, get style tips, and see what's just come in: new designs arrive every week, and each one is specifically created to fit a woman's body and look fantastic.</p>
  <p>Chico's was founded in 1983 as a small boutique selling Mexican folk art and cotton sweaters on Sanibel Island in Florida. Our friendly environment and unique styles connected with customers in a special way that quickly evolved into over 700 Chico's boutiques nationwide, a monthly catalog, and round-the-clock shopping at chicos.com.</p>
  <p>Even as Chico's has grown, our values &ndash; beautiful apparel, exceptional service and deep appreciation for our customers &ndash; still remain at the heart of who we are today.</p>
  <h2>About the Company</h2>
  <p>Chico's FAS, through its brands, Chico's, White House Black Market, Soma Intimates and Boston Proper, is a specialty retailer of private branded, sophisticated, casual-to-dressy clothing, intimates, complementary accessories, and other non-clothing gift items. The Company operates 600 Chico's boutiques and 100 outlets, 402 White House Black Market boutiques and 45 outlets, and 206 Soma Intimates boutiques and 16 outlets, throughout the United States, the District of Columbia, the U.S. Virgin Islands and Puerto Rico. In addition, each brand publishes its own catalog and maintains its own ecommerce website: www.chicos.com, www.whbm.com, www.soma.com and www.bostonproper.com. The newest addition to our family of brands, Boston Proper, is planning to open boutiques in 2013.</p>
{% endif %}