<section class="example-wrap">
  <header>
    <h2 id="modals-simple">Simple</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/modals/modal-simple-trigger.html %}
      {% include _molecules/modals/modal-simple.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/modals/modal-simple-trigger.html %}
      {% include _molecules/modals/modal-simple.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="modals-has-header">Modal with Header</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/modals/modal-has-header-trigger.html %}
      {% include _molecules/modals/modal-has-header.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/modals/modal-has-header-trigger.html %}
      {% include _molecules/modals/modal-has-header.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="modals-signup">Signup</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/modals/modal-signup-trigger.html %}
      {% include _molecules/modals/modal-signup.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/modals/modal-signup-trigger.html %}
      {% include _molecules/modals/modal-signup.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="modals-signup-error">Signup with Error</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/modals/modal-signup-trigger.html error='yes' %}
      {% include _molecules/modals/modal-signup.html error='yes' %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/modals/modal-signup-trigger.html error='yes' %}
      {% include _molecules/modals/modal-signup.html error='yes' %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="modals-gallery">Gallery</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/modals/modal-gallery-trigger.html %}
      {% include _molecules/modals/modal-gallery.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/modals/modal-gallery-trigger.html %}
      {% include _molecules/modals/modal-gallery.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="modals-size">Size</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/modals/modal-size-trigger.html %}
      {% include _molecules/modals/modal-size.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/modals/modal-size-trigger.html %}
      {% include _molecules/modals/modal-size.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="modals-size-calculator">Size Calculator</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/modals/modal-size-calculator-trigger.html %}
      {% include _molecules/modals/modal-size-calculator.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/modals/modal-size-calculator-trigger.html %}
      {% include _molecules/modals/modal-size-calculator.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="modals-quick-view">Quick View</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/modals/modal-quick-view-trigger.html %}
      {% include _molecules/modals/modal-quick-view.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/modals/modal-quick-view-trigger.html %}
      {% include _molecules/modals/modal-quick-view.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="modals-cart">Shopping Cart</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/modals/modal-cart-trigger.html %}
      {% include _molecules/modals/modal-cart.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/modals/modal-cart-trigger.html %}
      {% include _molecules/modals/modal-cart.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="modals-cc">Credit Card</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/modals/modal-cc-trigger.html %}
      {% include _molecules/modals/modal-cc.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/modals/modal-cc-trigger.html %}
      {% include _molecules/modals/modal-cc.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="modals-address">Address</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/modals/modal-address-trigger.html %}
      {% include _molecules/modals/modal-address.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/modals/modal-address-trigger.html %}
      {% include _molecules/modals/modal-address.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="modals-privacy-policy">Privacy Policy</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/modals/modal-privacy-policy-trigger.html %}
      {% include _molecules/modals/modal-privacy-policy.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/modals/modal-privacy-policy-trigger.html %}
      {% include _molecules/modals/modal-privacy-policy.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="modals-terms">Terms &amp; Conditions</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/modals/modal-terms-trigger.html %}
      {% include _molecules/modals/modal-terms.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/modals/modal-terms-trigger.html %}
      {% include _molecules/modals/modal-terms.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="modals-returns">Returns</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/modals/modal-returns-trigger.html %}
      {% include _molecules/modals/modal-returns.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/modals/modal-returns-trigger.html %}
      {% include _molecules/modals/modal-returns.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

{% if page.brand == 'chicos' %}
  <section class="example-wrap">
    <header>
      <h2 id="modals-passport">Passport</h2>
      <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
    </header>
    <div class="example">
      <div class="example-display">
        {% include _molecules/modals/modal-passport-trigger.html %}
        {% include _molecules/modals/modal-passport.html %}
      </div>
      <div class="example-code">
        {% highlight html %}
        {% include _molecules/modals/modal-passport-trigger.html %}
        {% include _molecules/modals/modal-passport.html %}
        {% endhighlight %}
      </div>
    </div>
  </section>
  <section class="example-wrap">
    <header>
      <h2 id="modals-print-passport">Print Passport</h2>
      <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
    </header>
    <div class="example">
      <div class="example-display">
        {% include _molecules/modals/modal-print-passport-trigger.html %}
        {% include _molecules/modals/modal-print-passport.html %}
      </div>
      <div class="example-code">
        {% highlight html %}
        {% include _molecules/modals/modal-print-passport-trigger.html %}
        {% include _molecules/modals/modal-print-passport.html %}
        {% endhighlight %}
      </div>
    </div>
  </section>
{% endif %}

<section class="example-wrap">
  <header>
    <h2 id="modals-login">Login Message</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/modals/modal-login-trigger.html %}
      {% include _molecules/modals/modal-login.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/modals/modal-login-trigger.html %}
      {% include _molecules/modals/modal-login.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="modals-video-1">Simple Video</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/modals/modal-video-1-trigger.html %}
      {% include _molecules/modals/modal-video-1.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/modals/modal-video-1-trigger.html %}
      {% include _molecules/modals/modal-video-1.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="modals-disclaimer">Promo Disclaimer</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/modals/modal-disclaimer-trigger.html %}
      {% include _molecules/modals/modal-disclaimer.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/modals/modal-disclaimer.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

{% if page.brand == 'whbm' %}

  <section class="example-wrap">
    <header>
      <h2 id="modals-rewards-faq">Rewards FAQ</h2>
      <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
    </header>
    <div class="example">
      <div class="example-display">
        {% include _molecules/modals/modal-whbm-rewards-faq-trigger.html %}
        {% include _molecules/modals/modal-whbm-rewards-faq.html %}
      </div>
      <div class="example-code">
        {% highlight html %}
        {% include _molecules/modals/modal-whbm-rewards-faq.html %}
        {% endhighlight %}
      </div>
    </div>
  </section>
  <section class="example-wrap">
    <header>
      <h2 id="modals-rewards-terms">Rewards Terms</h2>
      <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
    </header>
    <div class="example">
      <div class="example-display">
        {% include _molecules/modals/modal-whbm-rewards-terms-trigger.html %}
        {% include _molecules/modals/modal-whbm-rewards-terms.html %}
      </div>
      <div class="example-code">
        {% highlight html %}
        {% include _molecules/modals/modal-whbm-rewards-terms.html %}
        {% endhighlight %}
      </div>
    </div>
  </section>

{% endif %}
