<div class="modal modal-simple fade" id="modal-text" tabindex="-1" role="dialog" aria-labelledby="modal-text" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close close-corner" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro a, ex magni eos obcaecati fugit ullam dignissimos totam adipisci, asperiores nostrum quis esse nulla quam tenetur placeat! Accusantium alias, autem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa rerum, error doloribus non? Fugiat pariatur, nemo earum, explicabo quidem, perferendis est repellendus cum error quod ad, culpa eum maiores distinctio! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid esse dignissimos veniam eaque consectetur ex asperiores dolore perspiciatis maxime, provident ullam, in vel nihil sapiente. Delectus nulla similique quasi aliquam.</p>
      </div>
    </div>
  </div>
</div>