<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-login" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close close-corner" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <h3>Login Required</h3>
        <p>
          Great gift giving is always in season, but you must be logged in to use the wishlist feature. Not a member? <a href="#">Register now.</a>
        </p>
        <p class="text-center"><a href="#" class="btn btn-primary">Sign In</a></p>
      </div>
    </div>
  </div>
</div>