<div class="modal fade" id="modal-print-passport" tabindex="-1" role="dialog" aria-labelledby="modal-print-passport" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close close-corner" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <div class="passport-print">
          <p class="text-center"><a href="">Print Passport ID Card</a></p>
          <div class="passport-print-card">
            <span class="svg-passport">
              <img class="img-responsive img-center" src="{{ site.baseurl }}/web_assets/imgs/chicos/passport.svg" alt="">
            </span>
            <p>
              <span id="loyalty_memberName">Liz Hamilton</span><br>
              <span id="loyalty_memberID">1234567891</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>