<div class="modal fade" id="modal-rewards-terms" tabindex="-1" role="dialog" aria-labelledby="modal-rewards-terms" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close close-corner" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">Terms &amp; Conditions</h3>
      </div>
      <div class="modal-body">
        <h3>General Terms and Conditions</h3>
        <p>The WHBM Rewards program at White House | Black Market is designed to show appreciation for our loyal customers. Participation in WHBM Rewards constitutes acceptance of current terms and conditions. Each member is permitted one WHBM Rewards program membership only. Membership is not transferable. Violation of the program rules or coupon terms may result in revocation of membership. White House | Black Market reserves the right to modify or eliminate benefits at any time and without prior notice.</p>
        <p>Please read the <a href="/store/page.jsp?id=18">Privacy Policy</a> carefully to understand how White House | Black Market collects, uses and discloses information about customers.</p>
        <h3>How to Join</h3>
        <p>There is no fee to join the WHBM Rewards program. You may sign up for the program online, at any U.S. White House | Black Market boutique, or by phone at 877.948.2525 (TTY: 888.550.5559). To create an account and join the program, you must provide your full name, a valid email address, phone number and a valid U.S. mailing address. WHBM Rewards is a U.S.-based loyalty program and is not currently available to customers residing outside of the U.S. Non-U.S. customers may create an online account, but will not be enrolled in our loyalty program. </p>
        <p>Currently there are four (4) levels of benefits in the WHBM Rewards program: Welcome, Silver, Gold and Platinum. Upon joining the WHBM Rewards program, you will automatically be enrolled at the Welcome level, unless the qualifying net spend of your initial purchase meets or exceeds $500. Your status for the current and following calendar year is based on total qualifying net purchases made at White House | Black Market (boutiques, outlets, online at whbm.com or phone orders) within each calendar year. Qualifying net spend is the dollar amount of your merchandise purchases, excluding gift cards, taxes, shipping and certain excluded merchandise, less your returns.</p>
        <ul>
          <li>Welcome level: automatically enrolled upon initial purchase</li>
          <li>Silver level: annual net sales meet or exceed $500</li>
          <li>Gold level: annual net sales meet or exceed $1,000</li>
          <li>Platinum level: annual net sales meet or exceed $2,000</li>
        </ul>
        <p>Present your WHBM Rewards membership number every time you shop in boutiques and outlets in order to receive the benefits associated with your status. Except for your 5% discount and free parcel post shipping, in order to receive additional tier-specific benefits such as your birthday reward, you will need to have not opted out of receiving email and direct mail communications.</p>
        <p>Welcome Benefits Include:</p>
        <ul>
          <li>Special event invitations</li>
          <li>Access to a Personal Stylist-anytime!</li>
        </ul>
        <p>Silver Benefits Include:</p>
        <ul>
          <li>All Welcome benefits, plus:</li>
          <li>5% off every merchandise purchase (certain merchandise excluded)</li>
          <li>Free Parcel Post Shipping within the Continental U.S. (may be upgraded for additional fee)</li>
          <li>$10 birthday reward</li>
          <li>Exclusive Silver offers</li>
        </ul>
        <p>Gold Benefits Include:</p>
        <ul>
          <li>All Silver benefits, plus:</li>
          <li>Upgrade to $15  birthday reward</li>
          <li>$25 Gold reward card twice a year</li>
          <li>Exclusive Gold offers</li>
        </ul>
        <p>Platinum Benefits Include:</p>
        <ul>
          <li>All Gold level benefits, plus:</li>
          <li>Upgrade to $20 birthday reward</li>
          <li>Upgrade to $50 Platinum reward card twice a year</li>
          <li>Platinum customer service phone number</li>
          <li>Exclusive Platinum offers</li>
        </ul>
        <h3>Achieving and Maintaining Status</h3>
        <p>Currently there are four (4) levels of benefits in the WHBM Rewards program: Welcome, Silver, Gold and Platinum. Benefit level is determined by your qualifying net purchases made at White House | Black Market (boutiques, outlets, at whbm.com or phone orders) within each calendar year. Qualifying net purchases are the amount of your merchandise purchase, excluding purchases of gift cards, previously purchased merchandise, shipping, taxes and certain excluded merchandise, less returns.</p>
        <ul>
          <li>You will automatically be enrolled as a WHBM Rewards member at the Welcome level, unless the total qualifying net spending of your initial purchase meets or exceeds $500. Upon spending at least $500 in qualifying net spend on or within the calendar year, you will proceed to Silver status.</li>
          <li>To achieve Silver status, you must spend at least $500 in qualifying net spend in a single calendar year.</li>
          <li>To achieve and/or maintain Gold status, you must spend at least $1,000 in qualifying net spend during each calendar year. If your qualifying net spend does not meet or exceed $1,000, your status will revert to the Silver level.</li>
          <li>To achieve and/or maintain Platinum status, you must spend at least $2,000 in qualifying net spend during each calendar year. If your qualifying net spend does not meet or exceed $2,000, your status will revert to either the Gold or Silver level depending on your total net spend during the prior calendar year.</li>
          <li>For purchases made at whbm.com, qualifying net spend will be based on the shipping date, rather than the purchase date.</li>
        </ul>
        <p>Once you reach a specific level in the Rewards program, you will become eligible to receive the benefits of that level for the remainder of the current calendar year. Calendar year is defined as January 1 - December 31. With each new calendar year, we will determine your benefit level based on your total qualifying net spend in the prior calendar year. If your net spend in the prior calendar year were not enough to maintain your benefit level, we will notify you of your new level. Regardless of your qualifying net spend for the calendar year, you will not drop below Silver status. Your qualifying net spend for the calendar year will start at zero ($0) every January 1. </p>
        <p>For example, if your qualifying net spend in Year 1 is $1,500, you will enjoy the benefits of our Gold level for the balance of Year 1 and will start Year 2 at the Gold level. However, if in Year 1 you returned $1,400 of the $1,500, your qualifying net spend drops to $100. You will enjoy the benefits of our Gold level for the balance of Year 1, and will start Year 2 at the Silver level.</p>
        <p>We will provide you with periodic updates throughout the year to inform you of your qualifying net spend and your current level.</p>
        <p>When you achieve Silver status, we will notify you via email or by mail, so long as you have a valid email address and/or U.S. mailing address on file. You are eligible for full WHBM Rewards status benefits at the Silver level immediately after reaching the $500 threshold and do not need to wait to receive your notification. To receive your benefits in stores, please see a store associate. In order to receive full WHBM Rewards status benefits at whbm.com, you must sign in and register using your existing WHBM Rewards member number.</p>
        <h3>5% Discount</h3>
        <p>As a Silver level member or higher, you will receive 5% off every merchandise purchase at White House | Black Market boutiques and outlets in the United States, whbm.com or at 877.948.2525. The 5% discount is not valid when used in connection with the purchase of gift cards, previously purchased merchandise, taxes, shipping and certain excluded merchandise.</p>
        <h3>Free Shipping</h3>
        <p>As a Silver level member or higher, you will automatically receive Standard Parcel Post shipping (estimated 7-10 days for delivery) free for all purchases made on whbm.com for delivery within the continental U.S. As a Silver, Gold or Platinum level member, you may upgrade to Express delivery for $7.95 and Two Day delivery for $14.95. Two Day and Next Day deliveries are not available for P.O. boxes, AP/FPO, military addresses and certain other areas FedEx cannot reach.</p>
        <h3>Birthday Reward Benefit</h3>
        <p>To be eligible to receive the birthday reward benefit as a WHBM Rewards member, you must have shopped with us during the past 12 months. The birthday reward is not valid on purchases of gift cards, previously purchased merchandise, taxes, shipping and certain excluded merchandise.</p>
      </div>
    </div>
  </div>
</div>