---
layout: page-collection
title: Sandbox
top-link: pages
brand: chicos
user: katrishia
---


{% comment %}
All other content modules should use the following container. You don't have to include .content and .container-fluid for each module. 
Those parent elements can wrap all modules.
{% endcomment %}
<div class="content">
  <div class="container-fluid">
    

		{% comment %}text right, image left, full-width image{% endcomment %}
	    {% include _molecules/modules/shelf.html moduleClass='' moduleLayout='module-sh-right' moduleImage='assets/imgs/160218_SH_CHS_OurFavoriteThings/160218_SH_CHS_OurFavoriteThings_2400x900.jpg' moduleImageMobile='assets/imgs/160218_SH_CHS_OurFavoriteThings/160218_SH_CHS_OurFavoriteThings_767x767.jpg' moduleHeading='Spring\'s Secrets' moduleCopy='<p>These are a few of our favorite things for spring. <br><em>Oh, and we\'re loving these too...</em></p>' moduleLinkUrl='#' buttonLabel='Shop All New Arrivals' buttonClass='btn-responsive' %}


  </div><!-- .container-fluid -->
</div><!-- .content -->

{% comment %}The following is the quick view modal used by various content module molecules.{% endcomment %}
{% include _molecules/modals/modal-quick-view.html %}