<div class="rewards-wrap">
  <h2 class="lsr-logo">
    <img src="{{ site.baseurl }}/web_assets/svg/soma/love-soma-rewards.svg" alt="Love Soma Rewards" class="img-responsive">
  </h2>
  <h3>Earn Points. Get Rewarded.</h3>
  <div class="panel-group accordion-rewards" id="accordion-rewards" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="points-heading-one">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-rewards" href="#points-one" aria-expanded="false" aria-controls="points-one">
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-bag-rewards"></use>
            </svg>
            Earn 1 Point for Every $1 Spent
          </a>
        </h4>
      </div>
      <div id="points-one" class="panel-collapse collapse" role="tabpanel" aria-labelledby="points-heading-one">
        <div class="panel-body">
          <p>Love Soma Rewards members earn 1 Point for every $1 spent at Soma (boutiques and outlets, online or by phone). Points are calculated after all discounts have been applied, and before shipping and/or taxes.</p>
          <a href="#" class="btn btn-primary">Earn Points</a>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="points-heading-two">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-rewards" href="#points-two" aria-expanded="false" aria-controls="points-two">
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-bra"></use>
            </svg>
            Double Points on Bras &amp; Sleep
          </a>
        </h4>
      </div>
      <div id="points-two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="points-heading-two">
        <div class="panel-body">
          <p>Get Rewards faster by earning Double Points. Love Soma Rewards members will automatically receive Double Points for each dollar spent on bra purchases and sleepwear purchases.</p>
          <a href="#" class="btn btn-primary">Earn Points</a>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="points-heading-three">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-rewards" href="#points-three" aria-expanded="false" aria-controls="points-three">
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-refer"></use>
            </svg>
            Bonus Points for Referring Friends
          </a>
        </h4>
      </div>
      <div id="points-three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="points-heading-three">
        <div class="panel-body">
          <p>Give your friends $15 off their first purchase of $50 or more, and get a $15 reward (that's 375 Bonus Points) for each new friend you refer.</p>
          <a href="#" class="btn btn-primary">Refer Friends</a>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="points-heading-four">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-rewards" href="#points-four" aria-expanded="false" aria-controls="points-four">
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-gift-soma"></use>
            </svg>
            $5 Reward for Every 125 Points
          </a>
        </h4>
      </div>
      <div id="points-four" class="panel-collapse collapse" role="tabpanel" aria-labelledby="points-heading-three">
        <div class="panel-body">
          <p>Rewards are issued each month and valid for 60 days. The more points you earn, the greater the reward.</p>
          <ul class="list-unstyled">
            <li>$5 Reward = 125 Points</li>
            <li>$10 Reward = 250 Points</li>
            <li>$15 Reward = 375 Points</li>
            <li>$20 Reward = 500 Points</li>
            <li>$25 Reward = 625 Points</li>
            <li>$30 Reward = 750 Points</li>
          </ul>
          <a href="#" class="btn btn-primary">Earn Points</a>
        </div>
      </div>
    </div>
  </div>
</div>