<section class="example-wrap">
  <header>
    <h2 id="components-header-promo">Header Promo</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/components/header-promo.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/components/header-promo.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

{% comment %}
<section class="example-wrap">
  <header>
    <h2 id="components-facet-color">Color Facets</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/components/facet-color.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/components/facet-color.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="components-facet-size">Size Facets</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/components/facet-size.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/components/facet-size.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="components-facet-inseam">Inseam Facets</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/components/facet-inseam.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/components/facet-inseam.html %}
      {% endhighlight %}
    </div>
  </div>
</section>
{% endcomment %}

<section class="example-wrap">
  <header>
    <h2 id="components-swatches-group">Swatches Group</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/components/product-swatches.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/components/product-swatches.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="components-share">Share Icons (PDP)</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/components/share.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/components/share.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="components-social">Social Icons in Footer</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/components/social-footer.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/components/social-footer.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="components-chat">Chat Widget</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/components/chat.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/components/chat.html %}
      {% endhighlight %}
    </div>
  </div>
</section>


<style>
  .footer-chat {
    position: static;
  }
</style>
<section class="example-wrap">
  <header>
    <h2 id="components-chat-footer">Chat Widget in Footer</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/components/footer-chat.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/components/footer-chat.html %}
      {% endhighlight %}
    </div>
  </div>
</section>
<section class="example-wrap">
  <header>
    <h2 id="components-chat-footer-active">Chat Widget in Footer (Active)</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/components/footer-chat.html chatActive='yes' %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/components/footer-chat.html chatActive='yes' %}
      {% endhighlight %}
    </div>
  </div>
</section>

<style>
  .footer-promo {
    display: block;
    position: static;
  }
</style>
<section class="example-wrap">
  <header>
    <h2 id="components-footer-promo">Footer Promo</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/components/footer-promo.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/components/footer-promo.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="components-video">Responsive Video Wrapper</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/components/video.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/components/video.html %}
      {% endhighlight %}
    </div>
  </div>
</section>