<div class="facet-wrap">
  <a href="" class="facet-reset">Reset</a>
  <h4>Apparel Sizes</h4>
  <div class="facet-inner">
    <span class="facet selected"><a href="">000</a></span>
    <span class="facet"><a href="">00</a></span>
    <span class="facet"><a href="">0</a></span>
    <span class="facet"><a href="">0.5</a></span>
    <span class="facet"><a href="">1</a></span>
    <span class="facet"><a href="">1.5P</a></span>
    <span class="facet"><a href="">2</a></span>
    <span class="facet"><a href="">2.5</a></span>
    <span class="facet"><a href="">3</a></span>
    <span class="facet"><a href="">3.5</a></span>
  </div>
</div>