<div class="facet-wrap facet-swatch">
  <a href="" class="facet-reset">Reset</a>
  <h4>Color</h4>
  <span class="facet selected"> 
    <a href=""><img src="http://placehold.it/250" alt=""></a>
  </span>
  <span class="facet"> 
    <a href=""><img src="http://placehold.it/250" alt=""></a>
  </span>
  <span class="facet"> 
    <a href=""><img src="http://placehold.it/250" alt=""></a>
  </span>
  <span class="facet"> 
    <a href=""><img src="http://placehold.it/250" alt=""></a>
  </span>
  <span class="facet"> 
    <a href=""><img src="http://placehold.it/250" alt=""></a>
  </span>
  <span class="facet"> 
    <a href=""><img src="http://placehold.it/250" alt=""></a>
  </span>
  <span class="facet"> 
    <a href=""><img src="http://placehold.it/250" alt=""></a>
  </span>
  <span class="facet"> 
    <a href=""><img src="http://placehold.it/250" alt=""></a>
  </span>
</div>