<div class="social-pdp">
  <span id="share" class="share-btns" data-text="Page Title" data-url="http://www.chicos.com">
    <!-- Share buttons and counts populated by sharrre js -->
  </span>
  {% comment %}
  <span class="share-widget-email">
    <a class="social-email" href="mailto:?subject=Special Delivery From Chicos&amp;body=Hi,%0D%0A%0D%0A PDP Copy %0D%0A%0D%0A Get the PDP link" data-track="" data-track-label="Share - Email">
      <svg class="icon-envelope">
        <use xlink:href="#icon-envelope-simple"></use>
      </svg>
      <span class="sr-only">Email</span>
    </a>
  </span>
  {% endcomment %}
</div>