<div class="content">
  <div class="container-fluid">
    <span class="c-sp-click click-hidden">Click looks to shop</span>
    <div class="c-sp-header">
      <h1>
        The Lookbook
      </h1>
      <a href="#">Shop the Collection</a>
    </div>

    {% include _molecules/navigation/breadcrumb.html breadLvl2='Clothing' breadLvl3='Dresses &amp; Skirts' %}   

    <div class="c-sp-wrap">

      {% include _molecules/modules/shelf.html collectionSpecial='yes' moduleClass='' moduleLayout='' moduleImage='/web_assets/imgs/whbm/col-sp-left.png' moduleImageMobile='https://placeholdit.imgix.net/~text?txtsize=52&txt=Actual+size:767x767&w=767&h=767' moduleHeading='Intro Copy Lorem Ipsum' moduleCopy='' %}

      {% include _molecules/modules/shelf.html collectionSpecial='yes' moduleClass='' moduleLayout='module-sh-center' moduleImage='/web_assets/imgs/whbm/col-sp-right.png' moduleImageMobile='https://placeholdit.imgix.net/~text?txtsize=52&txt=Actual+size:767x767&w=767&h=767' moduleCopy='<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor cupiditate, aut rem maxime voluptatibus ipsum eos accusamus optio sequi.</p>' %}

      {% include _molecules/modules/shelf.html collectionSpecial='yes' moduleClass='' moduleLayout='module-sh-right' moduleImage='/web_assets/imgs/whbm/col-sp-left.png' moduleImageMobile='https://placeholdit.imgix.net/~text?txtsize=52&txt=Actual+size:767x767&w=767&h=767' moduleCopy='<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor cupiditate, aut rem maxime voluptatibus ipsum eos accusamus optio sequi.</p>' %}

    </div>

    <div class="c-sp-header">
      <h1>
        The Lookbook
      </h1>
      <a href="#">Shop the Collection</a>
    </div>

  </div><!-- .container-fluid -->
</div><!-- .content -->