{% if page.brand == 'soma' %}

  <div class="content content-wide">
    <div class="container-fluid">

      {% include _molecules/modules/shelf.html 
        moduleClass="module-sh-bra-curated" 
        moduleLayout='module-sh-right' 
        moduleImage='https://placeholdit.imgix.net/~text?txtsize=60&w=3360&h=919' 
        moduleImageMobile='https://placeholdit.imgix.net/~text?txtsize=60&w=767&h=503' 
        moduleHeadingClass='soma-content-header' 
        moduleHeading='<small>Your Bra Fit Guide Recommendations</small> Slimming' 
        moduleCopy='<p>These bras can help slim your sides your&nbsp;bustline.</p><div class="module-ctas"><a href="#curated-1">Sensuous Sides</a><a href="#curated-2">Stunning Support</a><a href="#curated-3">Embraceable</a></div>' 
        btnLabel='Shop Now' 
        btnClass='btn-primary' 
        btnLink='#' 
        btnExtra='' %}

      {% include _atoms/forms/select.html 
        labelName='Deep Links' 
        labelHidden='hidden' 
        labelID='soma-bfg-deep-links' 
        formClass='visible-xs'
        selectClass='select-scroll'
        selectOptions='
          <option>Select Category Ipsum</option>
          <option value="#curated-1">Sensuous Sides</option>
          <option value="#curated-2">Stunning Support</option>
          <option value="#curated-3">Embraceable</option>
        '
      %}
      <hr class="hr-mobile hr-mobile-short">

    </div><!-- .container-fluid -->
  </div><!-- .content.content-wide -->

  <div class="content">
    <div class="container-fluid">
      <div class="collection-nav">
        {% include _molecules/navigation/breadcrumb.html breadLvl2='Bra Fit Guide' breadLvl3='Lorem Ipsum' searchMsg='yes' %}
      </div>
      <div class="collection">
        {% include _molecules/collection/curated.html moduleHeading='So Lifting&trade; Slim Leg' moduleID='1' %}
        {% comment %}
        {% capture image %}https://placeholdit.imgix.net/~text?txtsize=33&txt=Actual+Size:+1146x894&w=1146&h=894{% endcapture %}
        {% endcomment %}
        {% include _molecules/collection/curated.html moduleHeading='Sensuous Sides' moduleID='1' moduleCondensed='no' promoHeading='' promoCollection='' promoCopy='' promoLink='' promoImage=image %}
        {% include _molecules/collection/curated.html moduleHeading='Stunning Support' moduleID='2' moduleCondensed='no' promoHeading='' promoCollection='' promoCopy='' promoLink='' promoImage=image %}
        {% include _molecules/collection/curated.html moduleHeading='Embraceable' moduleID='3' moduleCondensed='no' promoHeading='' promoCollection='' promoCopy='' promoLink='' promoImage=image %}
      </div><!-- .collection -->
    </div><!-- .container-fluid -->
  </div><!-- .content -->

{% else %}

  <div class="content content-wide">
    <div class="container-fluid">
      <section class="module">
        {% include _molecules/modules/curated-header-flexible.html %}
      </section>
    </div><!-- .container-fluid -->
  </div><!-- .content.content-wide -->

  <div class="content">
    <div class="container-fluid">
      <div class="collection-nav">
        {% include _molecules/navigation/breadcrumb.html breadLvl2='Clothing' breadLvl3='Dresses &amp; Skirts' searchMsg='yes' %}
      </div>
      <div class="collection">

        {% include _molecules/collection/curated.html moduleHeading='So Lifting&trade; Slim Leg' moduleID='1' %}
        {% include _molecules/collection/curated.html moduleHeading='Platinum Jegging' moduleID='2' %}
        {% include _molecules/collection/curated.html moduleHeading='Platinum Barely Boot' moduleID='3' %}
        {% include _molecules/collection/curated.html moduleHeading='So Perfect Legging' moduleID='4' %}
        {% include _molecules/collection/curated.html moduleHeading='So Lifting&trade; Slim Leg' moduleID='5' %}
        {% include _molecules/collection/curated.html moduleHeading='Platinum Jegging' moduleID='6' %}
        {% include _molecules/collection/curated.html moduleHeading='Platinum Barely Boot' moduleID='7' %}
        {% include _molecules/collection/curated.html moduleHeading='So Perfect Legging' moduleID='8' %}

      </div><!-- .collection -->
    </div><!-- .container-fluid -->
  </div><!-- .content -->

{% endif %}

{% include _molecules/modals/modal-quick-view.html %}
{% include _molecules/modals/modal-gallery.html %}
{% include _molecules/navigation/top-link.html %}