// place specific project styles here

.module-sh-max-test-sh {

	h2 {

		color: gray;

	}	

}

// plain css

.module-sh-max-test-sh p {
    color: maroon;
    text-shadow: 2px 2px #DEDDDD;
    font-weight: bold;
}