---
layout: page-collection
title: Hot Spot Collection
top-link: pages
brand: whbm
---
{% for item in site.data.hot-spot-collection %}

  <div class="content{% if page.brand %} {{ page.brand }}-hot-spot-collection{% endif %}">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          {% if forloop.index == 1 %}
          <div class="hot-spot-intro-copy">
            <h2>Wardrobe Refresh</h2>
            <p>Everything you need to take your style to the next level.</p>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">

          <section class="module">
            <div class="module-sh module-sh-{{ item.align }}">
              <div class="module-inner">
                <div class="module-sh-img">
                  <img src="{{ site.baseurl }}/web_assets/imgs/whbm/hot-spot-collection-0{{ forloop.index }}-large.jpg" alt="" class="hidden-xs img-responsive">
                  <img src="{{ site.baseurl }}/web_assets/imgs/whbm/hot-spot-collection-0{{ forloop.index }}-small.jpg" alt="" class="visible-xs img-responsive">

                  <div class="hot-spots">
                  {% capture outside_loop_id %}{{ forloop.index }}{% endcapture %}
                  {% for spot in item.hot_spots %}
                    {% if spot.type == "hotspot" %}
                      <a class="hot-spot hidden-xs" 
                         style="top: {{ spot.y }}; left: {{ spot.x }}"
                         href="javascript:void(0);"
                         data-target="#modal-quick-view" 
                         data-toggle="modal"
                      >
                        <svg class="icon-plus">
                          <use xlink:href="#icon-plus"></use>
                        </svg>
                      </a>

                      <a class="hot-spot visible-xs" 
                         style="top: {{ spot.mobile-y }}; left: {{ spot.mobile-x }}"
                         href="javascript:void(0);"
                         data-target="#modal-quick-view" 
                         data-toggle="modal"
                      >
                        <svg class="icon-plus">
                          <use xlink:href="#icon-plus"></use>
                        </svg>
                      </a>
                    {% endif %}
                    {% if spot.type == "stylenote" %}
                      <a class="style-note hidden-xs" 
                         style="top: {{ spot.y }}; left: {{ spot.x }}"
                         href="javascript:void(0);"
                      >
                        <img class="default" src="{{ site.baseurl }}/web_assets/svg/style-note.svg" />
                        <img class="hovered" src="{{ site.baseurl }}/web_assets/svg/style-note-inverse.svg" />
                      </a>

                      <a class="style-note visible-xs" 
                         style="top: {{ spot.mobile-y }}; left: {{ spot.mobile-x }}"
                         href="javascript:void(0);"
                      >
                        <img class="default" src="{{ site.baseurl }}/web_assets/svg/style-note.svg" />
                        <img class="hovered" src="{{ site.baseurl }}/web_assets/svg/style-note-inverse.svg" />
                      </a>
                      <div class="style-note-tooltip collapse" id="style-note-{{ outside_loop_id }}-{{ forloop.index }}">
                        <p>{{ spot.note }}</p>
                        <a href="javascript:void(0);" data-target="#modal-quick-view" data-toggle="modal">{{ spot.product }}</a>
                        <span class="price">${{ spot.price }}</span>
                        <span class="dismiss">
                          <svg class="icon-close">
                            <use xlink:href="#icon-close"></use>
                          </svg>
                        </span>
                      </div>
                    {% endif %}
                  {% endfor %}
                  </div>

                </div>
                
                <div class="module-sh-copy">
                  <h3><span class="number">0{{ forloop.index }}.</span> {{ item.collection }}</h3>
                  <p>{{ item.subtitle }}</p>
                </div>
                <a href="javascript:void(0);" class="btn grid-trigger{% if forloop.index == 1 %} expanded{% endif %}" data-toggle="collapse" data-target="#collection-grid-{{ forloop.index }}" aria-expanded="false" aria-controls="collection-grid-{{ forloop.index }}">
                  More {{ item.collection }}
                  <svg class="icon-arrow-down">
                    <use xlink:href="#icon-arrow-down"></use>
                  </svg>
                  <svg class="icon-arrow-up">
                    <use xlink:href="#icon-arrow-up"></use>
                  </svg>
                </a>
              </div>
            </div>
          </section><!-- .module -->

        </div>
      </div>

      <div class="collection{% if page.brand %} {{ page.brand }}-collection-grid{% endif %}{% if forloop.index > 1 %} collapse{% endif %}" id="collection-grid-{{ forloop.index }}">
        {% include _molecules/products/listing-all.html %}
        
        <div class="row">
          <div class="col-xs-12 text-center">
            <a class="btn btn-primary shop-collection-cta">Shop the Collection</a>
          </div>
        </div>
      </div><!-- .collection -->

    </div>
  </div>

{% endfor %}

{% include _molecules/modals/modal-quick-view.html %}
