<form>
  <div class="form-group has-error">
    <label class="control-label" for="input-error">Input with error</label>
    <input type="text" class="form-control" id="input-error">
  </div>
  <div class="has-error">
    <div class="checkbox">
      <label>
        <input type="checkbox" id="checkbox-error" value="checkbox-option-1">
        Checkbox with error
      </label>
    </div>
  </div>
  <div class="has-error">
    <div class="radio">
      <label>
        <input type="radio" id="radio-error" value="radio-option-1">
        Radio with error
      </label>
    </div>
  </div>
</form>