{% include _atoms/forms/select.html 
  selectClass='select-qty' 
  labelName='Select Quantity' 
  labelID='select-total' 
  selectOptions='
    <option value="1" title="QTY 1">1</option>
    <option value="2" title="QTY 2">2</option>
    <option value="3" title="QTY 3">3</option>
    <option value="4" title="QTY 4">4</option>
    <option value="5" title="QTY 5">5</option>
    <option value="6" title="QTY 6">6</option>
    <option value="7" title="QTY 7">7</option>
    <option value="8" title="QTY 8">8</option>
    <option value="9" title="QTY 9">9</option>
    <option value="10" title="QTY 10">10</option>
    <option value="11" title="QTY 11">11</option>
    <option value="12" title="QTY 12">12</option>
  '
%}