<header id="lib-header">
  <nav id="lib-menu">
    <ul>
      <li class="dropdown {% if page.brand == 'chicos' %}active{% endif %}">
        <a href="#" data-toggle="dropdown">
          <img src="/lib_assets/logo-chicos.svg" alt="">
        </a>
        <ul class="dropdown-menu">
          <li><a href="/chicos/atoms/index.html"><i class="fa fa-fw fa-circle-thin"></i>Atoms</a></li>
          <li><a href="/chicos/molecules/index.html"><i class="fa fa-fw fa-bullseye"></i>Molecules</a></li>
          <li><a href="/chicos/pages/index.html"><i class="fa fa-fw fa-file-o"></i>Pages</a></li>
        </ul>
      </li>
      <li class="dropdown {% if page.brand == 'whbm' %}active{% endif %}">
        <a href="#" data-toggle="dropdown">
          <span class="hidden-xs"><img src="/lib_assets/logo-whbm.svg" alt=""></span>
          <span class="visible-xs"><img src="/lib_assets/logo-whbm-sm.svg" alt=""></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/whbm/atoms/index.html"><i class="fa fa-fw fa-circle-thin"></i>Atoms</a></li>
          <li><a href="/whbm/molecules/index.html"><i class="fa fa-fw fa-bullseye"></i>Molecules</a></li>
          <li><a href="/whbm/pages/index.html"><i class="fa fa-fw fa-file-o"></i>Pages</a></li>
        </ul>
      </li>
      <li class="dropdown {% if page.brand == 'soma' %}active{% endif %}">
        <a href="#" data-toggle="dropdown">
          <img src="/lib_assets/logo-soma.svg" alt="">
        </a>
        <ul class="dropdown-menu">
          <li><a href="/soma/atoms/index.html"><i class="fa fa-fw fa-circle-thin"></i>Atoms</a></li>
          <li><a href="/soma/molecules/index.html"><i class="fa fa-fw fa-bullseye"></i>Molecules</a></li>
          <li><a href="/soma/pages/index.html"><i class="fa fa-fw fa-file-o"></i>Pages</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>