---
layout: page-customer
title: FAQ's
top-link: pages
brand: soma
---

{% include _content/customer-care/faq.html %}
{% if page.brand == 'soma' %}
  {% include _molecules/navigation/top-link.html %}
{% endif %}

<div class="modal fade" id="modal-rewards-faq" tabindex="-1" role="dialog" aria-labelledby="modal-rewards-faqLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close close-corner" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-header">
        <h3 class="modal-title" id="modal-rewards-faqLabel">Frequently Asked Questions</h3>
      </div>

      <div class="modal-body">

        <p class="visible-xs">
          <select class="form-control selectpicker" id="tabs-swap-mobile">
            <option value="0" selected="selected">General Questions</option> 
            <option value="1">Points</option> 
            <option value="2">Tiers &amp; Benefits</option> 
            <option value="3">Rewards</option> 
          </select>
        </p>
        <ul id="tabs-swap-desktop" class="nav nav-tabs hidden-xs" role="tablist">
          <li role="presentation" class="active"><a href="#general" aria-controls="home" role="tab" data-toggle="tab">General Questions</a></li>
          <li role="presentation"><a href="#points" aria-controls="profile" role="tab" data-toggle="tab">Points</a></li>
          <li role="presentation"><a href="#tiers-benefits" aria-controls="messages" role="tab" data-toggle="tab">Tiers &amp; Benefits</a></li>
          <li role="presentation"><a href="#rewards" aria-controls="settings" role="tab" data-toggle="tab">Rewards</a></li>
        </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="general">
          <h2>General Questions</h2>
          <h3>What is Love Soma Rewards?</h3>
          <p>Love Soma Rewards is Soma’s customer loyalty program, consisting of three tiers: Preferred, Gold and Platinum. As a member of the program, you will automatically receive points for every dollar you spend on qualifying merchandise (excluding gift cards, promotional offers, taxes and shipping) at Soma boutiques and outlets, online at soma.com, or by phone. For every 125 Points you earn, you will receive a $5 Reward certificate.</p>
          <h3>How Do I Join Love Soma Rewards?</h3>
          <p>Love Soma Rewards is open to U.S. and International residents, excluding Canadian residents. Unfortunately, Canadian residents are not eligible for Love Soma Rewards. If you are a Canadian resident, you may create an online account, but you will not be enrolled in our loyalty program. There is no fee to join or maintain membership in the Program. You may sign up for Love Soma Rewards online at soma.com, at any Soma boutique or outlet, or by phone at 866.768.7662 (TTY: 888.550.5559) by providing your first and last name, valid mailing address, phone number, email address and birth month.</p>
          <h3>Will I continue to receive my catalog and email coupons?</h3>
          <p>Yes! You will continue to receive your catalog and email coupons, which may be combined with your earned Rewards.</p>
          <h3>I already have a Love Soma Rewards number but am creating an account online for the first time. Do I need my Rewards number to register?</h3>
          <p>If you are new to soma.com but have already received a Love Soma Rewards member number by shopping in our boutiques or by phone, there will be a field in the online Registration page where you can enter your Love Soma Rewards number. This allows us to locate you in our records and ensure that you earn Points and receive your Love Soma Rewards benefits for all your online purchases. You can find your Love Soma Rewards member number on the back of your Soma catalog or on your receipt.<br>
          <br>
          You will automatically receive your Love Soma Rewards benefits (such as free shipping when applicable) if you are already a registered user on soma.com and remain logged-in to the site. In this case you will not need to enter your Love Soma Rewards member number.</p>
          <h3>Can I share my membership with friends and family?</h3>
          <p>No. Membership and Points are not transferable.</p>

        </div>
        <div role="tabpanel" class="tab-pane" id="points">
          <h2>Points</h2>
          <h3>How do I earn Points?</h3>
          <p>As a member of Love Soma Rewards, you will earn 1 Point per $1 spent on qualifying merchandise purchases at Soma (boutiques and outlets, online or by phone) (exclusions may apply). Points will be calculated based on qualifying merchandise purchases, after all discounts have been applied (e.g., in store event discounts, coupons, special offers, Reward certificate redemption), and before shipping and/or taxes. Your qualifying merchandise purchase amount will be rounded to the nearest whole number for purposes of Points calculation.</p>
          <h3>Do I need to provide my Love Soma Rewards number to get credit for my purchases?</h3>
          <p>Yes. Whether purchasing in stores or by phone, you must provide your Love Soma Rewards membership number to earn Points for your qualifying merchandise purchase. If you don’t remember your member number, don’t worry. Our Associates can easily look up your number when shopping in our stores. If ordering online, you must be registered and logged in to your account to earn Points for qualifying purchases made at soma.com.</p>
          <h3>What are qualifying purchases?</h3>
          <p>A qualifying purchase is any purchase made at Soma (boutiques, outlets, online at soma.com or by phone), excluding gift cards, taxes, shipping and certain excluded merchandise. Points are not earned on the redemption of Reward certificates.</p>
          <h3>Why don’t I see my recent purchases reflected in my Points history?</h3>
          <p>Please allow up to three business days for in-store purchases to appear in your Points history. For purchases made online or by phone, please allow up to three business days from the time of shipment, rather than the time of order.</p>
          <h3>How do I inquire about missing points from my transaction history?</h3>
          <p>You may submit a retro-credit request online at soma.com or by calling Customer Service at 866.768.7662. To submit a request online, log in to your account and click on the “Rewards Status” link in the “My Account” section. From here, click on the “missing purchases?” link and provide the required information.</p>
          <h3>Will my Points expire?</h3>
          <p>Yes. Points will automatically expire one year from the date they are earned.</p>
          <h3>Why has my Points balance decreased?</h3>
          <p>Your Points balance will decrease if you make a return, or if some or all of your Points have not turned into a Reward within one year of being earned.</p>
          <h3>Can I be awarded Points for purchases made prior to joining Love Soma Rewards?</h3>
          <p>Only transactions made after you have signed up for the Love Soma Rewards program are eligible for Points.</p>

        </div>
        <div role="tabpanel" class="tab-pane" id="tiers-benefits">
          <h2>Tiers and Benefits</h2>
          <h3>What are the benefits of becoming a Love Soma Rewards member?</h3>
          <p>As a member of Love Soma Rewards, you will earn Points for every dollar spent, which turn into Rewards. It’s simple and rewarding—you’ll have the opportunity to earn Double and Bonus Points, Birthday Gifts and, of course, Free Shipping. The best news? You can combine your Rewards with our catalog and email coupons, as well as sales events throughout the year! Plus, you can access your Rewards in boutiques and online… you never have to carry a card.</p>
          <h3>What are the requirements and benefits of each tier?</h3>
          <p>Currently there are three tiers of benefits in the Love Soma Rewards program: Preferred, Gold and Platinum. Tier status is based on total net sales made at Soma Intimates (boutiques, outlets, online at soma.com, or phone orders) within each calendar year:</p>
          <ul>
            <li>Preferred: automatically enrolled with initial purchase</li>
            <li>Gold: annual net sales meet or exceed $250</li>
            <li>Platinum: annual net sales meet or exceed $500</li>
          </ul>
          <p>For more information, including the benefits of each tier, visit <a href="//www.soma.com/rewards" target="_parent">soma.com/rewards</a>.</p>
          <h3>If I qualify for Platinum status and then return items, will I drop to Gold status?</h3>
          <p>You will move up in status during the calendar year based on your net purchases (total purchases less returns) in the calendar year. You will not move to lower tiers during the calendar year if you return items. However, when we look at your total net purchases in January, if you did not maintain at least $500 in net purchases during the prior year, you will drop to the tier reflective of how much you spent.</p>
          <h3>How long will I maintain my tier status?</h3>
          <p>Upon qualifying for a new tier, you will receive a notification welcoming you to that tier. You will maintain that status for the remainder of the current calendar year and the following year. While you won’t drop tiers in the current calendar year, any returns you make may affect your tier status for the following year as calculated in January.</p><!-- -->
          

        </div>
        <div role="tabpanel" class="tab-pane" id="rewards">
          <h2>Rewards</h2>
          <h3>How can I earn rewards?</h3>
          <p>Once you have enrolled in the program, you will earn 1 Point for every dollar you spend on qualifying merchandise purchases at Soma stores (including outlets), online at soma.com or by phone at 866.768.7662. However, you must provide your Love Soma Rewards member number when making a purchase in order for your spend to count towards your tier status and Reward earnings. Qualifying net spend does not include the purchase of gift cards, previously purchased merchandise, taxes and shipping.</p>
          <h3>How will I receive my Rewards?</h3>
          <p>Reward certificates will be issued either by email or by direct mail. The method by which you receive your earned Rewards will be determined by your communication preferences.</p>
          <h3>When will I receive my Rewards?</h3>
          <p>Reward certificates will be issued on a monthly basis.</p>
          <h3>How many Rewards can I earn?</h3>
          <p>There is no limit to how many Reward certificates you can earn. However, Rewards will be issued at a maximum value of $30 per issuance; any Rewards you’ve earned above $30 will be rolled over to your earned Rewards in the following issuance. Example: If you accrue $40 in Rewards based on Points earned for a recent purchase, you’ll be issued a $30 Reward, and the remaining balance of your Rewards ($10) will be rolled over to the following issuance.</p>
          <h3>Do the Rewards expire?</h3>
          <p>Yes, please refer to the expiration date printed on the Reward.</p>
          <h3>What if I make returns after I receive a Reward?</h3>
          <p>Any amount you return will be deducted from your Points balance. If you return your purchases after you receive a Reward, your pending Reward balance will be reduced. It is possible to have a negative Points balance if you make a return after having received a Reward.</p>
          <h3>I lost my Reward certificate.</h3>
          <p>Not a problem. Simply let the store Associate know you have a Reward certificate to redeem and the Associate will be able to look it up when you make your purchase. Unfortunately, we will not be able to send you a replacement Reward certificate.</p>
          <h3>I tried redeeming the Reward certificate in the store or online, but it says the certificate is invalid.</h3>
          <p>Did you perhaps already apply the Reward to a previous purchase? The Reward may only be redeemed once. Please also check the expiration date printed on the certificate, as it will no longer be valid beyond this date.</p>



        </div>
      </div>

    </div>
  </div>
</div>