<div class="modal fade modal-checkout" id="modal-address" tabindex="-1" role="dialog" aria-labelledby="modal-addressLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close close-corner" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-header">
        <h3 class="modal-title" id="modal-addressLabel">Add a <span class="hidden-xs">New</span> Shipping Address</h3>
      </div>
      <div class="modal-body">
        <form action="#" class="form-labels">

          {% include _molecules/checkout/forms/address.html placement='modal-address' %}

        </form>
      </div><!-- .modal-body -->
      {% include _molecules/checkout/modals/footer.html %}
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal #modal-address -->