<div class="modal fade modal-checkout" id="modal-gift-wrap-individual" tabindex="-1" role="dialog" aria-labelledby="modal-gift-wrap-individualLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close close-corner" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-header">
        <h3 class="modal-title" id="modal-gift-wrap-individualLabel">Select <span class="hidden-xs">the</span> Item(s) to <span class="hidden-xs">Gift</span> Wrap</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-9 col-xs-7">
            <p>Each gift will arrive packaged separately with individual personal messages and gift receipts. Optional decorative gift box, $6.00 each.</p>
          </div>
          <div class="col-sm-3 col-xs-5">
            <p><img src="{{ site.baseurl }}/web_assets/imgs/checkout/gift-individual.jpg" alt="Gift Message Individually" class="img-responsive"></p>
          </div>
        </div>
        <form action="#" class="form-labels">
          <div class="radio-media-list radio-list">
            {% if page.setting == 'flow' %}
              {% include _molecules/checkout/radios/product.html checkID='wrap-product-1' placement='gifting' noEdit='true' color='red' %}
              {% include _molecules/checkout/radios/product.html checkID='wrap-product-3' placement='gifting' color='red' status='message-entered' id='flow-wrap-product-1' class='flow-hidden' %}
              
              {% include _molecules/checkout/radios/product.html checkID='wrap-product-2' placement='gifting' noEdit='true' color='blue' %}
              {% include _molecules/checkout/radios/product.html checkID='wrap-product-4' placement='gifting' color='blue' status='message-entered' id='flow-wrap-product-2' class='flow-hidden' %}
            {% else %}
              {% include _molecules/checkout/radios/product.html checkID='wrap-product-1' placement='gifting' color='red' noEdit='true' %}
              {% include _molecules/checkout/radios/product.html checkID='wrap-product-2' placement='gifting' color='blue' status='message-entered' %}
              {% include _molecules/checkout/radios/product.html checkID='wrap-product-3' placement='gifting' color='red' noEdit='true' %}
            {% endif %}
          </div><!-- .radio-media-list -->
          
        </form>
      </div><!-- .modal-body -->

      {% comment %}remove this conditional once usability btesting is done{% endcomment %}
      {% if page.setting == 'flow' %}
        <div class="modal-footer">
          <button type="button" class="btn btn-alt" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary toggle-flow-gifting" data-dismiss="modal" data-gifting="options" data-target="gifting-flow-entry-3">Save &amp; Continue</button>
        </div>
      {% else %}
        {% include _molecules/checkout/modals/footer.html %}
      {% endif %}


    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal #modal-gift-select -->