<div class="row">
  <div class="col-md-6">
    {% include _atoms/forms/select.html labelName='Country' labelID='country' selectOptions='<option value="">United States</option><option value="">Aruba</option><option value="">Australia</option><option value="">Middle Earth</option><option value="">Coruscant</option><option value="">Winterfell</option>' %}
  </div>
</div><!-- .row -->

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="street-address">Street Address</label>
      <input type="text" class="form-control" id="street-address" placeholder="">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="suite">Apt / Unit / Suite</label>
      <input type="text" class="form-control" id="suite" placeholder="">
    </div>
  </div>
</div><!-- .row -->

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="street-address">City</label>
      <input type="text" class="form-control" id="city" placeholder="">
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-7">
        {% include _atoms/forms/select.html labelName='State' labelID='state' selectOptions='<option value="">District of Columbia</option><option value="">Alaska</option><option value="">Arkansas</option>' %}
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label for="zip">Zip Code</label>
          <input type="text" class="form-control" id="zip" placeholder="">
        </div>
      </div>
    </div>
  </div>
</div><!-- .row -->