<form>
  <div class="row">
    <div class="col-md-3">
      {% include _atoms/forms/select.html labelName='Label' labelID='label' selectOptions='<option value="">Option 1</option><option value="">Option 2</option>' %}
    </div>
    <div class="col-md-3">
      {% include _atoms/forms/select.html labelName='Label' labelID='label' selectOptions='<option value="">Option 1</option><option value="">Option 2</option>' %}
    </div>
    <div class="col-md-3">
      {% include _atoms/forms/select.html labelName='Label' labelID='label' selectOptions='<option value="">Option 1</option><option value="">Option 2</option>' %}
    </div>
    <div class="col-md-3">
      <div class="checkbox-margin-top">
        {% include _atoms/forms/checkbox.html %}
      </div>
    </div>
  </div>
</form>