<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Lorem Ipsum</th>
        <th>Dolor Site Amet</th>
        <th>Consectetur Elit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Praesentium</td>
        <td>Tempora</td>
        <td>Ratione accusamus minus</td>
      </tr>
      <tr>
        <td>Accusantium</td>
        <td>Adipisicing</td>
        <td>Laborum maxime suscipit fugit</td>
      </tr>
      <tr>
        <td>Dolor</td>
        <td>Nihil</td>
        <td>Voluptates at modi, veritatis</td>
      </tr>
    </tbody>
  </table>
</div>