body {
    font-family: 'Lato', sans-serif;
}

section {overflow: hidden;}


/* headings */

h1 {}

h2 {}

h3 {
    font-size: 18px;
    font-weight: bold;
}

h4 {}


/* copy */

p {}

ul {}

li {}

span {}

nav{

    padding:50px 30px;
    position: fixed;

}




nav ul{margin:0px; padding:0px;}
nav li{list-style: none;}
nav li a{padding:20px; display:block;}
nav li a:hover{background:#f4f4f4;}

.pageName {
    font-weight: bold;
    text-transform: uppercase;
    margin: 60px auto 0px;
}

.sectionHead {
    padding: 25px;
    border: 1px solid #d0d0d0;
    margin: 40px 0px;
}

.issue {
    font-size: 24px;
    padding:20px;
    background-color:#ffe5c7;
}

.issueHeader {
    font-weight: bold;
}

.sampleHTML {
    padding: 0px 0px 0px 20px;
}

.comment {
    color: #777;
}

.code {
    display: block;
    font-family: monospace;
    color: #454545;
    white-space: pre-wrap;
    margin: 0px 20px 10px 0px;
    padding: 10px 0px;
    border-bottom: 1px dotted #d9d9d9;
}

.proposedSolution {
    padding: 0px 0px 40px 20px;
    border-bottom: 1px solid #d0d0d0;
}

.proposedSolution .code {
    border-bottom: none;
    margin:0px;
    padding:0px;
}


@media screen and (max-width:991px){

    nav{padding:10px 0px; position:fixed; width:100%; background-color:#fff; z-index: 1; border-bottom: 1px solid #777; margin:0px -15px;}
    nav li a{padding:20px; display:inline-block; float:left; min-width:200px;}

}

