---
title: Checkout
top-link: pages
brand: soma
layout: checkout
checkoutPage: confirmation
---
{% include _molecules/checkout/blocks/confirmation/order-confirmation.html %}
{% include _molecules/checkout/blocks/confirmation/shipping-address.html %}
{% include _molecules/checkout/blocks/confirmation/shipping-options.html %}
{% include _molecules/checkout/blocks/confirmation/payment.html %}
{% include _molecules/checkout/blocks/confirmation/my-order.html %}
{% include _molecules/checkout/blocks/confirmation/multi-ship.html %}
{% include _molecules/checkout/blocks/confirmation/multi-ship-gift.html %}