.filter-wrap {
  position: relative;
  margin-bottom: 2rem;
  @include filter-wrap;
  @media screen and (min-width: 992px) {
    background: $color-filters-bg;
  }
  .bootstrap-select.btn-group .dropdown-toggle,
  .bootstrap-select.btn-group.open .dropdown-toggle,
  .form-control.selectpicker {
    @include filters-default;
  }
  @media screen and (min-width: $break-md-min) {
    .dropdown {
      .dropdown-menu {
        display: block; // override bootstrap style
        visibility: hidden;
        @include opacity(0.0);
        transition: visibility linear 0.25s, opacity 0.25s linear;
      } 
    }
    &.hover {
      .dropdown.open {
        .dropdown-menu {
          visibility: visible;
          @include opacity(1.0);
          transition: visibility linear 0s, opacity 0.25s linear;
        }
      }
    }
  }
}

// these include the dropdown panels
// i had to add a bunch of floats to the top level anchors and spans to prevent IE from screwing up the layout

// this mixin will be applied to the nth child styles that target filter bars with extra categories as well screens between 992 and 1024px
@mixin filter-list-a-tight {
  padding: 0 1.7rem;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  @include clearfix;
  h3 {
    margin: 0 0 1.2rem 0;
    @include dropdown-li-heading;
  }
  > li {
    display: block;
    > a {
      display: block;
      @include filters-default;
      padding: 0 2.4rem; // override filters-default mixin
      line-height: 4.4rem; // override filters-default mixin
      color: $color-filters-label;
      @include transition(background);
      @include filters-default-overrides;
    }
    & > a:hover {
      text-decoration: none;
      background: $color-filters-label-hover;
    }
    &.open > a {
      color: $color-filters-label-hover;
      color: $color-filters-label-hover;
      background: $color-filters-label-hover-bg;
    }
    > a {
      float: left;
      width: 100%;

      span {
        @include clearfix;
        float: left; 
        display: block;
        width: 100%;
        &:after {
          display: block;
          float: right;
          width: 1rem;
          height: .7rem;
          margin: 1.8rem 0 0 .8rem;
          content: '';
          background-image: $filters-toggle-icon;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          // background-size: 10px 7px;
          @include opacity($filters-toggle-icon-opacity);
        }
      }
    }
    &.open > a span:after {
      
    }
    &.dropdown-selected {
      > a {
        color: $color-white;
        font-weight: 700;
      }
    }
    &.open {
      > a {
        color: $color-black;
        span:after {
          background-image: $filters-toggle-icon-open;
        }
      }
    }
  }
  .dropdown-menu {
    z-index: 450;
    margin: 0;
    padding: 0;
    border: 0;
    left: 0;
    right: 0;
    background: #fff;
    border-radius: 0;
    box-shadow: 0 .1rem .3rem 0 rgba(0, 0, 0, 0.1);
  }
  .filter-toggles {
    max-width: $max-width;
    margin: 0 auto;
    padding: 3.5rem 1.5rem;
    a {
      text-decoration: none;
      &:hover {
        color: $color-black;
      }
    }
    .row {
      clear: both;
    }
    h3 {
      font-size: 1.4rem;
    }
    @media screen and (max-width: $break-sm-max) {
      padding: 0 1.5rem 1rem 1.5rem;
    }
  }
  @media screen and (min-width: 992px) {
    > li {
      position: static;
      float: left;
      border-left: .1rem solid #fff;
      &.dropdown-sort {
        border-right: .1rem solid #fff;
        position: relative;
        .dropdown-menu { 
          @include box-shadow(0,6px,12px,0,rgba(0,0,0,0.175));
          > ul {
            padding: 0;
            list-style: none;
            > li {
              > a {
                display: block;
                clear: both;
                font-size: 1.2rem;
                line-height: 1.42857143;
                white-space: nowrap;
                padding: .7rem 1rem;
                text-transform: uppercase;
                text-decoration: none;
                &:hover {
                  background: $color-dropdown-li-selected;
                }
              }
              &.selected {
                > a {
                  background: $color-dropdown-li-selected;
                }
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: $break-sm-max) {
    > li > a {
      font-size: 1.5rem;
    }
    .dropdown,
    .dropdown-menu {
      position: static;
      width: 100%;

    }
    .dropdown-menu {
      @include box-shadow-none;
    }
  }
}


@media screen and (max-width: 1024px) {
  .filter-list {
    > li {
      > a {
        @include filter-list-a-tight;
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .filter-list {
    // 10 filter cats
    > li {
      &:nth-child(1):nth-last-child(10),
      &:nth-child(2):nth-last-child(9),
      &:nth-child(3):nth-last-child(8),
      &:nth-child(4):nth-last-child(7),
      &:nth-child(5):nth-last-child(6),
      &:nth-child(6):nth-last-child(5),
      &:nth-child(7):nth-last-child(4),
      &:nth-child(8):nth-last-child(3), 
      &:nth-child(9):nth-last-child(2), 
      &:nth-child(10):nth-last-child(1) {
        > a {
          @include filter-list-a-tight;
        }
      }
    }
    // 9 filter cats
    > li {
      &:nth-child(1):nth-last-child(9),
      &:nth-child(2):nth-last-child(8),
      &:nth-child(3):nth-last-child(7),
      &:nth-child(4):nth-last-child(6),
      &:nth-child(5):nth-last-child(5),
      &:nth-child(6):nth-last-child(4),
      &:nth-child(7):nth-last-child(3),
      &:nth-child(8):nth-last-child(2),
      &:nth-child(9):nth-last-child(1) {
        > a {
          @include filter-list-a-tight;
        }
      }
    }
    // 8 filter cats
    > li {
      &:nth-child(1):nth-last-child(8),
      &:nth-child(2):nth-last-child(7),
      &:nth-child(3):nth-last-child(6),
      &:nth-child(4):nth-last-child(5),
      &:nth-child(5):nth-last-child(4),
      &:nth-child(6):nth-last-child(3),
      &:nth-child(7):nth-last-child(2),
      &:nth-child(8):nth-last-child(1) {
        > a {
          @include filter-list-a-tight;
        }
      }
    }  
  }
}

// select dropdown
.filter-category {
  margin-left: -15px;
  margin-right: -15px;
  .bootstrap-select.btn-group .dropdown-toggle,
  .bootstrap-select.btn-group.open .dropdown-toggle,
  .form-control.selectpicker {
    background: $color-filters-bg;
    border-color: transparent;
    @media screen and (max-width: 991px) {
      color: $color-filters-label;
    }
  }
  @include filter-dropdown;
  .dropdown-menu {
    @include filter-dropdown-menu;
    > li.dropdown-header {
      padding: 2rem 1rem 0.7rem 1rem;
    }
    > li.divider {
      display: none;
    }
    > li a.opt {
      padding-left: 1rem !important;
    }
  }
  .form-group {
    margin: 0;
  }

  @media screen and (min-width: 992px) {
    float: left;
    min-width: 22rem;
    height: 4.4rem;
    margin: 0;
    padding-right: .5rem;
    border-right: .2rem solid #fff;
    .form-group {
      margin: .5rem 0;
    }
    .bootstrap-select.btn-group .dropdown-toggle,
    .form-control.selectpicker {
      border-color: transparent;
      background: $color-white;
    }
    .bootstrap-select.btn-group.open .dropdown-toggle {
      border-color: $color-filters-cat-border;
      background: $color-white;
    }
  }
  @media screen and (max-width: 991px) {
    .bootstrap-select {
      .btn {
        .caret {
          background-image: $filters-toggle-icon-sm;
        }
      }
    }
  }
}

.filter-sort {
  @media screen and (min-width: $break-md-min) {
    float: right;
    .form-group {
      margin: .5rem 0;
    }
    .form-control {
      color: $color-filters-label;
      background: transparent;
      border: transparent;
    }
    .bootstrap-select {
      .btn {
        color: $color-filters-label;
        background: transparent;
        border-color: transparent;
        .caret {
          background-image: $filters-toggle-icon;
        }
      }
    }
    .bootstrap-select.btn-group.open .dropdown-toggle {
      color: $color-filters-label;
      background: transparent;
      border-color: transparent;
    }
    .dropdown-menu {
      right: 0;
      left: auto;
      @include filter-dropdown-menu;
    }
  }
}

.filter-refine {
  display: none;
}

@media screen and (max-width: $break-sm-max) {
  .filter-category {
    margin: 0 0 1rem 0;
  }
  .filter-refine-sort {
    margin: 0 0 2rem 0;
    @include clearfix;
    @include filter-refine-sort;
  }
  .filter-refine,
  .filter-sort {
    border: .1rem solid $color-border;
  }
  .filter-refine {
    display: block;
    float: left;
    width: 49%;
    height: 3.6rem;
    margin-right: 1%;
    padding: .6rem 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-black;
    &:hover {
      text-decoration: none;
    }
    span {
      &:after {
        display: block;
        float: right;
        margin-top: .5rem;
        font-size: 0;
        line-height: 0;
        width: 1rem;
        height: 1rem;
        content: url('../svg/plus.svg');
        @include filter-icon-opacity-mobile;
      }
    }
  }
  .filter-sort {
    float: right;
    width: 49%;
    margin-left: 1%;
    @include filter-sort;
    .bootstrap-select.btn-group .dropdown-toggle,
    .bootstrap-select.btn-group.open .dropdown-toggle,
    .form-control.selectpicker {
      border-color: transparent;
    }
    .form-group {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: $break-xs-max) {
  .filter-wrap {
    .filter-list {
      margin-bottom: 2rem;
      > li {
        > a {
          max-width: 100%;
        }
      }
      .filter-toggles {
        max-width: 100%;
      }
    }
  }
}

// add .swatch or .box to .selector in order to get correct styling
.selector {
  position: relative;
  float: left;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 .5rem 0 1rem;
  border: .1rem solid transparent;
  background-image: none;
  &.swatch,
  &.swatch:before,
  &.box {
    @include transition(border);
  }
  &.swatch {
    background-size: 1.6rem 1.6rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    &:before {
      display: block;
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: .1rem solid transparent;
      @include transition(border);
    }
  }
  &.box {
    border: .1rem solid $color-black;
  }
}

.selector-label {
  display: block;
  overflow: hidden;
  zoom: 1;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2rem;
  padding: .3rem 0;
  @include selector-label;
}

.selector-toggle {
  display: block;
  margin-bottom: .2rem;
  padding: 1rem 0;
  border: .1rem solid transparent;
  overflow: hidden;
  zoom: 1;
  @include selector-toggle;
  &[data-toggle='filter-selector-all'] {
    .selector.swatch {
      border: .1rem solid $color-black;
    }
  }
  &:hover {
    .selector.swatch {
      border: .1rem solid $color-black;
      &:before {
        border-color: #fff;
      }
    }
  }
  &.selected {
    // @media screen and (min-width: 992px) {
      background: $color-dropdown-li-selected;
      border-color: $color-border;
    // }
    .selector.swatch {
      border-color: $color-black;
      &:before {
        border: .2rem solid #fff;
      }
    }
    .selector.box {
      background-color: $color-black;
      @include box-shadow(0,0,0,2px,rgb(255,255,255), inset);      
    }
  }
  // @include selector-label;
}

.selector-toggle.disabled {
  color: $color-gray-light;
  cursor: default;
  .selector.box,
  .selector.swatch {
    border-color: $color-gray-light;
    background: none !important;
  }
}
.filter-list .filter-toggles a.disabled,
.filter-list .filter-toggles a.disabled:hover {
  color: $color-gray-light;
}

@media screen and (max-width: $break-sm-max) {
  .selector-toggle {
    padding: 1.3rem 0;
  }
  .selector.swatch,
  .selector.box {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1.0rem;
    background-size: 2.4rem 2.4rem;
  }
  .selector-label {
    padding: .6rem 0;
  }
}

.filter-tools-mobile {
  display: none;
}

.filter-tools-mobile-head {
  display: none;
  @include filter-tools-mobile-head;
  @media screen and (max-width: $break-sm-max) {
    display: block;
    padding: 15px;
    h3 {
      margin: 0;
    }
    a {
      float: right;
    }
  }
}

.filter-tools {
  .bootstrap-select .btn .caret {
    @include filter-icon-opacity-mobile;
  }
}

@media screen and (min-width: $break-md-min) {
  .filter-list-wrap {
    float: left;
  }
}


@media screen and (max-width: $break-sm-max) {
  .filter-list-wrap {
    display: none;
    opacity: 0;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    &.open {
      display: block;
      position: fixed;
      z-index: 1200;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-bottom: 65px;
      overflow: auto;
      background: $color-white;
      display: block;
      opacity: 1;
      -webkit-animation: fadeIn .3s ease-in-out;
         -moz-animation: fadeIn .3s ease-in-out;
           -o-animation: fadeIn .3s ease-in-out;
              animation: fadeIn .3s ease-in-out;

    }
    .filter-list {
      > .dropdown {
        border-top: .1rem solid $color-border;
        @include clearfix;
      }
    }
  }
  .filter-tools-mobile {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background: $color-white;
    border-top: .1rem solid $color-border;
  }
  .filters-open {
    // position: fixed;
    // width: 100%;
    // height: 100%;
    overflow: hidden;
    .dropdown-backdrop {
      display: none;
    }
  }
}

// used for tools fade-in
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media screen and (max-width: 991px) {
  .filter-list {
    > li {
      > a {
        color: $color-filters-label-xs;
      }
      & > a:hover {
        background: $color-white;
      }
      &.open > a {
        background: $color-white;
      }
      & > a span:after {
        background-image: url(../svg/arrow-up.svg);
      }
      &.open > a span:after {
        background-image: url(../svg/arrow-down.svg);
      }
      &.dropdown-selected > a {
        color: $color-black;
      }
    }
  }
}
.filter-tags-wrap {
  margin-top: -1rem;
  font-size: 0;
  .filter-tags {
    display: inline;
  }
  .filter-tag,
  .filter-clear {
    display: inline-block;
    margin: 0 1rem 1rem 0;
    padding: 0 1.8rem;
    font: {
      size: 1.2rem;
      weight: 500;
    }
    line-height: 4rem;
    text-decoration: none;
    @include filter-tag;
    svg {
      width: 0.8rem;
      height: 0.8rem;
      margin-left: 0.7rem;
    }
  }
  @media screen and (max-width: 991px) {
    margin: -3rem 0 0 -.5rem;
  }
}
.filter-shop-by {
  padding: 4rem 1.5rem;
  @include dropdown-nav-panels;
}