<div class="modal modal-gallery" id="modal-gallery" tabindex="-1" role="dialog" aria-labelledby="modal-gallery" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close close-corner" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <!-- <div class="hidden-xs"> -->
          {% include _molecules/products/images-zoom.html %}        
        <!-- </div> -->
<!--         <div class="visible-xs">
          <img id="product-img" class="img-responsive" src="{{ site.baseurl }}/web_assets/imgs/temp/pdp/option1-md.jpg" alt="Product Name"
            srcset="
              {{ site.baseurl }}/web_assets/imgs/temp/pdp/option1-sm.jpg 480w,
              {{ site.baseurl }}/web_assets/imgs/temp/pdp/option1-md.jpg 767w
            "
            sizes="
              (min-width: 768px) 60vw,
              100vw
            "
          >
        </div> --><!-- .visible-xs -->
      </div>
    </div>
  </div>
</div>