<div class="modal fade" id="modal-terms" tabindex="-1" role="dialog" aria-labelledby="modal-terms" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close close-corner" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">Terms &amp; Conditions</h3>
      </div>
      <div class="modal-body">
        {% include _content/customer-care/terms.html %}
      </div>
    </div>
  </div>
</div>