---
layout: page-generic
title: Charity
top-link: pages
brand: whbm
---

<section class="about-block about-lead">
  <h2 class="about-heading">
    Charity
  </h2>
  <h1>We are committed to <span class="block-lg">empowering women</span></h1>
  <hr>
  <p>We’ve seen the influence of unity and know that together we can make a difference. This philosophy of togetherness—as a business alongside our customers and associates—is the foundation of our philanthropy.</p>
  <p>We proudly support organizations on a national and local level that encourage, empower and support all women. We invite you to get to know these groups.</p>
  <div class="charity-logos">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-2">
        <a href="#charity-1"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Charity+Logo&w=500&h=214" class="img-responsive" alt=""></a>
      </div>
      <div class="col-xs-4">
        <a href="#charity-2"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Charity+Logo&w=500&h=214" class="img-responsive" alt=""></a>
      </div>
    </div>
  </div>
</section><!-- .about-block -->

<section id="charity-1" class="charity-block">
  <div class="about-block about-sub-lead">
    <h2>Living Beyond Breast Cancer</h2>
    <hr>
    <p>We began our partnership with Ardmore, Pennsylvania-based LBBC in 2004—a national non-profit group dedicated to empowering and educating women with breast cancer. By 2006, we  became LBBC’s largest and most valued corporate contributor. In the years since, Chico’s FAS, Inc. has raised more than $5.5 million for LBBC.</p>
    <p><a href="#" class="btn btn-primary btn-responsive">Learn More</a></p>
  </div>

  {% include _molecules/modules/shelf.html moduleClass='module-sh-charity' moduleLayout='' moduleImage='https://placeholdit.imgix.net/~text?txtsize=52&txt=Actual+size:2400x1200&w=2400&h=1200' moduleImageMobile='https://placeholdit.imgix.net/~text?txtsize=52&txt=Actual+size:767x767&w=767&h=767' moduleHeading='<span>Lorem Ipsum</span> Header' moduleCopy='<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore sequi quasi iusto, minima odit.</p>' moduleLinkUrl='#' buttonLabel='Donate Now' buttonClass='btn-responsive' %}

  {% include _molecules/modules/combo.html carouselID="carousel-combo-1" moduleClass='module-combo-charity' moduleComboImg='https://placeholdit.imgix.net/~text?txtsize=23&txt=Actual+size:800x800&w=800&h=800' moduleCollection='Collection' moduleComboHeading='Lorem Ipsum' moduleComboCarouselImg1='https://placeholdit.imgix.net/~text?txtsize=23&txt=Actual+size:600x400&w=600&h=400' moduleComboCarouselCaption1='<p><span class="text-uppercase">Lorem ipsum dolor sit amet</span></p>' moduleComboCarouselImg2='https://placeholdit.imgix.net/~text?txtsize=23&txt=Actual+size:600x400&w=600&h=400' moduleComboCarouselCaption2='<p><span class="text-uppercase">Lorem ipsum dolor sit amet</span></p>' moduleComboCarouselImg3='https://placeholdit.imgix.net/~text?txtsize=23&txt=Actual+size:600x400&w=600&h=400' moduleComboCarouselCaption3='<p><span class="text-uppercase">Lorem ipsum dolor sit amet</span></p>' %}

  {% comment %}<div class="well text-center">Olapic content goes here</div>{% endcomment %}

</section><!-- .charity-block -->

<section id="charity-2" class="charity-block">
  <div class="about-block about-sub-lead">
    <h2>Dress for Success</h2>
    <hr>
    <p>Considered a global leader in women's employment assistance—providing professional attire to underprivileged women—Dress for Success has expanded to more than 135 cities in 16 countries since it was founded in 1997.</p>
    <p>With the help of Brand President, Donna Noce, we founded the Dress for Success Southwest Florida affiliate in 2010. Every year since, we’ve been a signature sponsor of their Shop for Success and Fashion Night in Black and White charity events. And in the last six years we’ve helped serve over 1,700 local women—providing monetary, clothing and accessories donations, and volunteer time. WHBM leaders serve on the board as well as various committees and help provide resources for job training, seminars, mentoring and career coaching.</p>
    <p><a href="#" class="btn btn-primary btn-responsive">dressforsuccess.org</a></p>
  </div>

  {% include _molecules/modules/shelf.html moduleClass='module-sh-charity' moduleLayout='' moduleImage='https://placeholdit.imgix.net/~text?txtsize=52&txt=Actual+size:2400x1200&w=2400&h=1200' moduleImageMobile='https://placeholdit.imgix.net/~text?txtsize=52&txt=Actual+size:767x767&w=767&h=767' moduleHeading='<span>Lorem Ipsum</span> Header' moduleCopy='<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore sequi quasi iusto, minima odit.</p>' moduleLinkUrl='#' buttonLabel='Donate Now' buttonClass='btn-responsive' %}

  {% include _molecules/modules/combo.html carouselID="carousel-combo-2" moduleClass='module-combo-charity' moduleComboImg='https://placeholdit.imgix.net/~text?txtsize=23&txt=Actual+size:800x800&w=800&h=800' moduleCollection='Collection' moduleComboHeading='Lorem Ipsum' moduleComboCarouselImg1='https://placeholdit.imgix.net/~text?txtsize=23&txt=Actual+size:600x400&w=600&h=400' moduleComboCarouselCaption1='<p><span class="text-uppercase">Lorem ipsum dolor sit amet</span></p>' moduleComboCarouselImg2='https://placeholdit.imgix.net/~text?txtsize=23&txt=Actual+size:600x400&w=600&h=400' moduleComboCarouselCaption2='<p><span class="text-uppercase">Lorem ipsum dolor sit amet</span></p>' moduleComboCarouselImg3='https://placeholdit.imgix.net/~text?txtsize=23&txt=Actual+size:600x400&w=600&h=400' moduleComboCarouselCaption3='<p><span class="text-uppercase">Lorem ipsum dolor sit amet</span></p>' %}

  {% comment %}<div class="well text-center">Olapic content goes here</div>{% endcomment %}

</section><!-- .charity-block -->

<section class="about-block about-logo-wrap">
  <hr>
  <div class="about-logo">
    <img src="{{ site.baseurl }}/web_assets/svg/whbm/logo.svg" alt="White House Black Market" class="img-responsive">
  </div>
</section>
