---
layout: page-collection
title: Sandbox
top-link: pages
brand: chicos
user: sarah
---

{% comment %}
Be sure to change the "brand" and "user" variables above
* available brand values are: "chicos", "whbm", and "soma"
* "user" should match your folder name
{% endcomment %}



{% comment %}
All other content modules should use the following container. You don't have to include .content and .container-fluid for each module. 
Those parent elements can wrap all modules.
{% endcomment %}
<div class="content">
  <div class="container-fluid">
    
	
    {% comment %}text left, image right, full-width image{% endcomment %}
    {% include _molecules/modules/shelf.html moduleClass='blackwhite-sh' moduleLayout='' moduleImage='assets/imgs/160210_SH_CHS_BlackWhite/160210_SH_CHS_BlackWhite_2400x914.jpg' moduleImageMobile='assets/imgs/160210_SH_CHS_BlackWhite/160210_SH_CHS_BlackWhite_767x767.jpg' moduleHeading='BLACK, WHITE & BOLD' moduleCopy='<p>The most modern of all color combos, it attracts the eyes…and the compliments.</p>' %}
	
	
	
  </div><!-- .container-fluid -->
</div><!-- .content -->

{% comment %}The following is the quick view modal used by various content module molecules.{% endcomment %}
{% include _molecules/modals/modal-quick-view.html %}