<div class="alert alert-success" role="alert">
  I am a generic action success message.
</div>
<div class="alert alert-info" role="alert">
  <strong>Please note:</strong> We can not guarantee store inventory availability. Inventory can change quickly throughout the day. Call store prior to arriving to confirm availability. Our locate in store feature only displays items that are not on sale.
</div>
<div class="alert alert-warning" role="alert">
  This item is sold out in that size.
</div>
<div class="alert alert-danger" role="alert">
  We do not see any completed orders for your account at this time. Please call customer service at 1.888.855.4986 to learn more details.
</div>