<div class="social-block">
  {% if include.facebook %}
    <a class="social-facebook" href="#">
      <svg class="icon-facebook">
        <use xlink:href="#icon-facebook"></use>
      </svg>
      <span class="sr-only">Facebook</span>
    </a>
  {% endif %}
  {% if include.twitter %}
    <a class="social-twitter" href="#">
      <svg class="icon-twitter">
        <use xlink:href="#icon-twitter"></use>
      </svg>
      <span class="sr-only">Twitter</span>
    </a>  
  {% endif %}
  {% if include.pinterest %}
    <a class="social-pinterest" href="#">
      <svg class="icon-pinterest">
        <use xlink:href="#icon-pinterest"></use>
      </svg>
      <span class="sr-only">Pinterest</span>
    </a>  
  {% endif %}
  {% if include.instagram %}
    <a class="social-instagram" href="#">
      <svg class="icon-instagram">
        <use xlink:href="#icon-instagram"></use>
      </svg>
      <span class="sr-only">Instagram</span>
    </a>  
  {% endif %}
  {% if include.youtube %}
    <a class="social-youtube" href="#">
      <svg class="icon-youtube">
        <use xlink:href="#icon-youtube"></use>
      </svg>
      <span class="sr-only">YouTube</span>
    </a>  
  {% endif %}
  {% if include.youtube %}
    <a class="social-youtube" href="#">
      <svg class="icon-youtube">
        <use xlink:href="#icon-youtube"></use>
      </svg>
      <span class="sr-only">YouTube</span>
    </a>  
  {% endif %}
  {% if include.googlePlus %}
    <a class="social-google-plus" href="#">
      <svg class="icon-google-plus">
        <use xlink:href="#icon-google-plus"></use>
      </svg>
      <span class="sr-only">Google+</span>
    </a>  
  {% endif %}
  {% if include.snapchat %}
    <a class="social-snapchat" href="#">
      <svg class="icon-snapchat">
        <use xlink:href="#icon-snapchat"></use>
      </svg>
      <span class="sr-only">Snapchat</span>
    </a>  
  {% endif %}
  {% if include.insideChic %}
    <a class="social-inside-chic" href="#">
      <svg class="icon-inside-chic">
        <use xlink:href="#icon-inside-chic"></use>
      </svg>
      <span class="sr-only">Inside Chic</span>
    </a>  
  {% endif %}
</div>
