<div class="social">
  <div class="footer-heading">Follow Us</div>
  {% if page.brand == 'soma' %}
    <a class="social-instagram" href="#">
      <svg class="icon-instagram">
        <use xlink:href="#icon-instagram"></use>
      </svg>
      <span class="sr-only">Instagram</span>
    </a>
    <a class="social-pinterest" href="#">
      <svg class="icon-pinterest">
        <use xlink:href="#icon-pinterest"></use>
      </svg>
      <span class="sr-only">Pinterest</span>
    </a>
    <a class="social-facebook" href="#">
      <svg class="icon-facebook">
        <use xlink:href="#icon-facebook"></use>
      </svg>
      <span class="sr-only">Facebook</span>
    </a>
    <a class="social-youtube" href="#">
      <svg class="icon-youtube">
        <use xlink:href="#icon-youtube"></use>
      </svg>
      <span class="sr-only">YouTube</span>
    </a>
    <a class="social-twitter" href="#">
      <svg class="icon-twitter">
        <use xlink:href="#icon-twitter"></use>
      </svg>
      <span class="sr-only">Twitter</span>
    </a>
  {% elsif page.brand == 'whbm' %}
    <a class="social-instagram" href="#">
      <svg class="icon-instagram">
        <use xlink:href="#icon-instagram"></use>
      </svg>
      <span class="sr-only">Instagram</span>
    </a>
    <a class="social-pinterest" href="#">
      <svg class="icon-pinterest">
        <use xlink:href="#icon-pinterest"></use>
      </svg>
      <span class="sr-only">Pinterest</span>
    </a>
    <a class="social-facebook" href="#">
      <svg class="icon-facebook">
        <use xlink:href="#icon-facebook"></use>
      </svg>
      <span class="sr-only">Facebook</span>
    </a>
    <a class="social-youtube" href="#">
      <svg class="icon-youtube">
        <use xlink:href="#icon-youtube-alt"></use>
      </svg>
      <span class="sr-only">YouTube</span>
    </a>
    <a class="social-twitter" href="#">
      <svg class="icon-twitter">
        <use xlink:href="#icon-twitter"></use>
      </svg>
      <span class="sr-only">Twitter</span>
    </a>
    {% comment %}removed 12-09-16
    <a class="social-google-plus" href="#">
      <svg class="icon-google-plus">
        <use xlink:href="#icon-google-plus"></use>
      </svg>
      <span class="sr-only">Google+</span>
    </a>
    {% endcomment %}
    <a class="social-snapchat" href="#">
      <svg class="icon-snapchat">
        <use xlink:href="#icon-snapchat"></use>
      </svg>
      <span class="sr-only">Snapchat</span>
    </a>
  {% else %}
    <a class="social-instagram" href="#">
      <svg class="icon-instagram">
        <use xlink:href="#icon-instagram"></use>
      </svg>
      <span class="sr-only">Instagram</span>
    </a>
    <a class="social-pinterest" href="#">
      <svg class="icon-pinterest">
        <use xlink:href="#icon-pinterest"></use>
      </svg>
      <span class="sr-only">Pinterest</span>
    </a>
    <a class="social-facebook" href="#">
      <svg class="icon-facebook">
        <use xlink:href="#icon-facebook"></use>
      </svg>
      <span class="sr-only">Facebook</span>
    </a>
    <a class="social-youtube" href="#">
      <svg class="icon-youtube">
        <use xlink:href="#icon-youtube"></use>
      </svg>
      <span class="sr-only">YouTube</span>
    </a>
    <a class="social-twitter" href="#">
      <svg class="icon-twitter">
        <use xlink:href="#icon-twitter"></use>
      </svg>
      <span class="sr-only">Twitter</span>
    </a>
    <a class="social-google-plus" href="#">
      <svg class="icon-google-plus">
        <use xlink:href="#icon-google-plus"></use>
      </svg>
      <span class="sr-only">Google+</span>
    </a>
    <a class="social-inside-chic" href="#">
      <svg class="icon-inside-chic">
        <use xlink:href="#icon-inside-chic"></use>
      </svg>
      <span class="sr-only">Inside Chic</span>
    </a>
  {% endif %}
</div>
