<p>The Chico's family was built on kind spirits, customer care, and community support. We understand that our communities have made Chico's successful and we are privileged to give back to both our associates and our communities. We support our communities in various ways with a predominant focus on women, children, health, education, and the environment.</p>
<h2>Giving Guidelines</h2>
<p>Chico's FAS, Inc. ("Chico's") receives thousands of requests for donations annually. In order to ensure that our donations are consistent with our mission and that all requests are given a fair review, Chico's has developed the following Giving Guidelines.</p>
<h2>Philanthropic Focus</h2>
<p>Our donations will be limited to organizations whose major purpose is serving women and children and our community. Within these broad categories, Chico's will focus its charitable giving on organizations offering the following programs.</p>
<h3>Women and Children</h3>
<ul>
  <li>Improving healthcare for women and children</li>
  <li>Promoting the empowerment of women</li>
  <li>Stopping violence against women and children</li>
  <li>Improving K-12 classroom programs and learning tools</li>
  <li>Supporting early education and reading programs</li>
  <li>Promoting community involvement in public school systems</li>
</ul>
<h3>Community</h3>
<ul>
  <li>Supporting neighborhood programs that are aligned with these Guidelines</li>
  <li>Supporting the arts</li>
  <li>Festivals and events that enhance the community through promoting women and children</li>
  <li>Preserving green space</li>
</ul>
<h2>Types of Available Funding</h2>
<p>Chico's will generally limit its contributions to:</p>
<ul>
  <li>General operating support for programs that help approved organizations with fundraising events and/or donating equipment or supplies.</li>
  <li>Sponsor or purchase tables at events benefiting public 501(c)(3) organizations that serve areas where we have a strong community presence, associates volunteering for the event, or in our headquarters community.</li>
  <li>Very specific Capital Campaigns for construction or renovation of facilities that are vital to the advancement of agencies' success in our communities.</li>
</ul>
<p>Chico's will not support organizations that discriminate against anyone based on gender, political groups, religious beliefs, sexual orientation, or ethnicity. In addition, Chico's will not make contributions to:</p>
<ul>
  <li>Conferences, athletic teams, individual clubs, troops, or school classrooms</li>
  <li>Individuals, including scholarships or travel-related expenses paid to individual political, sectarian, fraternal, or religious organizations</li>
  <li>Political parties or other political groups</li>
</ul>
<h2>How to apply for funding</h2>
<p>Proposals / Request must include the following information:</p>
<ul>
  <li>A brief one to two-page description of your funding request and the requested amount. Included should be your organization's history and mission statement.</li>
  <li>A copy of your organization's IRS 501(c)(3) letter.</li>
  <li>A current annual operating budget with income and expenses.</li>
  <li>A project or program budget detailing expenses and anticipated income sources, if you are requesting support for a specific project.</li>
  <li>Information on opportunities for our associates to volunteer or partner with your organization.</li>
</ul>
<p>To request funding, please send a written proposal. Please do not send video, CD, DVD or fax.</p>
<address>
  Chico's FAS, Inc.<br>
  11215 Metro Parkway<br>
  Ft. Myers, Florida 33966<br>
  ATTN: Charitable Giving
</address>
<div class="alert alert-info">
  All requests will be reviewed quarterly (January, April, July, October). Due to the large number of requests received, we will are unable to respond to requests that are declined.<br>
  <strong>Note:</strong> Incomplete applications will not be accepted.
</div>
<h2>Grant Renewal</h2>
<p>A report on the previous grant(s) awarded should be submitted with your renewal request. All of the above information should be included with your proposal.</p>