{% if page.brand == 'whbm' %}
  <p>Current law requires us to collect sales or other applicable state taxes, based on the order's "ship to" address, in those states or jurisdictions where White House | Black Market stores are located. Some states assess sales tax on shipping and handling charges. All applicable taxes will be clearly displayed on your final order or receipt.</p>
  <div class="alert alert-info">
    Note: State sales and other tax rates are subject to change at any time.
  </div>
  <p>White House | Black Market will also collect applicable sales and other applicable state taxes in any other state or jurisdictions after a new White House | Black Market store opens in that state or jurisdiction.</p>
  <p>For details on International orders, see our <a href="faq.html#7">International FAQ</a>.</p>
{% else %}
  <p>Current law requires us to collect sales or other applicable state taxes, based on the order's "ship to" address, in those states or jurisdictions where Chico's stores are located. Some states assess sales tax on shipping and handling charges. All applicable taxes will be clearly displayed on your final order or receipt.</p>

  <div class="alert alert-info">
    Note: State sales and other tax rates are subject to change at any time.
  </div>
  <p>Chico's will also collect applicable sales and other applicable state taxes in any other state or jurisdictions after a new Chico's store opens in that state or jurisdiction.</p>
  <p>For details on International orders, <a href="faq.html#7">see our International FAQ</a>.</p>
{% endif %}
