<div class="c-sp-social">
  <a href="#">
    <svg class="icon-pinterest">
      <use xlink:href="#icon-pinterest"></use>
    </svg>
  </a>
  {% if page.brand == 'whbm' %}
    <a href="#">
      <svg class="icon-facebook">
        <use xlink:href="#icon-facebook"></use>
      </svg>
    </a>
    <a href="#">
      <svg class="icon-twitter">
        <use xlink:href="#icon-twitter"></use>
      </svg>
    </a>
  {% endif %} 
</div><!-- .c-sp-social -->
<div class="c-sp-prods">
  <span class="close-wrap">
    <a href="#" data-toggle="c-sp-toggle">
      <svg class="icon-close">
        <use xlink:href="#icon-close"></use>
      </svg>
    </a>
  </span>
  <div class="c-sp-prods-inner">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="https://placeholdit.imgix.net/~text?txtsize=10&bg=ccc&txtclr=555&txt=Product&w=100&h=133" alt="">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="#">Product Name</a></h4>
        <p>
          $139.00<br>
          <a href="#">See Details</a>
        </p>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="https://placeholdit.imgix.net/~text?txtsize=10&bg=ccc&txtclr=555&txt=Product&w=100&h=133" alt="">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="#">Product Name</a></h4>
        <p>
          $139.00<br>
          <a href="#">See Details</a>
        </p>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="https://placeholdit.imgix.net/~text?txtsize=10&bg=ccc&txtclr=555&txt=Product&w=100&h=133" alt="">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="#">Product Name</a></h4>
        <p>
          $139.00<br>
          <a href="#">See Details</a>
        </p>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="https://placeholdit.imgix.net/~text?txtsize=10&bg=ccc&txtclr=555&txt=Product&w=100&h=133" alt="">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="#">Product Name</a></h4>
        <p>
          $139.00<br>
          <a href="#">See Details</a>
        </p>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="https://placeholdit.imgix.net/~text?txtsize=10&bg=ccc&txtclr=555&txt=Product&w=100&h=133" alt="">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="#">Product Name</a></h4>
        <p>
          $139.00<br>
          <a href="#">See Details</a>
        </p>
      </div>
    </div>
  </div>
</div>