<div class="curated-header">
  {% comment %}<img src="https://placeholdit.imgix.net/~text?txtsize=33&w=1680&h=508" alt="" class="img-responsive">{% endcomment %}
  <img src="{{ site.baseurl }}/web_assets/imgs/modules/curated-banner.png" class="img-responsive hidden-xs" alt="">
  <img src="{{ site.baseurl }}/web_assets/imgs/modules/curated-banner-sm.png" class="img-responsive visible-xs" alt="">
  <div class="curated-header-content">
    <div class="curated-header-content-inner">
      <h1><em>The</em> Jean <em>Guide</em></h1>
      {% include _atoms/text/heading-has-line.html headingLabel="Find Your Fit" %}
      <div class="row hidden-xs">
        <div class="col-sm-3">
          <a class="curated-header-cat-link" href="#curated-1">
            {% comment %}<em>the</em> {% endcomment %}<span class="curated-header-cat">So Lifting&trade;</span> <span class="curated-header-product">Slim Leg</span>
          </a>
        </div>
        <div class="col-sm-3">
          <a class="curated-header-cat-link" href="#curated-2">
            {% comment %}<em>the</em> {% endcomment %}<span class="curated-header-cat">Platinum</span> <span class="curated-header-product">Jegging</span>
          </a>
        </div>
        <div class="col-sm-3">
          <a class="curated-header-cat-link" href="#curated-3">
            {% comment %}<em>the</em> {% endcomment %}<span class="curated-header-cat">Platinum</span> <span class="curated-header-product">Barely Boot</span>
          </a>
        </div>
        <div class="col-sm-3">
          <a class="curated-header-cat-link" href="#curated-4">
            {% comment %}<em>the</em> {% endcomment %}<span class="curated-header-cat">So Perfect</span> <span class="curated-header-product">Legging</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div><!-- curated-header -->