<section class="module {{ include.moduleClass }}">
  <div class="module-icon-text">
    <div class="module-inner">
      <div class="row">
        <div class="col-sm-4">
          <a href="#" class="icon-text-item">
            <svg class="icon-plus">
              <use xlink:href="#icon-pinterest"></use>
            </svg>
            <span class="icon-text-copy">
              <strong>Social CTA</strong> Lorem ipsum dolor sit amet
            </span>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="#" class="icon-text-item">
            <svg class="icon-plus">
              <use xlink:href="#icon-airplane"></use>
            </svg>
            <span class="icon-text-copy">
              <strong>Shipping Calendar</strong> Lorem ipsum dolor sit amet
            </span>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="#" class="icon-text-item">
            <svg class="icon-plus">
              <use xlink:href="#icon-gift"></use>
            </svg>
            <span class="icon-text-copy">
              <strong>Gift Options</strong> Lorem ipsum dolor sit amet
            </span>
          </a>
        </div>
      </div>
    </div>
  </div><!-- .module-cta-icons -->
</section><!-- .module -->