<section class="module">
  <div class="module-img-wrap">
    <div class="module-inner">
      <div class="row">
        <div class="col-sm-6">
          {% include _molecules/modules/img-overlay.html moduleClass='' moduleHeading='Lacey Stitch Cardigan' moduleCollection='Travelers Collection' moduleLink='Shop Now' moduleImage='https://placeholdit.imgix.net/~text?txtsize=23&txt=Actual+size:800x800&w=800&h=800' %}
        </div>
        <div class="col-sm-6">
          {% include _molecules/modules/img.html moduleImgImg='product2' moduleImgName='Our Best Tops' %}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          {% include _molecules/modules/ad.html moduleAdColor='blue' moduleAdHeading='40% Off' moduleAdSubheading='Entire Purchase' moduleAdCopy='Passport members take an additional 5% off' moduleAdCode='Use code 66073' %}
        </div>
        <div class="col-sm-6">
          {% include _molecules/modules/img.html moduleImgImg='product3' moduleImgName="Summer's Hottest Hue" %}
        </div>
      </div>
    </div>
  </div>
</section><!-- .module -->