<section class="module module-carousel whbm-collection-hero">
  <div class="module-inner">
    <div id="carousel-default" class="carousel slide carousel-lg carousel-copy-left" data-ride="carousel" data-interval="false" aria-live="polite">
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{ site.baseurl }}/web_assets/imgs/whbm/whbm-collection-grid.jpg" class="hidden-xs">
          <img src="{{ site.baseurl }}/web_assets/imgs/whbm/whbm-collection-grid-320.jpg" class="visible-xs img-responsive">            
          <div class="carousel-caption">
            <h2 class="heading-serif heading-caps">Tops Category Header</h2>
            <p>Lorem Ipsum Dolor Sit Amet</p>
          </div>
        </div>
      </div>
    </div><!-- #carousel-default -->
  </div>
</section><!-- .module -->