<div class="content">
  <div class="container-fluid">
    {% include _molecules/modules/shelf-appt.html moduleClass='' moduleHeading='Style <em>by</em> Appointment' moduleHeading='Style <em>by</em> Appointment' moduleCopy='<p>Fun. Free. Fabulous! Our Style Experts are here to help.</p>' moduleCtaCopy="Visit or call any Chico's boutique to make an appointment with one of our Style Experts." moduleLink='Make an Appointment' %}
    <div class="appt-wrap">
      <div class="row">
        <div class="col-sm-4">
          <div class="appt-item">
            <p><img src="{{ site.baseurl }}/web_assets/svg/appt/dress.svg" alt="Style"></p>
            <h2>Style Experts to the Rescue</h2>
            <p>Whether it's for work, an A-list soir&eacute;e or just to give your wardrobe a revamp, they'll help you find those must-have pieces and show you how to put them together.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="appt-item">
            <p><img src="{{ site.baseurl }}/web_assets/svg/appt/shoe.svg" alt="Fashion"></p>
            <h2>Life's Complicated; Fashion Shouldn't Be</h2>
            <p>We'll make it ridiculously easy and stress-free. We'll pick an assortment of looks we know you'll love and have them waiting when you arrive.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="appt-item">
            <p><img src="{{ site.baseurl }}/web_assets/svg/appt/clock.svg" alt="Time"></p>
            <h2>You're Busy; We Get That</h2>
            <p>Can't make it to the boutique? You can reach our Style Experts 24/7 via email, over the phone, or right here at chicos.com. We'll ship your order straight to your door.</p>
          </div>
        </div>
      </div>
      
      <hr>

      <div class="row">
        <div class="col-sm-4">
          <div class="appt-item">
            <blockquote class="blockquote">
              <p>Chico's is the best of the rest when it comes to sales and service, they treat their passport customers very well with the extra 5% discount and FREE shipping.</p>
              <p class="author">
                &mdash; Maralyn B., IL
              </p>
            </blockquote>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="appt-item">
            <p><img src="{{ site.baseurl }}/web_assets/svg/appt/calendar.svg" alt="Schedule"></p>
            <h2>Private Appointments</h2>
            <p>Live like the VIP we know you are. We'll open early or keep the boutique open late so you can shop privately or with your friends.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="appt-item">
            <blockquote class="blockquote">
              <p>They were great at putting outfits together that made sense and I greatly appreciated their willingness to spend so much time with me.</p>
              <p class="author">
                &mdash; Claire M., NY
              </p>
            </blockquote>
          </div>
        </div>
      </div>

      <hr>
      
      <div class="appt-cta">
        <h2>Meet Your Style Expert</h2>
        <p>What are you waiting for? Call or visit today.</p>
        <p><a href="" class="btn btn-primary">Find a Boutique</a></p>
      </div>

    </div>


  </div><!-- .container-fluid -->
</div><!-- .content -->