<div class="molecular-content">
  <p class="update">Last updated: {{ site.time | date: '%B %d, %Y' }}</p>

  <h1 class="bucket-heading" id="lists">Lists</h1>
  {% include _molecules/lists/all.html %}

  <h1 class="bucket-heading" id="navigation">Navigation</h1>
  {% include _molecules/navigation/all.html %}

  <h1 class="bucket-heading" id="forms">Forms</h1>
  {% include _molecules/forms/all.html %}

  <h1 class="bucket-heading" id="tables">Tables</h1>
  {% include _molecules/tables/all.html %}

  <h1 class="bucket-heading" id="components">Components</h1>
  {% include _molecules/components/all.html %}

  <h1 class="bucket-heading" id="modals">Modals</h1>
  {% include _molecules/modals/all.html %}

  <h1 class="bucket-heading" id="modules">Content Modules</h1>
  {% include _molecules/modules/all.html %}

  <h1 class="bucket-heading" id="blocks">Blocks</h1>
  {% include _molecules/blocks/all.html %}

  <h1 class="bucket-heading" id="products">Products</h1>
  {% include _molecules/products/all.html %}

  <h1 class="bucket-heading" id="sandbox">Sandbox</h1>
  {% include _molecules/sandbox/all.html %}

</div>

<div class="scrollspy">
  <div id="nav" class="nav hidden-xs hidden-sm" data-spy="affix">
    <h3>Molecules</h3>
    <ul>
      <li><a href="#lists">Lists</a>
        <ul class="nav">
          <li><a href="#lists-store-results">Store Search Results</a></li>
        </ul>
      </li>
      <li><a href="#navigation">Navigation</a>
        <ul class="nav">
          <li><a href="#navigation-secondary-product">Secondary: Product</a></li>
          <li><a href="#navigation-secondary-customer">Secondary: Customer</a></li>
          <li><a href="#navigation-secondary-account">Secondary: Account</a></li>
          <li><a href="#navigation-tabs">Tabs</a></li>
          <li><a href="#navigation-filters">Filters</a></li>
          <li><a href="#navigation-filter-selectors">Filter Selectors</a></li>
          <li><a href="#navigation-back-link">Back Link</a></li>
          <li><a href="#navigation-top-link">Top Link</a></li>
          <li><a href="#navigation-breadcrumb">Breadcrumb</a></li>
          <li><a href="#navigation-product-count">Product Count</a></li>
        </ul>
      </li>
      <li><a href="#forms">Forms</a>
        <ul class="nav">
          <li><a href="#forms-simple">Simple</a></li>
          <li><a href="#forms-input-group">Input/Button Group</a></li>
          <li><a href="#forms-cols">Columns</a></li>
          <li><a href="#forms-horizontal">Horizontal</a></li>
          <li><a href="#forms-inline">Inline</a></li>
          <li><a href="#forms-message">With Message</a></li>
          <li><a href="#forms-cta">With Call-to-Action</a></li>
          <li><a href="#forms-gift-card">Gift Card</a></li>
          <li><a href="#forms-address">Address</a></li>
          <li><a href="#forms-add-cc">Add Credit Card</a></li>
          <li><a href="#forms-add-address">Add Address</a></li>
          <li><a href="#forms-locator">Store Locator</a></li>
          <li><a href="#forms-locator-sidebar">Store Locator (sidebar)</a></li>
          <li><a href="#forms-login">Login</a></li>
          <li><a href="#forms-login-checkout">Login (Checkout)</a></li>
        </ul>
      </li>
      <li><a href="#tables">Tables</a>
        <ul class="nav">
          <li><a href="#tables-checkout">Checkout</a></li>
          <li><a href="#tables-size-chart-missy">Size Chart (Missy)</a></li>
          <li><a href="#tables-size-chart-petites">Size Chart (Petites)</a></li>
          <li><a href="#tables-size-chart-belt">Size Chart (Belt)</a></li>
          <li><a href="#tables-size-chart-spanx">Size Chart (Spanx)</a></li>
          <li><a href="#tables-shipping">Shipping</a></li>
          <li><a href="#tables-wishlist-owner">Wish List (Owner)</a></li>
          <li><a href="#tables-wishlist-friend">Wish List (Friend)</a></li>
        </ul>
      </li>
      <li><a href="#components">Components</a>
        <ul class="nav">
          <li><a href="#components-header-promo">Header Promo</a></li>
          {% comment %}<li><a href="#components-facet-color">Color Facets</a></li>
          <li><a href="#components-facet-size">Size Facets</a></li>
          <li><a href="#components-facet-inseam">Inseam Facets</a></li>{% endcomment %}
          <li><a href="#components-swatches-group">Swatches Group</a></li>
          <li><a href="#components-share">Share Icons (PDP)</a></li>
          <li><a href="#components-social">Social Icons</a></li>
          <li><a href="#components-chat">Chat Widget</a></li>
          <li><a href="#components-chat-footer">Chat in Footer</a></li>
          <li><a href="#components-chat-footer-active">Chat in Footer (Active)</a></li>
          <li><a href="#components-footer-promo">Footer Promo</a></li>
          <li><a href="#components-video">Video Wrapper</a></li>
        </ul>
      </li>
      <li><a href="#modals">Modals</a>
        <ul class="nav">
          <li><a href="#modals-simple">Simple</a></li>
          <li><a href="#modals-has-header">Modal with Header</a></li>
          <li><a href="#modals-signup">Signup</a></li>
          <li><a href="#modals-signup-error">Signup with Error</a></li>
          <li><a href="#modals-gallery">Gallery</a></li>
          <li><a href="#modals-size">Size</a></li>
          <li><a href="#modals-size-calculator">Size Calculator</a></li>
          <li><a href="#modals-quick-view">Quick View</a></li>
          <li><a href="#modals-cart">Shopping Cart</a></li>
          <li><a href="#modals-cc">Credit Card</a></li>
          <li><a href="#modals-address">Address</a></li>
          <li><a href="#modals-privacy-policy">Privacy Policy</a></li>
          <li><a href="#modals-terms">Terms</a></li>
          <li><a href="#modals-returns">Returns</a></li>
          {% if page.brand == 'chicos' %}       
            <li><a href="#modals-passport">Passport</a></li>
            <li><a href="#modals-print-passport">Print Passport</a></li>
          {% endif %}
          <li><a href="#modals-login">Login Message</a></li>
          <li><a href="#modals-video-1">Simple Video</a></li>
          <li><a href="#modals-promo-disclaimer">Promo Disclaimer</a></li>
          {% if page.brand == 'whbm' %}
            <li><a href="#modals-rewards-faq">Rewards FAQ</a></li>
            <li><a href="#modals-rewards-terms">Rewards Terms</a></li>
          {% endif %}

        </ul>
      </li>
      <li><a href="#modules">Content Modules</a>
        <ul class="nav">
          <li><a href="#carousels-default">Default Carousel</a></li>
          <li><a href="#carousels-jumbo">Jumbo Carousel</a></li>
          <li><a href="#carousels-single-img">Single Image Carousel</a></li>
          <li><a href="#carousels-shelf">Carousel/Shelf Header</a></li>
          <li><a href="#carousels-related">Related Carousel</a></li>
          <li><a href="#carousels-collection-promo">Collection Promo Carousel</a></li>
          <li><a href="#carousels-collection-promo-single">Collection Promo (Single Element)</a></li>
          {% if page.brand == "whbm" %}
            <li><a href="#carousels-collection-promo-static">Collection Promo Static Carousel</a></li>
            <li><a href="#carousels-collection-promo-static-single">Collection Promo Static (Single Element)</a></li>
          {% endif %}
          <li><a href="#carousels-product-grid">Product Grid Carousel</a></li>
          <li><a href="#carousels-product-grid-production">Product Grid Carousel (prod)</a></li>
          <li><a href="#modules-curated-header">Curated Header</a></li>
          <li><a href="#modules-img-overlay">Image with Text Overlay</a></li>
          <li><a href="#modules-img-overlay-bot">Image with Text Overlay (Bottom)</a></li>
          <li><a href="#modules-img-overlay-shift">Image with Text Overlay (Text Shifts)</a></li>
          <li><a href="#modules-img-overlay-white">Image with Text Overlay (White)</a></li>
          <li><a href="#modules-img-overlay-carousel">Image with Text Overlay (Carousel)</a></li>
          <li><a href="#modules-img-wrap">Image with Text</a></li>
          <li><a href="#modules-img-wrap-video">Image with Text &amp; Video</a></li>
          <li><a href="#modules-combo">Combo</a></li>
          <li><a href="#modules-combo-img">Combo w/ Images</a></li>
          <li><a href="#modules-ad-large">Large Ad</a></li>
          <li><a href="#modules-ad-small">Small Ad</a></li>
          <li><a href="#modules-blog">Blog</a></li>
          <li><a href="#modules-social">Social</a></li>  
          <li><a href="#modules-icon-with-text">Icon with Text</a></li>  
          <li><a href="#modules-shelf-left">Shelf Header</a></li>
          <li><a href="#modules-shelf-right">Shelf Header Right</a></li>
          <li><a href="#modules-shelf-left-thirds">Shelf Header 1/3</a></li>
          <li><a href="#modules-shelf-right-thirds">Shelf Header 1/3 Right</a></li>
          <li><a href="#modules-shelf-left-overlay">Shelf Header Overlay</a></li>
          <li><a href="#modules-shelf-right-overlay">Shelf Header Overlay Right</a></li>
          <li><a href="#modules-shelf-center-overlay">Shelf Header Overlay Center</a></li>
          <li><a href="#modules-shelf-left-c-sp">Shelf Header (S-Coll)</a></li>
          <li><a href="#modules-shelf-right-c-sp">Shelf Header Right (S-Coll)</a></li>
          <li><a href="#modules-shelf-left-thirds-c-sp">Shelf Header 1/3 (S-Coll)</a></li>
          <li><a href="#modules-shelf-right-thirds-c-sp">Shelf Header 1/3 Right (S-Coll)</a></li>
          <li><a href="#modules-shelf-left-overlay-c-sp">Shelf Header Overlay (S-Coll)</a></li>
          <li><a href="#modules-shelf-right-overlay-c-sp">Shelf Header Overlay Right (S-Coll)</a></li>
          <li><a href="#modules-shelf-bg-img">Shelf Header with Background Image</a></li>
          <li><a href="#modules-shelf-appt">Shelf Header: Appointment</a></li>
          <li><a href="#modules-charity-heading">Charity Heading</a></li>
          <li><a href="#modules-charity">Charity</a></li>
          <li><a href="#modules-shelf-text-simple">Shelf Text: Simple</a></li>
          <li><a href="#modules-shelf-text-heading">Shelf Text: Heading</a></li>
          <li><a href="#modules-shelf-text-large">Shelf Text: Large Copy</a></li>
          {% if page.brand == "whbm" %}
            <li><a href="#modules-hotspots">Hotspots</a></li>
            <li><a href="#modules-hotspots-2x">Hotspots in 2x</a></li>
            <li><a href="#modules-hotspots-2x-dark">Hotspots in 2x (dark)</a></li>
            <li><a href="#modules-hotspots-2x-carousel">Hotspots in 2x (carousel)</a></li>
            <li><a href="#modules-hotspots-2x-dark-carousel">Hotspots in 2x (dark carousel)</a></li>
          {% endif %}
          <li><a href="#modules-video">Video Module (Placeholder)</a></li>
          {% if page.brand == "whbm" %}
            <li><a href="#modules-olapic-header">Olapic Header</a></li>
            <li><a href="#modules-olapic-grid">Olapic Grid</a></li>
          {% endif %}
        </ul>
      </li>
      <li><a href="#blocks">Blocks</a>
        <ul class="nav">
          <li><a href="#blocks-media">Media</a></li>
          <li><a href="#blocks-dl-wrap">Definition List with Heading</a></li>
          <li><a href="#blocks-product-details">Product Details</a></li>
          <li><a href="#blocks-product-details-bag">Product Details (Bag)</a></li>
          <li><a href="#blocks-detail-wrap">Detail Wrap</a></li>
          <li><a href="#blocks-detail-wrap-dl">Detail Wrap w/ Definition List</a></li>
          <li><a href="#blocks-detail-wrap-cols">Detail Wrap w/ Columns</a></li>
          <li><a href="#blocks-detail-wrap-table">Detail Wrap w/ Table</a></li>
          <li><a href="#blocks-detail-wrap-sidebar">Detail Wrap in Sidebar</a></li>
          <li><a href="#blocks-gift-card">Gift Card</a></li>
          <li><a href="#blocks-mbox-gift-card-balance">MBOX and Gift Card Balance</a></li>
          <li><a href="#blocks-cc">Credit Card</a></li>
          <li><a href="#blocks-address">Address</a></li>
          <li><a href="#blocks-sidebar">Sidebar Item</a></li>
          <li><a href="#blocks-banner-secondary">Banner (Secondary CTA)</a></li>
        </ul>
      </li>
      <li><a href="#products">Products</a>
        <ul class="nav">
          <li><a href="#products-listing-single">Listing (single)</a></li>
          <li><a href="#products-listing-all">Listing (row)</a></li>
          <li><a href="#products-related-single">Related (single)</a></li>
          <li><a href="#products-related-all">Related (row)</a></li>
          <li><a href="#products-related-all-no-heading">Related (row, no heading)</a></li>
          <li><a href="#products-heading">Heading</a></li>
          <li><a href="#products-controls">Controls</a></li>
          <li><a href="#products-options">Options</a></li>
          <li><a href="#products-description">Description</a></li>
          <li><a href="#products-no-inventory">Product Inventory Message</a></li>
          <li><a href="#products-pdp-link">PDP link</a></li>
          <li><a href="#products-images">Images</a></li>
          <li><a href="#products-rating">Rating</a></li>
          <li><a href="#products-fieldset">Fieldset</a></li>
          <li><a href="#products-complete">Complete Details</a></li>
          <li><a href="#products-outfit">Outfit Template</a></li>
          <li><a href="#products-complete-look">Complete the Look</a></li>
        </ul>
      </li>
      <li>
        <a href="#sandbox">Sandbox</a>
        <ul class="nav">
          <li><a href="#sandbox-sarah01">Sarah's First</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>