<div class="content">
  <div class="container-fluid">
    {% include _molecules/modules/olapic-header.html moduleClass='module-olapic-header' moduleLayout='module-sh-left' moduleImage='https://placeholdit.imgix.net/~text?txtsize=12&txt=Actual+Size+2400x1040&w=1200&h=520' moduleImageMobile='https://placeholdit.imgix.net/~text?txtsize=12&txt=Actual+Size+767x767&w=767&h=767' %}
    <hr class="hr-mobile">
  </div><!-- .container-fluid -->
</div><!-- .content.content-wide -->

<p class="olapic-extra">Wondering how photos end up in our gallery? <a href="#">Here, tips on how to take that perfect pic.</a></p>

<div class="content">
  <div class="container-fluid">
    {% include _molecules/modules/olapic-grid.html %}
  </div><!-- .container-fluid -->
</div><!-- .content -->