<div class="text-center">
  <h1>Safety Recall</h1>
  <p class="lead"><strong>Lourdes Snake-Embossed T-Strap Heel</strong> and <strong>Versailles Colorback Snake-Embossed Heel</strong></p>
  <p class="lead">The heel of these shoes may become unstable, posing a fall risk</p>
  <div class="row recall-imgs">
    <div class="col-xs-6 col-sm-4 col-sm-offset-2">
      <p><img src="{{ site.baseurl }}/web_assets/imgs/whbm/recall/versailles.jpg" alt="Recalled Versailles Shoe" class="img-responsive"></p>
      <p class="text-center">Versailles Shoe</p>
    </div>
    <div class="col-xs-6 col-sm-4">
      <p><img src="{{ site.baseurl }}/web_assets/imgs/whbm/recall/lourdes.jpg" alt="Recalled Lourdes Shoe" class="img-responsive"></p>
      <p class="text-center">Lourdes Shoe</p>
    </div>
  </div>
  <div class="alert">
    <p>Customers should immediately stop wearing these shoes and return them to White House Black Market for a refund or exchange.</p>
    <p>These shoes were sold at White House Black Market from August through October 2012 for approximately $118.</p>
    <p>For additional information, contact White House Black Market any time at (877) 948-2525 or <a href="mailto:customerservice@whitehouseblackmarket.com">customerservice@whitehouseblackmarket.com</a>.</p>
  </div>

</div>