.form-control {
  font-family: $font-base;
  @include radius(0);
  @include box-shadow-none;
  &:focus {
    @include box-shadow-none;
  }
}
#footer,
#utility {
  ::-webkit-input-placeholder {
     text-transform: uppercase;
  }

  :-moz-placeholder { /* Firefox 18- */
     text-transform: uppercase; 
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     text-transform: uppercase;
  }

  :-ms-input-placeholder {  
     text-transform: uppercase;
  }
}