$color-black: #000;
$color-gallery: #f5e7da;
$color-border: #ccc;
$color-border-dark: #b6b6b6;
$color-oslo-gray: #939598;

$color-soma: #e1bcaa;
$color-soma-light: #fcf8f4;

$max-width: 1096px;

$color-fb: #3b5998;
$color-twitter: #55acee;
$color-google-plus: #dd4b39;
$color-pinterest: #cc2127;
$color-instagram: #3f729b;
$color-youtube: #cd201f;
$color-email: #333;

$font-base: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: "BentonModern", serif;
$font-styled: "BentonModern", serif;

$letter-spacing: 0.04em;