<p>The contents of your current Wish List are below. You can edit or remove any items on this list, or click on the "Add Items" button below to add more items! (Note: Items that are grayed out are currently not available and can not be purchased at this time.)</p>

{% include _molecules/tables/wishlist-owner.html %}

<div class="row">
  <div class="col-sm-5">
    <p><a href="" class="btn btn-default btn-sm"><i class="fa fa-fw fa-arrow-left"></i> Add Items</a></p>
  </div>
  <div class="col-sm-7 text-right-lg">
    <p>
      <a href="" class="btn btn-default btn-sm">Update Wish List</a>
      <a href="" class="btn btn-primary btn-sm">Manage Wish List</a>
    </p>
  </div>
</div>

{% include _molecules/modals/modal-quick-view.html %}