{% if page.brand == 'soma' %}
{% capture phone %}1-866-768-7662{% endcapture %}
{% elsif page.brand == 'whbm' %}
{% capture phone %}1-877-948-2525{% endcapture %}
{% else %}
{% capture phone %}1-888-855-4986{% endcapture %}
{% endif %}

<p>In order to reset your password, you must first enter the email address you used when you registered with chicos.com. Please enter your email address below and click on the reset password button to receive instructions to reset your password. If you need further assistance feel free to call Customer Service at {{ phone }}.</p>

<form action="">
  <div class="row">
    <div class="col-sm-6">
      {% include _atoms/forms/input.html labelName='Email Address' labelID='email-address' inputType='text' %}
      <div class="form-group">
        {% include _atoms/buttons/button.html btnClass='btn-primary' btnLabel='Reset Password' %}
      </div>
    </div>
  </div>
</form>