{% if include.promoType == "contentModuleTwoBy" %}
  {% comment %}
    Set default values, or use includes if they're available. This was built
    out to accommodate references to _/molecules/collection/curated.html
  {% endcomment %}
  {% capture iOClass %}
    {% unless include.promoClass == nil %}{{ include.promoClass }}{% endunless %}
  {% endcapture %}
  {% capture iOCollection %}
    {% if include.promoCollection == nil %}Travelers Collection{% else %}{{ include.promoCollection }}{% endif %}
  {% endcapture %}
  {% capture iOHeading %}
    {% if include.promoHeading == nil %}Lacey Stitch Cardigan{% else %}{{ include.promoHeading }}{% endif %}
  {% endcapture %}
  {% capture iOCopy %}
    {% unless include.promoCopy == nil %}{{ include.promoCopy }}{% endunless %}
  {% endcapture %}
  {% capture iOLink %}
    {% if include.promoLink == nil %}Shop Now{% else %}{{ include.promoLink }}{% endif %}
  {% endcapture %}
  {% capture iOImage %}
    {% if include.promoImage == nil %}
      https://placeholdit.imgix.net/~text?txtsize=23&txt=Actual+size:800x800&w=800&h=800
    {% else %}
      {{ include.promoImage }}
    {% endif %}
  {% endcapture %}

  {% include _molecules/modules/img-overlay.html moduleClass=iOClass moduleCollection=iOCollection moduleHeading=iOHeading moduleCopy=iOCopy moduleLink=iOLink moduleImage=iOImage %}
{% else %}
  <section class="module">
    <div{% if include.promoType="carouselPromo" %} class="module-carousel"{% endif %}>
      <div class="module-inner">
        {% if include.promoType == "singlePromo" %}
          <div class="collection-promo collection-promo-copy-left">
            <a href="#">
              <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=600%C3%97500&w=600&h=500" alt="" class="img-responsive">
              <div class="carousel-caption">
                <h2><em>the</em> so Lifting<sup>&trade;</sup> Slim Leg</h2>
                <hr>
                <p>Slims in front. Lifts in back. Signature fit. Slim leg.</p>
                <p><strong>Wear:</strong> With any and everything. Seriously.</p>
              </div>
            </a>
          </div>
        {% elsif include.promoType == "carouselPromo" %}
          <div id="carousel-collection-promo" class="carousel slide collection-promo collection-promo-copy-left {{ include.carouselClass }}" data-ride="carousel" data-interval="false" aria-live="polite">
            <ol class="carousel-indicators">
              <li data-target="#carousel-collection-promo" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-collection-promo" data-slide-to="1" class=""></li>
              <li data-target="#carousel-collection-promo" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <a href="#">
                  <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=600%C3%97500&w=600&h=500" alt="{{ include.moduleHeading | strip_html }}">
                  <div class="carousel-caption">
                    <h2><em>the</em> so Lifting<sup>&trade;</sup> Slim Leg</h2>
                    <hr>
                    <p>Slims in front. Lifts in back. Signature fit. Slim leg.</p>
                    <p><strong>Wear:</strong> With any and everything. Seriously.</p>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=600%C3%97500&w=600&h=500" alt="{{ include.moduleHeading | strip_html }}">
                  <div class="carousel-caption">
                    <h2><em>the</em> so Lifting<sup>&trade;</sup> Slim Leg</h2>
                    <hr>
                    <p>Slims in front. Lifts in back. Signature fit. Slim leg.</p>
                    <p><strong>Wear:</strong> With any and everything. Seriously.</p>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=600%C3%97500&w=600&h=500" alt="{{ include.moduleHeading | strip_html }}">
                  <div class="carousel-caption">
                    <h2><em>the</em> so Lifting<sup>&trade;</sup> Slim Leg</h2>
                    <hr>
                    <p>Slims in front. Lifts in back. Signature fit. Slim leg.</p>
                    <p><strong>Wear:</strong> With any and everything. Seriously.</p>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="#">
                  <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=600%C3%97500&w=600&h=500">
                </a>
                <div class="carousel-caption">
                  <h2><em>the</em> so Lifting<sup>&trade;</sup> Slim Leg</h2>
                  <hr>
                  <p>Slims in front. Lifts in back. Signature fit. Slim leg.</p>
                  <p><strong>Wear:</strong> With any and everything. Seriously.</p>
                </div>
              </div>
            </div><!-- .carousel-inner -->
            <a class="left carousel-control" href="#carousel-collection-promo" data-slide="prev" aria-label="previous">
              <svg class="icon-arrow-left" role="presentation">
                <use xlink:href="#icon-promo-left"></use>
              </svg>
            </a>
            <a class="right carousel-control" href="#carousel-collection-promo" data-slide="next" aria-label="next">
              <svg class="icon-arrow-right" role="presentation">
                <use xlink:href="#icon-promo-right"></use>
              </svg>
            </a>
          </div><!-- .collection-promo -->
        {% endif %}
        
      </div><!-- .module-inner -->
    </div>
  </section><!-- .module -->
{% endif %}