<div id="carousel-default" class="carousel slide carousel-lg carousel-copy-left" data-ride="carousel" data-interval="false" aria-live="polite">
  <div class="carousel-inner">
    <div class="item active">
      <img src="{{ site.baseurl }}/web_assets/imgs/whbm/WHBM_hero.jpg" class="hidden-xs">
      <img src="{{ site.baseurl }}/web_assets/imgs/whbm/WHBM_hero_small.jpg" class="visible-xs">            
      <div class="carousel-caption">
        <span>Introducing</span>
        <h2 class="heading-serif heading-caps">Fall 2015</h2>
        <p><a href="#" class="btn btn-primary">Shop The Collection</a></p>
      </div>
    </div>
  </div>
</div><!-- #carousel-default -->