<section class="example-wrap">
  <header>
    <h2 id="lists-ul">Unordered List</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _atoms/lists/ul.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _atoms/lists/ul.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="lists-ul-unstyled">Unordered List (unstyled)</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _atoms/lists/ul-unstyled.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _atoms/lists/ul-unstyled.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="lists-ol">Ordered List</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _atoms/lists/ol.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _atoms/lists/ol.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="lists-dl">Definition List</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _atoms/lists/dl.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _atoms/lists/dl.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="lists-dl-horizontal">Definition List (horizontal)</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _atoms/lists/dl-horizontal.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _atoms/lists/dl-horizontal.html %}
      {% endhighlight %}
    </div>
  </div>
</section>