<div class="cta-wrap {{ include.moduleClass }}">
  <div class="row">
    <div class="col-md-6">
      <img class="img-responsive" src="http://placehold.it/600x300&text=Image" alt="">
    </div>
    <div class="col-md-6">
      <div class="cta-wrap-inner">
        <h3>Gift Card Check Balance</h3>
        <p>See how much you have left on your card to apply towards your order.</p>
        <p>
          <a href="" class="btn btn-sm btn-default">Check Balance</a>
          <a href="" class="btn btn-sm btn-default">Buy a Gift Card</a>
        </p>
      </div>
    </div>
  </div>
</div>