<h2>npm Guidelines</h2>

<ul>
    <li>
        Dependencies should always be a set version - This should help to prevent introducing unwanted feature and bugs.
    </li>
    <li>
        The project's package should be private - This is to prevent accidental publication of private repositories. <a href="https://docs.npmjs.com/files/package.json#private">More info</a>
    </li>
    <li>
        Dependencies should be in alphabetical order.
    </li>
</ul>

<h3>
    Choosing a new npm dependency.
</h3>
<p>
   TBD
</p>