<hr>
<div class="row">
  <div class="col-sm-2 col-xs-6">
    <h3 class="heading-styled">You May Also Love...</h3>
  </div>
  <div class="col-sm-2 col-xs-6">
    {% include _molecules/products/listing-single.html quickView='yes' %}
  </div>
  <div class="col-sm-2 col-xs-6">
    {% include _molecules/products/listing-single.html quickView='yes' %}
  </div>
  <div class="col-sm-2 col-xs-6">
    {% include _molecules/products/listing-single.html quickView='yes' %}
  </div>
  <div class="col-sm-2 col-xs-6">
    {% include _molecules/products/listing-single.html quickView='yes' %}
  </div>
  <div class="col-sm-2 col-xs-6">
    {% include _molecules/products/listing-single.html quickView='yes' %}
  </div>
</div>
<hr>