<div class="molecular-content">
  <p class="update">Last updated: {{ site.time | date: '%B %d, %Y' }}</p>

  <h1 class="bucket-heading" id="text">Text</h1>
  {% include _atoms/text/all.html %}

  <h1 class="bucket-heading" id="lists">Lists</h1>
  {% include _atoms/lists/all.html %}

  <h1 class="bucket-heading" id="images">Images</h1>
  {% include _atoms/images/all.html %}

  <h1 class="bucket-heading" id="forms">Forms</h1>
  {% include _atoms/forms/all.html %}

  <h1 class="bucket-heading" id="buttons">Buttons</h1>
  {% include _atoms/buttons/all.html %}

  <h1 class="bucket-heading" id="tables">Tables</h1>
  {% include _atoms/tables/all.html %}

</div>


<div class="scrollspy">
  <div id="nav" class="nav hidden-xs hidden-sm" data-spy="affix">
    <h3>Atoms</h3>
    <ul>
      <li><a href="#text">Text</a>
        <ul class="nav">
          <li><a href="#text-primary-fonts">Primary Fonts</a></li>
          <li><a href="#text-serif-fonts">Serif Fonts</a></li>
          <li><a href="#text-headings">Default Headings</a></li>
          <li><a href="#text-heading-stylized">Stylized Heading</a></li>
          <li><a href="#text-heading-collection">Collection Name</a></li>
          <li><a href="#text-heading-has-line">Heading with Line</a></li>
          <li><a href="#text-body">Body</a></li>
          <li><a href="#text-style">Styles</a></li>
          <li><a href="#text-lead">Lead Copy</a></li>
          <li><a href="#text-small">Small</a></li>
          <li><a href="#text-strikethrough">Strikethrough</a></li>
          <li><a href="#text-alignment">Alignment</a></li>
          <li><a href="#text-transform">Transformation</a></li>
          <li><a href="#text-address">Address</a></li>
          <li><a href="#text-alerts">Alerts</a></li>
          <li><a href="#text-alert">Text Alert</a></li>
          <li><a href="#text-well">Well</a></li>
          <li><a href="#text-product-group">Product Group</a></li>
          <li><a href="#text-product-name">Product Name</a></li>
          <li><a href="#text-product-style-id">Product Style ID</a></li>
          <li><a href="#text-product-size">Product Size Tools</a></li>
          <li><a href="#text-product-remove">Product Remove</a></li>
          <li><a href="#text-product-message">Product Message</a></li>
          <li><a href="#text-product-full-link">Full Link (modal)</a></li>
          <li><a href="#text-product-price-final-sale">Final Sale</a></li>
          <li><a href="#text-product-price-final-sale-long">Final Sale (w/ long label)</a></li>
          <li><a href="#text-product-price-final-sale-tooltip">Final Sale (w/ tooltip)</a></li>
          <li><a href="#text-facet-heading">Facet Heading</a></li>
          <li><a href="#text-facet-label">Facet Label</a></li>
          <li><a href="#text-info-link">Info Link (NEW)</a></li>
          <li><a href="#text-details-heading">Details Heading</a></li>
          <li><a href="#text-coupon-code">Coupon Code</a></li>
          <li><a href="#text-hr">Horizontal Rule</a></li>
          <li><a href="#text-hr-mobile">Horizontal Rule (Mobile Only)</a></li>
        </ul>
      </li>
      <li><a href="#lists">Lists</a>
        <ul class="nav">
          <li><a href="#lists-ul">Unordered List</a></li>
          <li><a href="#lists-ul-unstyled">Unordered List (unstyled)</a></li>
          <li><a href="#lists-ol">Ordered List</a></li>
          <li><a href="#lists-dl">Definition List</a></li>
          <li><a href="#lists-dl-horizontal">Definition List (horizontal)</a></li>
        </ul>
      </li>
      <li><a href="#images">Images</a>
        <ul class="nav">
          <li><a href="#images-responsive">Responsive</a></li>
          {% comment %}<li><a href="#images-swatches">Swatches</a></li>{% endcomment %}
          <li><a href="#images-thumbs">Product Thumbs</a></li>
          <li><a href="#images-main">Product Large</a></li>
          {% comment %}<li><a href="#images-icons">Icons</a></li>{% endcomment %}
        </ul>
      </li>
      <li><a href="#forms">Forms</a>
        <ul class="nav">
          <li><a href="#forms-text">Text Input</a></li>
          <li><a href="#forms-email">Email Input</a></li>
          <li><a href="#forms-password">Password Input</a></li>
          <li><a href="#forms-select">Select Dropdown</a></li>
          <li><a href="#forms-radio">Radio Input</a></li>
          <li><a href="#forms-checkbox">Checkbox Input</a></li>
          <li><a href="#forms-radio-inline">Radio Input (inline)</a></li>
          <li><a href="#forms-checkbox-inline">Checkbox Input (inline)</a></li>
          <li><a href="#forms-textarea">Textarea</a></li>
          <li><a href="#forms-phone">Phone Number Inputs</a></li>
          <li><a href="#forms-error">Error States</a></li>
          <li><a href="#forms-help">Help Text</a></li>    
        </ul>
      </li>
      <li><a href="#buttons">Buttons</a>
        <ul class="nav">
          <li><a href="#buttons-options">Options</a></li>
          <li><a href="#buttons-sizes">Sizes</a></li>
          <li><a href="#buttons-block-level">Block Level</a></li>
          <li><a href="#buttons-buy">Buy Button</a></li>
          <li><a href="#buttons-pdp-secondary">PDP Secondary Buttons</a></li>
          <li><a href="#buttons-close-panel">Close Menu Panel</a></li>
        </ul>
      </li>
      <li><a href="#tables">Tables</a>
        <ul class="nav">
          <li><a href="#tables-basic">Basic</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>