<div class="row">
  <div class="col-md-8">
    <h2>Join the Family</h2>
    <p>The Passport Program is our U.S.-based loyalty program at Chico's. There is no fee to sign up or maintain membership. Sign up for Passport online, at any U.S. Chico's boutique, or by phone at 888.855.4986 (TTY: 888.550.5559). To create an account and join the program, you must provide your full name, a valid email address, phone number and a valid U.S. mailing address. Present your Passport card or enter your membership number every time you shop at Chico's. When your merchandise purchases reach $500 (whether it takes one day or three years - there's no limit on time) you will be upgraded to Passport in our Passport Program.</p>
    <h3>Introductory Passport benefits include:</h3>
    <ul>
      <li>Be the first to know about newest collections, sales, and offers</li>
      <li>Preview new collections via email</li>
    </ul>
    <h3>Passport (once your merchandise purchases reach $500) benefits may include:</h3>
    <ul>
      <li>5% off every merchandise purchase (certain exclusions apply)</li>
      <li>Birthday bonuses</li>
      <li>Double discount days</li>
      <li>Invitations to special parties and events</li>
      <li>Private sales</li>
    </ul>
    <p class="small">The Chico's Passport program is a U.S.-based loyalty program, and is not currently available to customers residing outside of the U.S. Non-U.S. customers may create an online account, but will not be enrolled in our loyalty program. To be eligible for birthday bonus benefits, Passport members must have shopped with us during the past 12 months. No discount on purchases of gift cards, previously purchased merchandise, taxes, shipping and certain excluded merchandise. Participation in the program constitutes acceptance of current published terms and conditions. Each member is permitted one Passport membership only. Card and membership number are not transferable. Chico's reserves the right to modify or eliminate benefits without prior notice. Violation of the program rules or coupon terms may result in revocation of membership.</p>
    <p><a href="#" data-toggle="modal" data-target="#modal-terms">Terms &amp; Conditions</a></p>
    <p><a href="" class="btn btn-primary">Click Here to Sign Up</a></p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Passport+Image&w=300&h=450" alt="">
  </div>
</div>

{% include _molecules/modals/modal-terms.html %}