<div class="rewards-block">
  <h2 class="rewards-subheading">Shop. Earn. Splurge.</h2>
  <p>Because we admire your style and respect your time, our rewards program is all about ease. With your first purchase, 
    you're already in. No card. No points. No fee. Just great VIP benefits from day one.
  </p>
  <p>Make sure you get all your 
    rewards - sign in and update your personal details.
  </p>
  <h2 class="rewards-heading-alt text-center">How it Works</h2>
</div>

<div class="rewards-benefits-wrap">
  <div class="rewards-benefits-row">
    <div class="rewards-benefits-level">
      <h3>Silver</h3>
    </div>
    <div class="rewards-benefits-items">
      <ul class="list-unstyled">
        <li>5% off every purchase</li>
        <li>Free standard shipping discounted expedited shipping - New</li>
        <li>$10 birthday reward</li>
        <li>Access to a personal stylist - New</li>
        <li>Exclusive Silver offers</li>
      </ul>
      <p>Unlock Silver status by spending $500 or more annually. Plus, once you've achieved Silver status, you'll never lose it! There's no need to requalify.</p>
    </div>
  </div>
  <div class="rewards-benefits-row">
    <div class="rewards-benefits-level">
      <h3>
        Gold
      </h3>
    </div>
    <div class="rewards-benefits-items">
      <ul class="list-unstyled">
        <li>All Silver benefits, plus:</li>
        <li>Upgrade to a $15 birthday reward</li>
        <li>$25 reward twice a year</li>
        <li>Exclusive pre-orders of new collections - New</li>
        <li>Exclusive gold offers</li>
      </ul>
      <p>Unlock Gold status by spending $1,000 or more annually.</p>
    </div>
  </div>
  <div class="rewards-benefits-row">
    <div class="rewards-benefits-level">
      <h3>
        Platinum
      </h3>
    </div>
    <div class="rewards-benefits-items">
      <ul class="list-unstyled">
        <li>Gold benefits, plus:</li>
        <li>Upgrade to a $20 birthday reward</li>
        <li>Upgrade to a $50 reward twice a year</li>
        <li>Exclusive platinum customer service phone number – New<br>
          <span class="normal">(find it on your 'my account' page)</span></li>
        <li>Exclusive platinum offers</li>
      </ul>
      <p>Unlock Platinum status by spending $2,000 or more annually.</p>
    </div>
  </div>
</div>

<p class="text-center">
  <a class="btn btn-link" href="#" data-toggle="modal" data-target="#modal-rewards-faq">FAQs</a>
  <a class="btn btn-link" href="#" data-toggle="modal" data-target="#modal-rewards-terms">Terms</a>
</p>

<div class="register-rewards">
  <h2 class="rewards-heading-alt">Here's what you can expect:</h2>
  <ol class="list-unstyled">
    <li>
      <h3>1</h3>
      <p>Once you reach Silver status, you'll always receive an additional 5% discount off and Free Shipping online</p>
    </li>
    <li>
      <h3>2</h3>
      <p>Exclusive offers</p>
    </li>
    <li>
      <h3>3</h3>
      <p>A first look at our collections</p>
    </li>
    <li>
      <h3>4</h3>
      <p>To enjoy all of your benefits, register at <a href="/rewards">www.whbm.com/rewards</a></p>
    </li>
  </ol>
</div>

<p class="text-center">
  <a class="btn btn-link" href="#" data-toggle="modal" data-target="#modal-rewards-terms">Terms</a>
</p>

<p class="text-center">
  <a href="#" class="btn btn-primary btn-responsive">Join WHBM Rewards</a>
</p>
<p class="text-center">
  Already a member? <a href="#">Log in</a>
</p>

{% include _molecules/modals/modal-whbm-rewards-faq.html %}
{% include _molecules/modals/modal-whbm-rewards-terms.html %}
