<p>The contents of your friend's Wish List are below. In order to purchase an item from this Wish List, you will first need to log into your Chico's online account. If you don't already have one, you can register for one now. Wish list orders are special orders, and cannot be shipped separately, so when you add any item from this Wish List, any uncompleted order you currently have may be erased.</p>

{% include _molecules/tables/wishlist-friend.html %}

{% include _molecules/modals/modal-quick-view.html %}