// place specific project styles here

.module-sh-home-lead {
  h1 {
    font-family: $font-family-serif;
    font-size: 4.2rem;
    line-height: 4.2rem;
    em {
      text-transform: lowercase;
    }
  }
  p {
    font-size: 1.5rem;
  }
  hr {
    width: 10em;
  }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 4.8rem;
      line-height: 4.8rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
  @media screen and (min-width: 992px) {
    h1 {
      font-size: 7.2rem;
      line-height: 7.2rem;      
    }
    p {
      font-size: 2.1rem;
      span:not(.btn) {
        display: block;
      }
    }
    hr {
      width: 16em;
    }
  }
}

.module-home-text {
  text-transform: uppercase;
  .module-heading,
  .module-copy {
    font-size: 2.4rem;
    line-height: 3rem;
    letter-spacing: 0.05em;
    font-weight: 400;
    margin: 0;
    .percent-off {
      font-weight: 600;
    }
  }
  .module-heading {
    margin-bottom: 0;
  }
  .module-code {
    margin: .8rem 0 1.2rem 0;
    font-size: 2.1rem;
    span {
      font-weight: 600;
    }
  }
  @media screen and (max-width: 767px) {
    .module-heading {
      margin-bottom: 1.2rem;
    }

    .module-subheading {
      margin-bottom: 1rem;
      font-size: 1.5rem;
      font-weight: 600;
    }
    .module-copy,
    .module-code {
      margin-top: 0;
      font-size: 1.5rem;
      line-height: 1.8rem;
    }
    .percent-off {
      display: block;
      padding-bottom: 0.2rem;
      font-size: 4.8rem;
      font-weight: 700;
    }
  }
  .module-heading + .module-button {
    margin-top: 1.2rem;
  }
}

.module-sh-home-coats {
  .module-heading {
    margin: 0 0 1rem 0;
    font-family: $font-family-serif;
    font-size: 4.2rem;
    line-height: 4.2rem;
    letter-spacing: 0.05em;
  }
  .module-sh-copy {
    p {
      font-size: 1.5rem;
      line-height: 1.8rem;
      letter-spacing: 0.05em;
    }
  }
  @media screen and (min-width: 768px) {
    .module-heading {
      font-size: 5.4rem;
      line-height: 5.4rem;
    }
    .module-sh-copy {
      p {
        font-size: 1.8rem;
        line-height: 2.4rem;
      }
      span:not(.btn) {
        display: block;
      }
    }
  }
  hr {
    display: none;
  }
}

.home-combo {
  h3 {
    margin-bottom: 2rem;
    letter-spacing: 0.05em;
  }
  p {
    letter-spacing: 0.075em;
  }
  .shop-now {
    margin-top: 2rem;
    font-size: 1.8rem;
    letter-spacing: 0.075em;
  }
  @media screen and (min-width: 768px) {
    h3 {
      font-size: 3rem;
      line-height: 1;
    }
  }
}

.module-img-video {
  position: relative;
}