---
layout: page-collection
title: Bra Donation
top-link: pages
brand: soma
---







<div class="content">
  <div class="container-fluid">


    <style>
      .module-5-across .col {
        float: left;
        width: 20%;
        position: relative;
        min-height: 1px;
        padding-right: 5px;
        padding-left: 5px;
      }
      @media screen and (max-width: 767px) {
        .module-5-across .col {
          width: 33%;
        }
      }
      .module-5-across .row {
        margin-left: -5px;
        margin-right: -5px;
      }
      .module-5-across h2 {
        text-align: center;
        text-transform: uppercase;
      }
      .module-5-across span {
        max-width: 100%;
      }
      .module-5-across h2 img {
        margin-bottom: .3rem;
      }
      .module-5-across h2 .title-bra {
        font-size: 7.6vw;
      }
      .module-5-across h2 .title-donation {
        font-size: 2.9vw;
      }
      @media screen and (max-width: 767px) {
        .module-5-across h2 .title-bra {
          font-size: 13.5vw;
        }
        .module-5-across h2 .title-donation {
          font-size: 5.2vw;
        }
      }
    </style>

    <section class="module-sh-soma-donation module-5-across">
      <div class="row">
        <div class="col hidden-xs"><img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=Actual+Size:+300%C3%97250&w=300&h=300" alt="" class="img-responsive"></div>
        <div class="col"><img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=Actual+Size:+300%C3%97250&w=300&h=300" alt="" class="img-responsive"></div>
        <div class="col">
          <h2>
            <img src="/web_assets/imgs/soma/logo.svg" alt="Soma" class="img-responsive">
            <span class="title-bra">Bra</span>
            <span class="title-donation">Donation</span>
          </h2>
        </div>
        <div class="col"><img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=Actual+Size:+300%C3%97250&w=300&h=300" alt="" class="img-responsive"></div>
        <div class="col hidden-xs"><img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=Actual+Size:+300%C3%97250&w=300&h=300" alt="" class="img-responsive"></div>
      </div>
    </section>
    
    {% comment %}
    {% include _molecules/modules/shelf.html moduleClass='module-sh-soma-donation' moduleLayout='' moduleImage='/web_assets/imgs/soma/bra/shelf-header-donation.jpg' moduleImageMobile='/web_assets/imgs/soma/bra/shelf-header-donation-mobile.jpg' moduleCopy='<h2><svg class="logo-soma"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-soma"></use></svg><span class="title-bra">Bra</span><span class="title-donation">Donation</span></h2>' %}
    {% endcomment %}
    
    <hr class="hr-mobile">

    {% include _molecules/modules/shelf-header-text.html moduleLayout='module-soma-after-sh' moduleCopy='
      <div class="text-center">
        <span class="gb-date-range">January 4th – February 3rd</span>
        <span class="gb-cta-ish"><a href="#">Give Today</a></span>
        <span class="gb-counter">Over 1,121,000 Donated Bras</span>
      </div>'
    %}





    <section class="soma-gb-video">
      <div class="row">
        <div class="col-xs-12">
          <div class="embed-responsive embed-responsive-16by9">
            <div id="gb-video-hook"></div>
            <iframe id="give-bras-video" class="embed-responsive-item" src="https://www.youtube.com/embed/bfhUilA3trc?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </section>







    <section class="soma-block">
        <div class="text-center">
          <h3 class="soma-heading">Donate A Bra, Change A Life</h3>
          <p>
            <span class="block-line-desktop">Donate your new or gently worn bras at any Soma boutique and change the life of</span>
            <span class="block-line-desktop">a woman impacted by domestic violence. While there, get a Free Expert Bra Fitting and refresh your</span>
            top drawer. You get sized in seconds, a woman in need gets a chance to feel beautiful.
          </p>
          <a href="#" class="btn btn-primary">Find a Boutique</a>
        </div>
      </section>








      <section class="soma-block">
        <div class="text-center">
          <h3 class="soma-heading">Every Bra Has A&nbsp;Story</h3>
          <p class="soma-subheading">See how donated bras have made a difference for these real survivors.</p>
        </div>

        <div class="suvivor-story-wrap">

          <div class="survivor-story survivor-story-left">
            <img src="https://placeholdit.imgix.net/~text?txtsize=24&txt=Actual+Size:+600%C3%97338&w=600&h=338" class="img-responsive">
            <a href="#jenny-full" role="button" class="full-story-link">Read Jenny's Story</a>
          </div>
          <div class="survivor-full-story row collapse" id="jenny-full" aria-expanded="false">

            <button type="button" class="close close-icon">
              <svg class="icon-close">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
              </svg>
            </button>

            <div class="col-sm-6 hidden-xs">
              <div class="img-container">
                <img src="/team/lab-soma/assets/images/give-bras/stories-jenny.jpg" class="img-responsive">
              </div>
            </div>

            <div class="col-sm-6">
              <h4 class="h2">Jenny</h4>
              <p>Already a survivor of domestic violence, Jenny, a mother of four, was walking near her home when she was kidnapped. The stranger sexually assaulted her and left her in a field, unconscious. When she awoke, she was seen at the hospital, and then taken to her local NNEDV shelter.</p>
              <p>Her clothes were collected for examination, and that is when she received a bra from the Soma Bra Donation. "It was so beautiful. It was my favorite bra," she says. "It made me think of the women who took the time to donate. There is nothing more powerful than when women come together. We all need each other."</p>
              <p>Because of the care she received at the shelter, her attacker was identified and prosecuted. Today, Jenny is looking forward, thanks to her shelter counselor. "She taught me that all women deserve to feel happy, healthy and safe. She is the reason I'm still here today."</p>

              <a href="#" class="close-text">Close</a>
            </div>

          </div>

          <div class="survivor-story survivor-story-right">
            <img src="https://placeholdit.imgix.net/~text?txtsize=24&txt=Actual+Size:+600%C3%97338&w=600&h=338" class="img-responsive">
            <a href="#valerie-full" role="button" class="full-story-link">Read Valerie's Story</a>
          </div>

          <div class="survivor-full-story row collapse" id="valerie-full" aria-expanded="false">

            <button type="button" class="close close-icon">
              <svg class="icon-close">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
              </svg>
            </button>

            <div class="col-sm-6 hidden-xs">
              <div class="img-container">
                <img src="/team/lab-soma/assets/images/give-bras/stories-valerie.jpg" class="img-responsive">
              </div>
            </div>
            
            <div class="col-sm-6">
              <h4 class="h2">Valerie</h4>

              <p>At first, Valerie was a happy, optimistic newlywed and new mother. "He put me on a pedestal. Things were great," she says. Little by little though, the adulation gave way to control, and the control, to violence.</p>

              <p>One night while at a wedding reception, she was approached by another guest who saw the signs of domestic violence. The woman was a counselor at the local NNEDV shelter, who encouraged her to seek help. Months later, Valerie remembered that conversation and visited the shelter. "I had nothing, not even a bra. No supplies for my daughter. I had to retrain myself to feel beautiful." At the shelter, her counselor delivered the sobering reality. "She told me that if I stayed, my next step was death."</p>

              <p>They worked together to develop a plan to leave, and today, Valerie and her daughter are safe. "I am moving forward. I didn't want that to be my story, and I turned my story around."</p>

              <a href="javascript:void(0);" class="close-text">Close</a>
            </div>
          </div>


          </div>
        </div>
      </div>
    </section>



    


  </div>
</div>

{% include _molecules/navigation/top-link.html %}