---
layout: page-collection
title: Find the Right Bra
top-link: pages
brand: soma
---

{% comment %}
.module-img-collection is a variation on .module-img that should be used in a collection grid
{% endcomment %}

<div class="content">
  <div class="container-fluid">
    {% include _molecules/navigation/breadcrumb.html breadLvl2='Bra Fit Guide' breadLvl3='Find the Right Bra for You' %}
    <h1 class="soma-heading">Find the Right Bra for&nbsp;You</h1>
    <p class="soma-subheading">
      What do you need your bra to do?<br>
      Our beautiful bras slim, smooth, shape, support and are comfortable, too.
    </p>
    <div class="find-bra">
      <div class="row">
        <div class="col-sm-3 col-xs-6">
          {% include _molecules/modules/img.html moduleImageWrapper='yes' moduleClass='module-img-collection' moduleImage='https://placeholdit.imgix.net/~text?txtsize=33&txt=Bra+Category&w=450&h=563' moduleHeading='Back Smoothing' moduleCopy='<p>Makes bumps and lines vanish with exclusive back-smoothing technology</p>' moduleLinkUrl='find-bra-category.html' moduleLink='' %}
        </div>
        <div class="col-sm-3 col-xs-6">
          {% include _molecules/modules/img.html moduleImageWrapper='yes' moduleClass='module-img-collection' moduleImage='https://placeholdit.imgix.net/~text?txtsize=33&txt=Bra+Category&w=450&h=563' moduleHeading='Minimizing' moduleCopy='<p>Bras that slim your sides and your bustline</p>' moduleLinkUrl='find-bra-category.html' moduleLink='' %}
        </div>
        <div class="col-sm-3 col-xs-6">
          {% include _molecules/modules/img.html moduleImageWrapper='yes' moduleClass='module-img-collection' moduleImage='https://placeholdit.imgix.net/~text?txtsize=33&txt=Bra+Category&w=450&h=563' moduleHeading='Shaping' moduleCopy='<p>Bras with padding to enhance or perfect your natural shape</p>' moduleLinkUrl='find-bra-category.html' moduleLink='' %}
        </div>
        <div class="col-sm-3 col-xs-6">
          {% include _molecules/modules/img.html moduleImageWrapper='yes' moduleClass='module-img-collection' moduleImage='https://placeholdit.imgix.net/~text?txtsize=33&txt=Bra+Category&w=450&h=563' moduleHeading='Ultimate Support' moduleCopy='<p>Bras with three-zone support for firm hold</p>' moduleLinkUrl='find-bra-category.html' moduleLink='' %}
        </div>
      </div><!-- .row -->
      <div class="row">
        <div class="col-sm-3 col-xs-6">
          {% include _molecules/modules/img.html moduleImageWrapper='yes' moduleClass='module-img-collection' moduleImage='https://placeholdit.imgix.net/~text?txtsize=33&txt=Bra+Category&w=450&h=563' moduleHeading='Everyday Support' moduleCopy='<p>Bras for beautiful support and everyday comfort</p>' moduleLinkUrl='find-bra-category.html' moduleLink='' %}
        </div>
        <div class="col-sm-3 col-xs-6">
          {% include _molecules/modules/img.html moduleImageWrapper='yes' moduleClass='module-img-collection' moduleImage='https://placeholdit.imgix.net/~text?txtsize=33&txt=Bra+Category&w=450&h=563' moduleHeading='Wireless' moduleCopy='<p>With no underwire, this bra may have an inner sling, contour foam or padding in the cups to offer support and shaping</p>' moduleLinkUrl='find-bra-category.html' moduleLink='' %}
        </div>
        <div class="col-sm-3 col-xs-6">
          {% include _molecules/modules/img.html moduleImageWrapper='yes' moduleClass='module-img-collection' moduleImage='https://placeholdit.imgix.net/~text?txtsize=33&txt=Bra+Category&w=450&h=563' moduleHeading='Unlined' moduleCopy='<p>Any bra that has no padding or foam lining in the cups. It provides natural shape with support</p>' moduleLinkUrl='find-bra-category.html' moduleLink='' %}
        </div>
        <div class="col-sm-3 col-xs-6">
          {% include _molecules/modules/img.html moduleImageWrapper='yes' moduleClass='module-img-collection' moduleImage='https://placeholdit.imgix.net/~text?txtsize=33&txt=Bra+Category&w=450&h=563' moduleHeading='Strapless' moduleCopy='<p>Bras with multiple strap options—criss-cross, halter, one shoulder—or to be worn strapless</p>' moduleLinkUrl='find-bra-category.html' moduleLink='' %}
        </div>
      </div><!-- .row -->
      <div class="row">
        <div class="col-sm-3 col-xs-6">
          {% include _molecules/modules/img.html moduleImageWrapper='yes' moduleClass='module-img-collection' moduleImage='https://placeholdit.imgix.net/~text?txtsize=33&txt=Bra+Category&w=450&h=563' moduleHeading='Nursing' moduleCopy='<p>Ultra soft and supportive bras with easy one-hand release clips</p>' moduleLinkUrl='find-bra-category.html' moduleLink='' %}
        </div>
      </div><!-- .row -->

    </div>
  </div>
</div>

{% include _molecules/navigation/top-link.html %}