---
layout: page-collection
title: Find the Right Bra (Category)
top-link: pages
brand: soma
---

{% comment %}
.module-img-collection is a variation on .module-img that should be used in a collection grid
{% endcomment %}

<div class="content">
  <div class="container-fluid">
    {% include _molecules/navigation/breadcrumb.html breadLvl2='Bra Fit Guide' breadLvl3='Find the Right Bra for You' %}
    <h1 class="soma-heading">Back Smoothing</h1>
    <p class="soma-subheading">
      Make bumps and lines vanish with exclusive back-smoothing technology
    </p>

    {% include _molecules/modules/shelf.html moduleFirst='yes' moduleClass='module-find-bra' moduleLayout='module-sh-right' moduleImage='https://placeholdit.imgix.net/~text?txtsize=52&&w=2400&h=1200' moduleImageMobile='https://placeholdit.imgix.net/~text?txtsize=52&txt=Actual+size:767x767&w=767&h=767' moduleHeading='Vanishing Back<sup>&reg;</sup>' moduleCopy='<p>Exclusive back-smoothing technology makes bumps and lines vanish</p><p class="text-uppercase">Bra Sizes: 32-42, A-DDD</p>' moduleExtraAlt='Full Coverage<br> Front Close' %}

    {% include _molecules/modules/shelf-carousel.html moduleFirst='yes' moduleClass='module-find-bra' carouselClass='carousel-fade' carouselAttr='data-carousel="align-arrows-mobile"' moduleLayout='module-sh-right' moduleImage='https://placeholdit.imgix.net/~text?txtsize=52&&w=2400&h=1200' moduleImageMobile='https://placeholdit.imgix.net/~text?txtsize=52&txt=Actual+size:767x767&w=767&h=767' moduleHeading='Vanishing Back<sup>&reg;</sup>' moduleCopy='<p>Exclusive back-smoothing technology makes bumps and lines vanish</p><p class="text-uppercase">Bra Sizes: 32-42, A-DDD</p>' moduleExtraAlt='Full Coverage<br> Front Close' %}



  </div>
</div>

{% include _molecules/navigation/top-link.html %}