---
layout: page-collection
title: Glossary
top-link: pages
brand: soma
---

<div class="content">
  <div class="container-fluid">
    {% include _molecules/navigation/breadcrumb.html breadLvl2='Bra Fit Guide' breadLvl3='Bra Glossary' %}
    <h2 class="soma-heading">Glossary</h2>


    <div class="glossary-wrap">
      <div class="row">
        <div class="col-sm-4">
          <h2><a href="#" data-toggle="glossary-list">1-9</a></h2>
          <div class="glossary-terms">
            <div class="glossary-term">
              <a href="#" data-toggle="glossary-term">3-Zone Support</a>
              <div class="glossary-definition">
                <p>Patent pending seamless 3-zone cup mimics a supportive cut and sew cup without the seams. The exclusive design provides support, lift and shaping in Soma’s exclusive Stunning Support™ Bras.</p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <h2><a href="#" data-toggle="glossary-list">A-J</a></h2>
          <div class="glossary-terms">
          </div>
        </div>
        <div class="col-sm-4">
          <h2><a href="#" data-toggle="glossary-list">A-J</a></h2>
          <div class="glossary-terms">
          </div>
        </div>
      </div>
    </div>







  </div><!-- .container-fluid -->
</div><!-- .content -->

{% include _molecules/navigation/top-link.html %}