---
layout: page-collection
title: Rewards
top-link: pages
brand: soma
---

This page has been moved to account folder. This is remaining here for archive purposes only.

{% comment %}
.module-img-collection is a variation on .module-img that should be used in a collection grid
{% endcomment %}

<div class="content">
  <div class="container-fluid">
    {% include _molecules/modules/shelf.html moduleClass='module-sh-soma-rewards' moduleLayout='' moduleImage='/web_assets/imgs/soma/rewards-shelf-header.jpg' moduleImageMobile='/web_assets/imgs/soma/rewards-shelf-header-mobile.jpg' moduleCopy='<h2><svg class="love-soma-rewards"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#love-soma-rewards"></use></svg></h2>' %}

    <hr class="hr-mobile">

    <section class="share-rewards">
      <h2 class="soma-heading">
        <span class="block-line-desktop">Now Get More Rewards, Faster</span>
        with New, Simpler Benefits.
      </h2>
      <div class="text-center margin-top-30 margin-bot-30">
        <p><span class="block-line-desktop">Get a $5 Reward for Every 125 Points</span> Earn a Point for Every Dollar Spent</p>
        <p>Get Double Points on Bras and Sleepwear Every Day</p>
        <p><span class="block-line-desktop">Free Shipping Every Day for Gold and Platinum</span> (Plus, Free Shipping Events for Preferred)</p>
        <p><span class="block-line-desktop">Get in boutique and online access, and have your Rewards arrive</span> earlier when you register your account.</p>
      </div>

      <div class="text-center">
        <div class="btn-with-label">
          <span>Check your status</span>
          <a href="#" class="btn btn-primary">Sign In</a>
        </div>
        <div class="btn-with-label">
          <a href="#" class="btn btn-primary">Join Now</a>
        </div>
      </div>
    </section><!-- .share-rewards -->

    <section class="social-block-soma">
      <h3 class="h2">Share the Love</h3>
      <p>#LoveSoma</p>
      {% include _molecules/components/social-block.html facebook='yes' twitter='yes' pinterest='yes' %}
    </section>


    <section class="soma-table-wrap">
      <table class="soma-table">
        <thead>
        <tr>
          <th class="description">It’s easy to get to the next level…</th>
          <th class="yes-no-header preferred">
            <span>
              <span class="tier-name">Preferred</span>
              <span class="subtitle">$0-249/year</span>
            </div>
          </th>
          <th class="yes-no-header gold">
            <span>
              <span class="tier-name">Gold</span>
              <span class="subtitle">$250-499/year</span>
            </span>
          </th>
          <th class="yes-no-header platinum">
            <span>
              <span class="tier-name">Platinum</span>
              <span class="subtitle">$500+/year</span>
            </span>
          </th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td class="description">
              $5 Reward For Every 125 Points 
              <div class="subtitle hidden-xs">Earn a Point for every dollar spent</div>
            </td>
            <td class="yes-no preferred">
              <svg class="icon-heart">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"></use>
              </svg>
            </td>
            <td class="yes-no gold">
              <svg class="icon-heart">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"></use>
              </svg>
            </td>
            <td class="yes-no platinum">
              <svg class="icon-heart">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"></use>
              </svg>
            </td>
          </tr>
          <tr>
            <td class="description">
              <em>New</em> Double Points on Bras and Sleepwear Every Day
            </td>
            <td class="yes-no preferred">
              <svg class="icon-heart">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"></use>
              </svg>
            </td>
            <td class="yes-no gold">
              <svg class="icon-heart">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"></use>
              </svg>
            </td>
            <td class="yes-no platinum">
              <svg class="icon-heart">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"></use>
              </svg>
            </td>
          </tr>
          <tr>
            <td class="description">
              Referral Points 
              <div class="subtitle hidden-xs">Get Bonus Points for each new customer</div>
              </td>
            <td class="yes-no preferred"></td>
            <td class="yes-no gold"></td>
            <td class="yes-no platinum">
              <svg class="icon-heart">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"></use>
              </svg>
            </td>
          </tr>
          <tr>
            <td class="description">Birthday Gift</td>
            <td class="yes-no preferred">$10</td>
            <td class="yes-no gold">$10</td>
            <td class="yes-no platinum">$15</td>
          </tr>
          <tr>
            <td class="description">Free Shipping Every Day</td>
            <td class="yes-no preferred"></td>
            <td class="yes-no gold">
              <svg class="icon-heart">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"></use>
              </svg>
            </td>
            <td class="yes-no platinum">
              <svg class="icon-heart">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"></use>
              </svg>
            </td>
          </tr>
          <tr>
            <td class="description">
              <em>New</em> Free Shipping Events 
              <div class="subtitle hidden-xs">Throughout the Year</div>
            </td>
            <td class="yes-no preferred">
              <svg class="icon-heart">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"></use>
              </svg>
            </td>
            <td class="yes-no gold"></td>
            <td class="yes-no platinum"></td>
          </tr>
          <tr>
            <td class="description">Exclusive Platinum Offers</td>
            <td class="yes-no preferred"></td>
            <td class="yes-no gold"></td>
            <td class="yes-no platinum">
              <svg class="icon-heart">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"></use>
              </svg>
            </td>
          </tr>
          <tr>
            <td class="description">
              Annual Platinum Thank You Gift 
              <div class="subtitle hidden-xs">For maintaining status
            </div></td>
            <td class="yes-no preferred"></td>
            <td class="yes-no gold"></td>
            <td class="yes-no platinum">
              <svg class="icon-heart">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"></use>
              </svg>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="under-table">
            <p>
              As always, you can combine these Rewards with your catalog and email coupons. 
              <em>What’s not to&nbsp;love?</em>
            </p>
            <div class="link-group">
              <a href="#">Terms</a>
              <a href="#">FAQs</a>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>

{% include _molecules/navigation/top-link.html %}