<div class="table-responsive">
  <table class="table table-size-chart">
    <tbody>
      <tr>
        <td rowspan="2">Belt Size</td>
        <td>S</td>
        <td>S</td>
        <td>M</td>
        <td>M</td>
        <td>L</td>
        <td>L</td>
      </tr>
      <tr>
        <td>S/M</td>
        <td>S/M</td>
        <td>S/M</td>
        <td>M/L</td>
        <td>M/L</td>
        <td>M/L</td>
      </tr>
      <tr>
        <td>Chico's Size </td>
        <td>00</td>
        <td>0</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
      </tr>
    </tbody>
  </table>
</div>