<footer id="footer" role="contentinfo">
  <div id="footer-inner">
    <div class="mobile-contact">
      <div><a href="tel:8667687662"><span>Call Us </span>866-768-7662</a></div>
      <div><a href="mailto:something@chicos.com">Email Us</a></div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="footer-menu-block visible-sm visible-xs">
            <div class="footer-heading"><a href="#">Find a Boutique</a></div>
          </div>
          <div class="footer-menu-block visible-sm visible-xs">
            <div class="footer-heading"><a href="#">Gift Cards</a></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="footer-menu-block">
            <div class="footer-heading footer-menu-toggle">More Ways to Shop</div>
            <ul>
              <li class="hidden-xs hidden-sm"><a href="#">Find a Boutique</a></li>
              <li><a href="#">Bra Fit Guide</a></li>
              <li><a href="#">Love Soma Rewards</a></li>
              <li><a href="#">Online Catalog</a></li>
              <li><a href="#">Gift Cards</a></li>
              <li><a href="#">Gift Services</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="footer-menu-block">
            <div class="footer-heading footer-menu-toggle">Customer Support</div>
            <ul>
              <li><a href="#">Contact Us</a></li>
              <li><a href="tel:+8667687662">866.768.7662</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Order Status</a></li>
              <li><a href="#">Payment &amp; Shipping Info</a></li>
              <li><a href="#">Returns &amp; Exchanges</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="footer-menu-block">
            <div class="footer-heading footer-menu-toggle">
              {% if page.brand == "chicos" %}
                About Chicos
              {% else %}
                About Soma
              {% endif %}
            </div>
            <ul>
              <li><a href="#">Our Story</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Charity</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Investor Relations</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="footer-newsletter">
            <div class="footer-heading">Stay Connected</div>
            <label for="newsletter-signup">Get email news and get 20% off</label>
            <div class="input-group">
              <input type="text" id="newsletter-signup" class="form-control" placeholder="Enter email address">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Submit</button>
              </span>
            </div>
          </div>
          {% comment %}make the above a molecule{% endcomment %}
          {% include _molecules/components/social-footer.html %}

        </div>
      </div>
      <div id="footer-bot">
        <div class="row">
          <div class="col-md-9">
            <div class="copyright">
              <span class="copy">&copy; Copyright 2015 Chico's Distribution Services, LLC. All rights reserved.</span>
              <span class="terms"><a href="#">Terms &amp; Conditions</a></span>
              <span class="policy"><a href="#">Privacy Policy</a></span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="ship-to">
              Ship to: <a href="#"><img src="{{ site.baseurl }}/web_assets/imgs/flags/usa.png" alt="USA"></a>
            </div>        
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="offcanvas-overlay"></div>

<div id="promo-skin" data-toggle="promo-footer"></div>

{% if page.layout != 'checkout' %}

  <div id="promo-footer">
    <div class="promo-tab">
      <a href="#" data-toggle="promo-footer">
        <span>Today's Offers</span>
        <svg>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-up"></use>
        </svg>
      </a>
    </div><!-- .promo-tab -->
    <a href="#" class="promo-close visible-xs" data-toggle="promo-footer">
      <svg><use xlink:href="#icon-close"></use></svg>
    </a>

    <!-- start footer carousel -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div id="carousel-footer" class="carousel slide noswipe" data-ride="carousel" data-interval="false">
              <div class="carousel-inner">
                <div class="item active">
                  <div class="col-xs-12 col-sm-4 col-md-3">
                    <article class="promo">
                      <p class="promo-head">Get It By Christmas</p>
                      <div class="product-thumb-wrap">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Footer+Promo&w=400&h=225" alt="" class="img-responsive">
                      </div>
                      <h2 class="promo-name">
                        Free 2 Day Shipping
                      </h2>
                      <h3 class="promo-sub">
                        With $100 Purchase
                      </h3>
                      <p class="text-uppercase"><a href="#" data-track="">Shop Now</a></p>
                      <p class="info-wrap">
                        <span>USE CODE: 73986</span>
                        <a href="#" data-track="">Details</a>
                      </p>
                    </article>
                  </div>
                </div>
                <div class="item">
                  <div class="col-xs-12 col-sm-4 col-md-3">
                    <article class="promo">
                      <p class="promo-head">Get It By Christmas</p>
                      <div class="product-thumb-wrap">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Footer+Promo&w=400&h=225" alt="" class="img-responsive">
                      </div>
                      <h2 class="promo-name">
                        Free 2 Day Shipping
                      </h2>
                      <h3 class="promo-sub">
                        With $100 Purchase
                      </h3>
                      <p><a href="#" data-track="" class="text-uppercase">Shop Now</a></p>
                      <p><a href="#" data-track="" class="info-link">Details</a></p>
                    </article>
                  </div>
                </div>
                <div class="item">
                  <div class="col-xs-12 col-sm-4 col-md-3">
                    <article class="promo">
                      <p class="promo-head">Get It By Christmas</p>
                      <div class="product-thumb-wrap">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Footer+Promo&w=400&h=225" alt="" class="img-responsive">
                      </div>
                      <h2 class="promo-name">
                        Free 2 Day Shipping
                      </h2>
                      <h3 class="promo-sub">
                        With $100 Purchase
                      </h3>
                      <p><a href="#" data-track="" class="text-uppercase">Shop Now</a></p>
                      <p><a href="#" data-track="" class="info-link">Details</a></p>
                    </article>
                  </div>
                </div>
                <div class="item">
                  <div class="col-xs-12 col-sm-4 col-md-3">
                    <article class="promo">
                      <p class="promo-head">Get It By Christmas</p>
                      <div class="product-thumb-wrap">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Footer+Promo&w=400&h=225" alt="" class="img-responsive">
                      </div>
                      <h2 class="promo-name">
                        Free 2 Day Shipping
                      </h2>
                      <h3 class="promo-sub">
                        With $100 Purchase
                      </h3>
                      <p><a href="#" data-track="" class="text-uppercase">Shop Now</a></p>
                      <p><a href="#" data-track="" class="info-link">Details</a></p>
                    </article>
                  </div>
                </div>
                <div class="item">
                  <div class="col-xs-12 col-sm-4 col-md-3">
                    <article class="promo">
                      <p class="promo-head">Get It By Christmas</p>
                      <div class="product-thumb-wrap">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Footer+Promo&w=400&h=225" alt="" class="img-responsive">
                      </div>
                      <h2 class="promo-name">
                        Free 2 Day Shipping
                      </h2>
                      <h3 class="promo-sub">
                        With $100 Purchase
                      </h3>
                      <p><a href="#" data-track="" class="text-uppercase">Shop Now</a></p>
                      <p><a href="#" data-track="" class="info-link">Details</a></p>
                    </article>
                  </div>
                </div>
                <div class="item">
                  <div class="col-xs-12 col-sm-4 col-md-3">
                    <article class="promo">
                      <p class="promo-head">Get It By Christmas</p>
                      <div class="product-thumb-wrap">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Footer+Promo&w=400&h=225" alt="" class="img-responsive">
                      </div>
                      <h2 class="promo-name">
                        Free 2 Day Shipping
                      </h2>
                      <h3 class="promo-sub">
                        With $100 Purchase
                      </h3>
                      <p><a href="#" data-track="" class="text-uppercase">Shop Now</a></p>
                      <p><a href="#" data-track="" class="info-link">Details</a></p>
                    </article>
                  </div>
                </div>
                <div class="item">
                  <div class="col-xs-12 col-sm-4 col-md-3">
                    <article class="promo">
                      <p class="promo-head">Get It By Christmas</p>
                      <div class="product-thumb-wrap">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Footer+Promo&w=400&h=225" alt="" class="img-responsive">
                      </div>
                      <h2 class="promo-name">
                        Free 2 Day Shipping
                      </h2>
                      <h3 class="promo-sub">
                        With $100 Purchase
                      </h3>
                      <p><a href="#" data-track="" class="text-uppercase">Shop Now</a></p>
                      <p><a href="#" data-track="" class="info-link">Details</a></p>
                    </article>
                  </div>
                </div>
              </div>
              <a class="left carousel-control" href="#carousel-footer" data-slide="prev" aria-label="previous">
                <svg class="icon-arrow-left" role="presentation">
                  <use xlink:href="#icon-arrow-left"></use>
                </svg>
              </a>
              <a class="right carousel-control" href="#carousel-footer" data-slide="next" aria-label="next">
                <svg class="icon-arrow-right" role="presentation">
                  <use xlink:href="#icon-arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}