<section class="example-wrap">
  <header>
    <h2 id="navigation-secondary-product">Secondary: Product</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/navigation/secondary-product.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/navigation/secondary-product.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="navigation-secondary-customer">Secondary: Customer Care</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/navigation/secondary-customer.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/navigation/secondary-customer.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="navigation-secondary-account">Secondary: Account</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/navigation/secondary-account.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/navigation/secondary-account.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="navigation-tabs">Tabs</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/navigation/tabs.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/navigation/tabs.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="navigation-filters">Filters</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      <style>
        /* needed so jQuery script doesn't try to make it sticky*/
        .filter-wrap {
          position: static !important;
        }
      </style>
      {% include _molecules/navigation/filters.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/navigation/filters.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="navigation-filter-selectors">Filter Selectors</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      <div class="filter-list">
        <div class="filter-toggles">
          {% include _molecules/navigation/filter-selector.html dataType="Test" label="All" dataName="all" dataAll="yes" %}
          {% include _molecules/navigation/filter-selector.html dataType="Test" label="default" dataName="Default" %}
          {% include _molecules/navigation/filter-selector.html dataType="Test" label="S" dataName="S" disabled="yes" %}
        </div>
      </div>
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/navigation/filter-selector.html dataType="Test" label="All" dataName="all" dataAll="yes" %}
      {% include _molecules/navigation/filter-selector.html dataType="Test" label="default" dataName="Default" %}
      {% include _molecules/navigation/filter-selector.html dataType="Test" label="S" dataName="S" disabled="yes" %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="navigation-back-link">Back Link</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/navigation/back-link.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/navigation/back-link.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="navigation-top-link">Top Link</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <style>
    .top-link {
      position: static;
      display: block !important;
    }
  </style>
  <div class="example">
    <div class="example-display">
      {% include _molecules/navigation/top-link.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/navigation/top-link.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="navigation-breadcrumb">Breadcrumb</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/navigation/breadcrumb.html breadLvl2='Clothing' breadLvl3='Dresses &amp; Skirts' %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/navigation/breadcrumb.html breadLvl2='Clothing' breadLvl3='Dresses &amp; Skirts' %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="navigation-product-count">Product Count</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/navigation/product-count.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/navigation/product-count.html %}
      {% endhighlight %}
    </div>
  </div>
</section>