<section class="example-wrap">
  <header>
    <h2 id="sandbox-sarah01">Sarah's Molecule</h2><!-- edit this -->
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/sandbox/sarah01.html %}<!-- edit this -->
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/sandbox/sarah01.html %}<!-- edit this -->
      {% endhighlight %}
    </div>
  </div>
</section>