<div id="search-wrap">
  <div id="search">
    <svg class="icon-search">
      <use xlink:href="#icon-search"></use>
    </svg>
    <div id="search-inner">
      <div class="search-form">
        <div class="input-group">
          <input type="text" class="form-control typeahead" placeholder="Start typing to search" autofocus="autofocus">
          <span class="input-group-btn">
            <button class="btn btn-primary hidden-xs" type="button">Search</button>
            <a href="#" class="btn search-close" data-toggle="search" aria-controls="search-wrap" aria-expanded="false">
              <svg class="icon-close">
                <use xlink:href="#icon-close"></use>
              </svg>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>