<div class="soma-table-wrap">
  <table class="soma-table {{ include.tableClass }}">
    <thead>
    <tr>
      <th class="description">It’s easy to get to the next level…</th>
      <th class="yes-no-header preferred">
        <span>
          <span class="tier-name">Preferred</span>
          <span class="subtitle">$0-249/year</span>
        </div>
      </th>
      <th class="yes-no-header gold">
        <span>
          <span class="tier-name">Gold</span>
          <span class="subtitle">$250-499/year</span>
        </span>
      </th>
      <th class="yes-no-header platinum">
        <span>
          <span class="tier-name">Platinum</span>
          <span class="subtitle">$500+/year</span>
        </span>
      </th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td class="description">
          $5 Reward For Every 125 Points 
          <div class="subtitle hidden-xs">Earn a Point for every dollar spent</div>
        </td>
        <td class="yes-no preferred">
          <svg class="icon-close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
          </svg>
        </td>
        <td class="yes-no gold">
          <svg class="icon-close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
          </svg>
        </td>
        <td class="yes-no platinum">
          <svg class="icon-close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
          </svg>
        </td>
      </tr>
      <tr>
        <td class="description">
          <em>New</em> Double Points on Bras and Sleepwear Every Day
        </td>
        <td class="yes-no preferred">
          <svg class="icon-close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
          </svg>
        </td>
        <td class="yes-no gold">
          <svg class="icon-close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
          </svg>
        </td>
        <td class="yes-no platinum">
          <svg class="icon-close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
          </svg>
        </td>
      </tr>
      <tr>
        <td class="description">
          Referral Points 
          <div class="subtitle hidden-xs">Get Bonus Points for each new customer</div>
          </td>
        <td class="yes-no preferred"></td>
        <td class="yes-no gold"></td>
        <td class="yes-no platinum">
          <svg class="icon-close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
          </svg>
        </td>
      </tr>
      <tr>
        <td class="description">Birthday Gift</td>
        <td class="yes-no preferred">$10</td>
        <td class="yes-no gold">$10</td>
        <td class="yes-no platinum">$15</td>
      </tr>
      <tr>
        <td class="description">Free Shipping Every Day</td>
        <td class="yes-no preferred"></td>
        <td class="yes-no gold">
          <svg class="icon-close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
          </svg>
        </td>
        <td class="yes-no platinum">
          <svg class="icon-close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
          </svg>
        </td>
      </tr>
      <tr>
        <td class="description">
          <em>New</em> Free Shipping Events 
          <div class="subtitle hidden-xs">Throughout the Year</div>
        </td>
        <td class="yes-no preferred">
          <svg class="icon-close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
          </svg>
        </td>
        <td class="yes-no gold"></td>
        <td class="yes-no platinum"></td>
      </tr>
      <tr>
        <td class="description">Exclusive Platinum Offers</td>
        <td class="yes-no preferred"></td>
        <td class="yes-no gold"></td>
        <td class="yes-no platinum">
          <svg class="icon-close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
          </svg>
        </td>
      </tr>
      <tr>
        <td class="description">
          Annual Platinum Thank You Gift 
          <div class="subtitle hidden-xs">For maintaining status
        </div></td>
        <td class="yes-no preferred"></td>
        <td class="yes-no gold"></td>
        <td class="yes-no platinum">
          <svg class="icon-close">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
          </svg>
        </td>
      </tr>
    </tbody>
  </table>
</div><!-- .soma-table-wrap -->