<section class="example-wrap">
  <header>
    <h2 id="lists-store-results">Store Search Results</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      <ul class="store-results">
        {% include _molecules/lists/store-results.html %}
      </ul>
    </div>
    <div class="example-code">
      {% highlight html %}
      <ul class="store-results">
        {% include _molecules/lists/store-results.html %}
      </ul>
      {% endhighlight %}
    </div>
  </div>
</section>