$color-green: #7dd321;

@mixin checkout-link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  @media screen and (max-width: 767px) {
    font-size: 1.3rem;
  }
  // &:hover,
  // &:focus {
  //   text-decoration: none;
  // }
}
@mixin hidden-block {
  display: none;
  padding: 2rem 0 0 0;
}

.margin-bot-none {
  margin-bottom: 0;
}
.margin-top-extra {
  margin-top: 2.5rem !important;
}
body {
  padding-top: 5.2rem;
}
.content.content-checkout {
  padding: 3rem 0;
}

// checkout units
.checkout-block {
  & + .checkout-block {
    margin-top: -.1rem;
  }
  &:last-child {
    margin-bottom: 4rem;
  }
  border: .1rem solid $color-border;
  header {
    background: #eee;
    h2 {
      margin: 0;
      padding: 0 1.5rem;
      text-transform: none;
      font-family: $font-family-serif;
      font-weight: 400;
      line-height: 5rem;
    }
    @media screen and (max-width: 767px) {
      h2 {
        font-size: 1.8rem;
      }
    }
    .print-order {
      padding: 0 1.5rem;
      font-weight: 700;
      line-height: 5rem;
      text-align: right;
      text-transform: uppercase;
      a:after {
        position: relative;
        top: .3rem;
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        margin-left: 1rem;
        font-size: 0;
        line-height: 0;
        content: url('../svg/checkout/printer.svg');
      }
    }
  }
  .checkout-block-body {
    padding: 2rem 1.5rem;
  }
  hr {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  @media screen and (max-width: 767px) {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    border-width: .1rem 0;
  }
}

.hr-dark {
  border-color: $color-black;
}
.hr-tall {
  margin: 3.5rem 0;
}

.checkout-btn-change {
  display: block;
  float: right;
  padding: 0 4rem;
  line-height: 5rem;
  text-align: center;
  border-left: .1rem solid #979797;
  transition: all .2s ease-in-out;
  min-width: 15rem;
  &:hover {
    text-decoration: none;
    color: #fff;
    background: $color-black;
  }
  &:focus {
    text-decoration: none;
  }
  @media screen and (max-width: 767px) {
    min-width: 8.6rem;
    padding: 0 1.5rem;
  }
  @include checkout-link;
}

.checkout-section-entry {
  // color: $color-gray-dark; // new comps show black copy
  // svg {
  //   fill: $color-gray-dark !important;
  // }
}

// .not-started
// .editing
// .complete

.checkout-block {
  &.first {
    .checkout-btn-change {
      display: none;
    }    
  }
  &.not-started {
    padding: 0;
    .checkout-block-body,
    .checkout-btn-change {
      display: none;
    }
  }
  &.editing {
    .checkout-section-entry {
      display: none;
    }
    .checkout-section-form {
      display: block;
    }
    &.first .checkout-btn-change {
      display: none;
    }
  }
  &.complete {
    .checkout-btn-change,
    .checkout-section-entry {
      display: block;
    }
    .checkout-section-form {
      display: none;
    }
    &.info-saved { // used on "save info" block. If she signs up, we can't let her change that info
      .checkout-btn-change {
        display: none;
      }
    }
  }
  &.info-not-saved {
    .info-not-saved-copy {display: block;}
    .info-saved-copy {display: none;}
  }
  &.info-saved {
    .info-not-saved-copy {display: none;}
    .info-saved-copy {display: block;}
  }
}

.cc-info {
  // margin-bottom: 2.5rem;
  img {
    width: 5rem;
    border: .1rem solid $color-border;
  }
}


.checkout-summary {
  // text-transform: uppercase;
  .form-labels {
    margin: 0 -1.5rem 0 -1.5rem;
    padding: 2rem 1.5rem;
    border-top: .1rem solid $color-border;
    .form-group {
      margin: 0;
    }
  }
  strong {
    text-transform: uppercase;
  }

  .checkout-sidebar & {
    margin-bottom: 2rem;
    padding: 0 1.5rem;
    line-height: 2rem;
    border: .1rem solid $color-border;
    hr {
      margin-left: -1.5rem;
      margin-right: -1.5rem;
    }
    header {
      margin: 0 -1.5rem 1.5rem -1.5rem;
      padding: 2rem 1.5rem;
      background: #eee;
      h2 {
        margin: 0;
        font-size: 1.8rem;
        text-align: center;
      }
    }
    // .form-labels {
    //   // background: #eee;
    //   border-top: .1rem solid $color-border;
    // }
  }
  // .summary-toggle & {
  //   .summary-total {
  //     margin: 1rem -1.5rem;
  //     padding: 1.5rem;
  //     background: #eee;      
  //   }
  //   .form-labels {
  //     margin-top: 0;
  //     border-top: .1rem solid $color-border;
  //   }
  // }
}

.summary-total {
  margin: 2rem -1.5rem;
  padding: 1.5rem;
  background: #eee;
  .checkout-sidebar &,
  #header-checkout & {
    margin-bottom: 0;
  }    
}


.toggle-hidden {
  // margin-top: 2rem;
  display: none;
  &.toggle-gifting {
    // padding: 1rem 1.5rem 1rem 4.9rem; // this matches the radio or checkbox width
    padding: 1rem 4.9rem;
    @media screen and (max-width: 767px) {
      padding: 1rem 1.5rem;
    }
  }
}
.toggle-content-padding {
  padding-top: 2rem;
}



.checkout-link {
  @include checkout-link;
  line-height: 2.8rem; // to equalize with elements in other columns that have icons
  text-decoration: underline;
  &:after {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    margin-left: 1rem;
    font-size: 0;
    line-height: 0;
    content: url('../svg/close.svg');
    @include transition(all, 0.4s);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  &.link-toggled {
    &:after {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    }
  }
}
.checkmark {
  width: 3.2rem;
  height: 3.2rem;
  fill: $color-green;
}

// used for lists of already entered data, e.g. addresses
// going with radio list instead
// .checkout-options {
//   list-style: none;
//   margin: 0 0 4rem 0;
//   padding: 0;
//   li {
//     margin: 0 -1.5rem;
//     padding: 1.5rem;
//     border-bottom: .1rem solid $color-border;
//     // @include transition(all);
//     .btn-hidden {
//       margin-top: 2rem;
//       display: none;
//     }
//     &:hover {
//       @include box-shadow(0,0,0,.2rem,rgb(0,0,0), inset);
//       .btn-hidden {
//         display: block;
//       }
//     }
//   }
// }

.checkout-multi-block {
  clear: both;
  header {
    h3 {
      margin: -2.1rem -1.5rem 2rem -1.5rem; // -2.1 so it covers an hr's that may be above this element
      padding: 0 1.5rem;
      line-height: 5rem;
      background: #eee;
      border-top: .1rem solid $color-black;
    }
  }
}

.checkout-gifting {
  margin: 2rem -1.5rem;
  padding: 2rem 1.5rem;
  border: .2rem solid $color-black;
  border-width: .2rem 0;
  .checkout-gifting-options {
    @include hidden-block;
  }
  .gifting-option {
    display: none;
    padding: 2rem 1.5rem;
  }
  // .checkout-link.link-toggled:after {
  //   display: inline-block;
  //   content: '';
  //   width: 1.2rem;
  //   height: 1.2rem;
  //   margin-left: 1rem;
  //   background: url(../svg/close.svg) no-repeat 50% 50%;
  //   background-size: 1.2rem 1.2rem;
  // }
}


.gifting-package {
  margin-bottom: 3rem;
  padding: 2rem;
  line-height: 1.3;
  text-align: center;
  border: .1rem solid $color-black;
  border-radius: .8rem;
  h4 {
    margin: 0 0 1rem 0;
  }
  > *:last-child {
    margin: 0;
  }
  a {
    text-decoration: none;
    h4 {
      text-decoration: underline;
    }
  }
  @media screen and (max-width: 767px) {
    max-width: 35rem;
    margin: 0 auto 3rem auto;
  }
}

.gift-message {
  text-transform: none;
  .checkout-gifting & {
    h4 {
      margin: 0;
      text-transform: none;
      line-height: 1.5;      
    }
  }
}
.gift-message-entered {
  padding: 1rem 1.5rem !important;
  // .edit-remove {
  //   text-align: left;
  // }
  svg {
    width: 2.4rem;
    height: 2.4rem;
  }
  .gift-message {
    h4 {
      margin: 0;
      text-transform: none;
      line-height: 1.5;
    }
    p {
      color: $color-gray-dark;
      line-height: 1.5;
    }
  }
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
.subhead {
  margin-bottom: 1rem;
  font-size: 2.2rem;
  text-transform: none;
}
.order-details-block {
  h3 {
    margin-bottom: .5rem;
  }
  p {
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}

// overriding default state from main site css
@media screen and (max-width: 767px) {
  .edit-remove {
    text-align: right;
  }
}


.checkout-hidden {
  @include hidden-block;
}

.arrival-date {
  font-size: 1.8rem;
  font-weight: 700;
}
.icon-shipping {
  width: 4.4rem;
  margin: .5rem 0 0 0;
  @media screen and (max-width: 767px) {
    margin-bottom: 1rem;
  }
}

.text-highlight {
  text-transform: uppercase;
  color: #177DC1;
}

.checkout-gifting-options {
  .product-details {
    img {
      padding-left: 40%;
    }
  }
}

.checkout-sidebar {
  @media screen and (max-width: 991px) {
    max-width: 40rem;
    margin: 0 auto;
  }
}


// change from default view
.product-details {
  h4, dt {
    font-weight: 400;
    text-transform: none;
  }
  dd {
    font-weight: 700;
    text-transform: none;
  }
}

// modals in checkout
.modal-checkout {
  .modal-content {
    border: 0;
  }
  .modal-body {
    overflow: auto;
  }
  .modal-footer {
    background: #eee;
    border: 0;
  }
  @media screen and (min-width: 768px) {
    .modal-body {
      padding: 4rem;
      max-height: calc(100vh - 18rem);
      overflow: auto;
    }
    .modal-content {
      padding-bottom: 6.5rem; // height of footer
    }
    .modal-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
    }
  }
  @media screen and (max-width: 767px) {
    .modal-backdrop {
      background: #eee;
      @include opacity(1);
    }
    .modal-content {
      @include box-shadow-none;
    }
    // .modal {
    //   position: fixed;
    //   top: 0;
    //   right: 0;
    //   bottom: 0;
    //   left: 0;
    //   width: 100vw;
    //   height: 100vh;
    //   overflow: hidden;
    // }

    // .modal-dialog {
    //   position: fixed;
    //   margin: 0;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   width: 100vw;
    //   height: 100vh;
    //   padding: 0;
    // }

    // .modal-content {
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   bottom: 0;
    //   left: 0;
    //   width: 100vw;
    //   height: 100vh;
    // }

    // .modal-header {
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   left: 0;
    //   width: 100%;
    // }

    // .modal-body {
    //   position: absolute;
    //   // top: 5.5rem;
    //   // bottom: 6.5rem;
    //   top: 0;
    //   bottom: 0;
    //   padding: 5.5rem 1.5rem 6.5rem 1.5rem;
    //   width: 100vw;
    //   height: 100vh;
    //   overflow: auto;
    // }

    .modal-footer {
      // position: absolute;
      // right: 0;
      // bottom: 0;
      // left: 0;
      // z-index: 10000000;
      .btn {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
    .dl-horizontal.meta-list { // need to preserve space in product listing so she can see the form open up
      dt {
        float: left !important;
        width: auto !important;
        padding-right: 1rem;
      }
      dd {
        margin-bottom: 0rem !important;
      }
    }
  }
}

.alert-checkout {
  // display: none;
  position: fixed;
  top: 5rem;
  left: 0;
  width: 100%;
  color: #b94a48;
  background: #eed3d7;
  visibility: hidden;
  opacity: 0;
  @include transition(all);
  &.visible {
    opacity: 1;
    visibility: visible;
  }
  .close {
    position: absolute;
    @include vertical-align;
    right: 1.5rem;
    @include opacity(1.0);
    svg {
      fill: #b94a48;
    }
  }
  .alert-checkout-inner {
    position: relative;
    max-width: $max-width;
    margin: 0 auto;
    padding: 1.5rem 4.5rem 1.5rem 1.5rem;
    background: none;
  }
  .media {
    margin: 0;
  }
  .media-object {
    width: 3rem;
  }
}

.giftcard-balance,
.giftcard-applied-content,
[data-toggle="giftcard-another"] {
  display: none;
}
.giftcard-icon-wrap {
  position: relative;
  width: 4rem;
  float: left;
}
.checkout-gift-card {
  &.checking-balance {
    .giftcard-balance {
      display: block;
    }
    [data-toggle="giftcard-another"] {
      display: inline-block;
    }
    .giftcard-form,
    [data-toggle="giftcard-balance"] {
      display: none;
    }
  }
  &.giftcard-applied {
    .giftcard-applied-content {
      display: block;
      margin-top: 1rem;
      .checkmark-static,
      h3 {
        display: none;
      }
      .checkout-link {
        display: block;
      }
    }
    .btn {
      margin-top: .5rem;
    }
    .giftcard-static-content,
    .giftcard-form,
    .giftcard-buttons,
    .checkout-link {
      display: none;
    }
    .checkmark {
      width: 2.4rem;
      height: 2.4rem;
    }
    .checkout-hidden {
      display: none !important;
    }
    // .checkmark-wrap {
    //   display: block;
    //   position: absolute;
    //   bottom: 0;
    //   right: 0;
    //   width: 3rem;
    //   height: 3rem;
    //   background: #fff;
    //   border-radius: 50%;
    //   svg {
    //     width: 2rem;
    //     height: 2rem;
    //   }
    // }
    
  }
}



// body.modal-open {
//     position: fixed;
//     overflow: hidden;
//     left:0;
//     right:0;
// }
// .modal-checkout {
//     -webkit-overflow-scrolling: auto;
// }
