$color-green: #7dd321;
$color-red: #b94a4b;


@mixin focus-label {
  top: .4rem;
  font-size: .9rem;
  color: #666;
  @include transform-none;
}

.form-labels {
  .form-group {
    margin-bottom: 3rem;
    position: relative;
    .form-control {
      color: $color-black;
      transition: all .2s ease-in-out;
      -webkit-appearance: none;
      // -webkit-box-shadow: none;
      //         box-shadow: none;
    }
    textarea.form-control  {
      padding: 1.2rem 1.6rem;
      line-height: 1.6;
    }
    label {
      position: absolute;
      z-index: 10;
      left: 1.7rem;
      margin: 0 !important;
      padding: 0;
      text-transform: none;
      font-size: 1.6rem;
      font-weight: 300;
      min-height: 0;
      line-height: 1.1;
      color: #999;
      transition: all .25s ease-in-out;
      @include vertical-align;
    }
    &.focus {
      [type='email'],
      [type='tel'],
      [type='text'],
      [type='password'] {
        padding-top: 1.2rem;
        padding-bottom: 0rem;
      }
      label {
        @include focus-label;
      }
    }
    &.focus-select {
      .btn.btn-lg.selectpicker {
        padding-top: 1.2rem;
        padding-bottom: 0rem;
        color: $color-black;
      }
      label {
        @include focus-label;
        z-index: 10;
      }
    }
    // temp css until we get the plugin added to the project.
    &:after {
      display: block;
      position: absolute;
      right: -2.6rem;
      @include vertical-align;
      width: 1.8rem;
      height: 1.8rem;
      content: '';
      opacity: 0;
      visibility: hidden;
      @include transition(all);
    }    
    &.field-valid {
      .form-control,
      .btn {
        border-color: $color-green;
      }
      &:after {
        opacity: 1;
        visibility: visible;
        content: url(../svg/checkout/check-green.svg);
      }
    }
    &.field-invalid {
      .form-control,
      .btn {
        border-color: $color-red;
      }
      &:after {
        opacity: 1;
        visibility: visible;
        content: url(../svg/checkout/close.svg);
      }
    }
  }
  .field-wrap { // use this wrapper to create space for input errors
    position: relative;
    width: calc(100% - 3rem);
  }
 
  // styled checkboxes and radios
  .checkbox,
  .radio {
    margin: 0 0 3rem 0;
    line-height: 2.4rem;
    input[type="checkbox"],
    input[type="radio"] {
      opacity: 0;
      width: 2.4rem;
      height: 2.4rem;
    }
    > label {
      width: 100%;
      padding-left: 0; // overrides bootstrap default not needed in this checkbox type
    }
    .input-styled {
      position: relative;
      display: block;
      padding-left: 3.2rem;
      text-transform: none;
      &:before,
      &:after {
        position: absolute;
        content: '';
        display: inline-block; // Needed for the line-height to take effect
      }
      &:after {
        content: '';
        background: #fff;
        width: 2.4rem;
        height: 2.4rem;
        border: .1rem solid $color-black;
        border-radius: .5rem;
        left: 0;
        top: 0;
      }
    }
    input[type="checkbox"]:checked + span:after,
    input[type="radio"]:checked + span:after {
      content: ''; // unhide
      background: $color-black url(/web_assets/svg/checkout/check.svg) 50% 50% no-repeat;
      background-size: 1.6rem 1.6rem;
    }
    .icon-paypal {
      width: 9rem;
      height: 2.4rem;
      margin-top: .3rem;
    }
  }
  .radio {
    .input-styled:after {
      // border: .1rem solid $color-black;
      border-radius: 50%;
    }
  }
  .radio-media-list {
    margin-bottom: 2rem;
    > .radio,
    > .checkbox {
      margin: 0;
      padding: 0;
      border-top: .1rem solid $color-border;
      &.border-dark {
        border-color: $color-black;
      }
      // &:first-child {
      //   border: 0;
      // }
      &.border-black {
        border-color: $color-black;
      }
      > label {
        display: block;
        padding: 1rem 1.5rem;
        text-transform: none;
        line-height: 1.4;
        // &:hover {
        //   background: #eee;
        // }
      }
      .input-styled {
        height: 2.4rem;
        padding-left: 0;
        &:before,
        &:after {
          position: static;
        }
      }
    }
    .checkout-toggle-content {
      padding: 1rem 1.5rem;
      background: #fff;
    }
    & + .radio-media-list {
      margin-top: -2rem;
    }
    // & + .radio-media-list {
    //   .radio,
    //   .checkbox {
    //     border-top: 0;
    //   }
    // }
  }
  // @media screen and (max-width: 767px) { 
    select,
    textarea,
    input {
      font-size: 1.6rem;
    }
  // }

  // .radio-list-alt {
  //   .radio,
  //   .checkbox {
  //     margin: 0;
  //     padding: 0;
  //     > label {
  //       display: block;
  //       padding: 1rem 1.5rem;
  //     }
  //   }
  //   .radio-media-list + & {
  //     margin-top: -2rem;
  //     border-top: .1rem solid $color-black;
  //   }
  // }


  .btn.btn-lg.selectpicker {
    font-size: 1.6rem;
    text-transform: none;
    color: #999;
    &:focus {
      border-color: #66afe9;
    }
  }
  .tooltip-inner {
    width: 28rem !important;
  }
}

.checkout-block {
  .radio-media-list {
    .radio,
    .checkbox {
      margin: 0 -1.5rem;
    }
  }
}

.label-heading {
  @include h3;
}


// ???
.form-control.selectpicker {
  visibility: hidden;
  opacity: 0;
  color: #fff;
}

// tooltips in form
.form-group.has-icon {
  .form-control {
    padding-right: 4rem;
  }
  .input-icon {
    display: block;
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    right: 1.5rem;
    @include vertical-align;
    svg {
      width: 1.6rem;
      height: 1.6rem;
      fill: #999;
    }
  }
}

.label-icon {
  margin: .5rem 0 0 1rem;
  width: 1.6rem;
  height: 1.6rem;
  svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: #999;
  }
}

// cc's in form
.form-group.has-cc {
  .form-control {
    padding-right: 8rem;
  }
  .input-icon-cc {
    display: block;
    position: absolute;
    right: 3.5rem;
    @include vertical-align;
    width: 4.5rem;
    height: 3rem;
    opacity: 0;
    visibility: hidden;
    @include transition(all);
    img {
      width: 100%;
      border: 0.1rem solid #ddd;
    }
  }
  &.field-valid {
    .input-icon-cc {
      opacity: 1;
      visibility: visible;
    }
  }
}

.char-count {
  margin: -3rem 0 2rem 0;
  font-size: 1.3rem;
  text-align: right;
}


.checkout-toggle {
  .radio-cancel {
    display: none;
  }
  &.active {
    .radio-cancel {
      display: inline-block;
    }
  }
}

