<ul>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt officia nisi rerum.</li>
  <li>Dolor totam eos, facere saepe, illum ab debitis dolores reiciendis beatae.</li>
  <li>Provident praesentium fugiat obcaecati laudantium vel hic voluptatum.
    <ul>
      <li>Enim accusamus fugit ut, tempore totam unde ipsam qui vel.</li>
      <li>Dolorum nulla quo, velit porro facilis aut cupiditate natus optio.</li>
    </ul>
  </li>
  <li>Aliquam similique, in nostrum quisquam asperiores perferendis odio nam tempora.</li>
  <li>Cum pariatur perferendis inventore dolore non beatae odio quod autem quisquam.</li>
</ul>