---
layout: page-collection
title: Home
top-link: pages
brand: chicos
---

{% comment %}
NOTE ON SHELF HEADERS
After launch, we're going to change the shelf headers to include a link wrapper. 
That change is not yet in the library, which is why the following shelf header 
modules use html markup and not includes.
{% endcomment %}

{% comment %}This is the wide container markup. Only one shelf header should be added here{% endcomment %}
<div class="content content-wide">
  <div class="container-fluid">
    {% include _molecules/modules/shelf.html moduleClass='' moduleLayout='' moduleImage='https://placeholdit.imgix.net/~text?txtsize=52&txt=Actual+size:3360x1200&w=3360&h=1200' moduleImageMobile='https://placeholdit.imgix.net/~text?txtsize=52&txt=Actual+size:767x767&w=767&h=767' moduleHeading='Shelf Header Left (Full Image)' moduleCopy='<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor cupiditate, aut rem maxime voluptatibus ipsum eos accusamus optio sequi.</p>' moduleLinkUrl='#' buttonLabel='Shop the Look' buttonClass='btn-responsive' moduleExtra='<a href="#">optional element</a>' %}
    <hr class="hr-mobile">
  </div><!-- .container-fluid -->
</div><!-- .content.content-wide -->

{% comment %}All other content modules go in the default .content wrapper{% endcomment %}
<div class="content">
  <div class="container-fluid">
    {% include _molecules/modules/shelf.html moduleClass='' moduleLayout='' moduleImage='https://placeholdit.imgix.net/~text?txtsize=52&txt=Actual+size:2400x1200&w=2400&h=1200' moduleImageMobile='https://placeholdit.imgix.net/~text?txtsize=52&txt=Actual+size:767x767&w=767&h=767' moduleHeading='Shelf Header Left (Full Image)' moduleCopy='<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor cupiditate, aut rem maxime voluptatibus ipsum eos accusamus optio sequi.</p>' moduleLinkUrl='#' buttonLabel='Shop the Look' buttonClass='btn-responsive' moduleExtra='<a href="#">optional element</a>' %}
    <hr class="hr-mobile">

    {% include _molecules/modules/shelf-header-text.html moduleClass='module-home-text' moduleHeading='<span class="percent-off">Sale</span> <span class="module-subheading">up to 60% off select styles</span>' buttonLabel='Shop the Sale' moduleLinkUrl='/store/sale' buttonClass='btn-responsive' moduleExtra='<a href="#" data-toggle="modal" data-target="#modal-details-2">Details</a>' %}

    <div class="row">
      <div class="col-sm-6">
        {% include _molecules/modules/img-overlay.html moduleClass='home-combo module-copy-white' moduleLayout='module-img-overlay-bot' moduleHeading='Make a Bold Statement' moduleLink='Shop Jewelry' moduleLinkUrl='/store/category/Jewelry/cat40005/' moduleImage='https://www.chicos.com/web_assets/flex/img/alpha/hp_jewelry.jpg?resize=767px:*&output-quality=85' %}
      </div>
      <div class="col-sm-6">
        {% include _molecules/modules/img.html moduleClass='home-combo' moduleVideo='yes' moduleHeading='Explore the new chicos.com' moduleCopy='<p>More simple. More new. More spectacular.</p>' moduleImage='https://www.chicos.com/web_assets/flex/img/alpha/hp_chicos_web.jpg?output-quality=85' moduleLink='Watch the Video' moduleLinkUrl='#' moduleExtra='data-toggle="modal" data-target="#modal-video"' %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        {% include _molecules/modules/img.html moduleClass='home-combo' moduleHeading='Our Most Elevated Collection' moduleImage='https://www.chicos.com/web_assets/flex/img/alpha/hp_black_label.jpg?resize=767px:*&output-quality=85' moduleLink='Shop Black Label' moduleLinkUrl='/store/page.jsp?id=102210161' %}
      </div>
      <div class="col-sm-6">
        {% include _molecules/modules/img-overlay.html moduleClass='home-combo module-copy-white' moduleLayout='module-img-overlay-bot' moduleHeading='Make Some Waves' moduleCopy='<p>Go from sea to scene with ease.</p>' moduleLinkUrl='/store/category/Swim/cat9659293/' moduleLink='Shop Swim Boutique' moduleImage='https://www.chicos.com/web_assets/flex/img/alpha/hp_swim_boutique.jpg?&output-quality=85' %}
      </div>
    </div>

    {% comment %}
    PRODUCT CAROUSEL NOTES
    This include calls the static product carousel{% endcomment %}
    {% include _molecules/carousels/product-grid.html moduleTitle='New Arrivals' %}
    {% comment %}This include calls the production version of the product carousel. Products will not show up in Coreyweb.
    {% include _molecules/carousels/product-grid-production.html moduleTitle='New Arrivals' moduleDpCategory='/store/category/New+Arrivals/cat40036/' %}
    {% endcomment %}
    {% include _molecules/modules/social.html moduleTitle='Connect with Us' moduleLabel1='Facebook' moduleLabel2='Pinterest' moduleLabel3='Instagram' moduleLabel4='YouTube' moduleImage1='https://www.chicos.com/web_assets/flex/img/alpha/hp_facebook.jpg?resize=480px:*&output-quality=85' moduleImage2='https://www.chicos.com/web_assets/flex/img/alpha/hp_pinterest.jpg?resize=480px:*&output-quality=85' moduleImage3='https://www.chicos.com/web_assets/flex/img/alpha/hp_instagram.jpg?resize=480px:*&output-quality=85' moduleImage4='https://www.chicos.com/web_assets/flex/img/alpha/hp_youtube.jpg?resize=480px:*&output-quality=85' moduleLink1='//www.facebook.com/LoveChicos/' moduleLink2='//www.pinterest.com/chicos/' moduleLink3='//www.instagram.com/lovechicos/' moduleLink4='//www.youtube.com/user/lovechicos/' %}

    {% comment %}This molecule is housed on the blog. Do not style.{% endcomment %}
    {% include _molecules/modules/blog.html %}
  </div><!-- .container-fluid -->
</div><!-- .content -->

<!-- modals -->
<div class="modal modal-simple fade" id="modal-details-2" tabindex="-1" role="dialog" aria-labelledby="modal-details-2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close close-corner" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <p>
          Valid on select styles only, while supplies last. Offer valid in U.S. boutiques (excluding outlets), online at chicos.com and at 888.855.4986. Offer not valid on orders shipping to Canada. Marked prices reflect savings off original ticketed price. No adjustment on prior purchases. Offer not valid on purchase of items being sold to benefit charity, Gottex swimwear, purchase of gift cards, previously purchased merchandise, chicos.com clearance items, taxes, or shipping. If you return a portion of your purchase, an applicable portion of your original discount will be forfeited. Not valid if reproduced. No cash value. Non-transferable. Exclusions applied. Limited time only.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-video fade" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="modal-video" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-inner">
          <div id="video-wrapper" class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="" data-iframe-src="https://www.youtube.com/embed/GR4B_KKUNs4?modestbranding=0&showinfo=0&rel=0" allowfullscreen></iframe>
          </div>
        </div><!-- .modal-inner -->
      </div>
    </div>
  </div>
</div><!-- .modal -->
<!-- /modals -->