{% include _templates/header.html %}

<main role="main">
  <div class="content content-pad">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          {% include _molecules/navigation/secondary-customer.html %}
        </div>
        <div class="col-md-10">
          <h1>{{page.title}}</h1>
          <div class="row">
            <div class="col-sm-8">
              <article>
                <div class="longform">
                  {{content}}
                </div>
              </article>
            </div>
            <div class="col-sm-4">
              {% include _molecules/components/chat.html %}
            </div>
          </div>
        </div>
      </div>
    </div><!-- .container-fluid -->
  </div><!-- .content -->
</main>

{% include _templates/footer.html %}