<nav class="nav-secondary-collection">
  <h4>Zenergy</h4>
  <ul>
    <li class="nav-secondary-all"><a href="">Show All <i class="fa fa-caret-right"></i></a></li>
    <li class="nav-secondary-parent">Shop by Category <i class="fa fa-caret-down"></i>
      <ul>
        <li><a href="">Jackets &amp; Vests</a></li>
        <li><a href="">Tops</a></li>
        <li><a href="">Bottoms</a></li>
        <li><a href="">Dresses &amp; Skirts</a></li>
      </ul>
    </li>
    <li class="nav-secondary-parent">Featured Collections <i class="fa fa-caret-down"></i>
      <ul>
        <li><a href="">Retreat</a></li>
        <li><a href="">Golf Collection</a></li>
        <li><a href="">Online Only</a></li>
        <li><a href="">Petites</a></li>
      </ul>
    </li>
    <li><a href="">Swim</a></li>
    <li class="active"><a href="">Accessories</a></li>
    <li><a href="">Jewelry</a></li>
  </ul>
</nav>