<div role="tabpanel" class="reviews-tabs">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews and Fit (2)</a></li>
    <li role="presentation"><a href="#questions" aria-controls="questions" role="tab" data-toggle="tab">Have a question?<span class="hidden-xs"> Ask and answer</span></a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="reviews">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae vitae dignissimos eligendi est voluptatum, veritatis consequuntur repellat temporibus, culpa commodi perspiciatis illo praesentium id molestiae voluptatibus, atque doloremque rerum libero?</p>
    </div>
    <div role="tabpanel" class="tab-pane" id="questions">
      <p>Omnis a asperiores dolore distinctio autem vel. Blanditiis sapiente repudiandae dignissimos totam a quam obcaecati, sint error voluptates corporis deserunt laboriosam, nihil.</p>
    </div>
  </div>
</div>
