<section class="example-wrap">
  <header>
    <h2 id="blocks-media">Media</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/blocks/media.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/blocks/media.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="blocks-dl-wrap">Definition List with Heading</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/blocks/dl-wrap.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/blocks/dl-wrap.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="blocks-product-details">Product Details (replacing all table-based layouts)</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/blocks/product-details.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/blocks/product-details.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="blocks-product-details-bag">Product Details (shopping bag)</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/blocks/product-details.html quantitySelect='yes' %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/blocks/product-details.html quantitySelect='yes' %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="blocks-detail-wrap">Detail Wrap</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/blocks/detail-wrap.html detailLabel='Detail Heading' %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/blocks/detail-wrap.html detailLabel='Detail Heading' %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="blocks-detail-wrap-dl">Detail Wrap with Definition List</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/blocks/detail-wrap-dl.html detailLabel='Detail Heading' %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/blocks/detail-wrap-dl.html detailLabel='Detail Heading' %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="blocks-detail-wrap-cols">Detail Wrap with Columns</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/blocks/detail-wrap-cols.html detailLabel='Detail Heading' %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/blocks/detail-wrap-cols.html detailLabel='Detail Heading' %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="blocks-detail-wrap-table">Detail Wrap with Table (to be replaced by product details molecule)</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/blocks/detail-wrap-table.html detailLabel='Detail Heading' %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/blocks/detail-wrap-table.html detailLabel='Detail Heading' %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="blocks-detail-wrap-sidebar">Detail Wrap in Sidebar</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/blocks/detail-wrap-sidebar.html detailLabel='Detail Heading' %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/blocks/detail-wrap-sidebar.html detailLabel='Detail Heading' %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="blocks-gift-card">Gift Card</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/blocks/gift-card.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/blocks/gift-card.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="blocks-mbox-gift-card-balance">MBOX and Gift Card Balance</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/blocks/mbox-gift-card-balance.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/blocks/mbox-gift-card-balance.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="blocks-cc">Credit Card</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/blocks/cc.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/blocks/cc.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="blocks-address">Address</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/blocks/address.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/blocks/address.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="blocks-sidebar">Sidebar Item</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/blocks/sidebar.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/blocks/sidebar.html %}
      {% endhighlight %}
    </div>
  </div>
</section>

<section class="example-wrap">
  <header>
    <h2 id="blocks-banner-secondary">Banner (Secondary CTA)</h2>
    <p><a class="toggle-code-example" href="#"><i class="fa fa-code"></i></a></p>
  </header>
  <div class="example">
    <div class="example-display">
      {% include _molecules/blocks/banner-secondary.html %}
    </div>
    <div class="example-code">
      {% highlight html %}
      {% include _molecules/blocks/banner-secondary.html %}
      {% endhighlight %}
    </div>
  </div>
</section>