<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-sm-6">
        <p>
          <a href=""><img class="img-responsive" src="http://placehold.it/300x300&text=Gift+Card" alt=""></a>
        </p>
        <h2>Gift Card</h2>
        <p>Gift boxed and delivered by mail.{% if page.brand == 'soma' %}<br>{% endif %} Redeemable in boutiques and online.</p>
        <p><a href="" class="btn btn-primary">Shop Now</a></p>
      </div>
      <div class="col-sm-6">
        <p>
          <a href=""><img class="img-responsive" src="http://placehold.it/300x300&text=Gift+Card" alt=""></a>
        </p>
        <h2>eGift Card</h2>
        <p>Emailed to the lucky recipient.{% if page.brand == 'soma' %}<br>{% endif %} Redeemable in boutiques and online.</p>
        <p><a href="" class="btn btn-primary">Shop Now</a></p>
      </div>
    </div>
    <h3{% if page.brand == 'soma' %} class="h4"{% endif %}>
      Already have a gift card?
    </h3>
    <p>
      <a href="" class="btn btn-default btn-sm">Check Gift Card Balance</a> <a href="" class="btn btn-link">View gift card terms and conditions.</a>
    </p>
  </div>
  <div class="col-md-4 hidden-sm hidden-xs">
    <img class="img-responsive" src="http://placehold.it/400x800&text=Secondary+Image" alt="">
  </div>
</div>

